<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diciseis"></ion-back-button>
    </ion-buttons>
    <ion-title>FO-11 Entrevista de Testigos para la Investigación Causa Raíz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>1. GENERALES</ion-label>
          </ion-item-divider>
          <br>
          <ion-item>
            <ion-label>Lugar de la entrevista</ion-label>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Fecha de la entrevista</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Nombre del entrevistado</ion-label>
            <ion-textarea placeholder="Escribe"></ion-textarea> 
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Puesto del entrevistado</ion-label>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Funciones</ion-label>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>2. NOMBRES DE LOS PARTICIPANTES O TESTIGOS DEL INCIDENTE</ion-label>
          </ion-item-divider>
          <br>
          <ion-item>
            <ion-textarea placeholder="Nombre" rows="3"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Nombre" rows="3"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Nombre" rows="3"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>3. EQUIPOS, MATERIALES, VEHÍCULOS, HERRAMIENTAS QUE INTEREVINIERON EN EL HECHO</ion-label>
          </ion-item-divider>
          <br>
          <ion-item>
            <ion-textarea placeholder="Escribe" rows="3"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Escribe" rows="3"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Escribed" rows="3"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>4. CUESTIONAMIENTOS</ion-label>
          </ion-item-divider>
          <br>
          <ion-item>
            <ion-label>¿Qué actividades realizaba antes de ocurrir el incidente?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿Participaron otros trabajadores en el incidente?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿En qué condiciones se encontraban los equipos, herramientas, accesorios?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿La herramienta o accesorios eran apropiados para realizar el trabajo?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿Observó alguna condición anormal antes de ocurrir el incidente ?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿Observó algún acto inseguro antes de ocurrir el incidente?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿Cómo ocurrió el incidente?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>¿Cuántas horas trabajó antes del incidente?</ion-label>
            <ion-textarea placeholder="Escribe" rows="4"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
