<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Marca de agua e Icono de la estacion de servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" style="margin: auto; display: block;">
        <p style="text-align: justify;">Este apartado es  importante debido  a que debes de poner el icono de tu estación de servicio ademas de tu marca de agua.</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Icono</ion-card-title>
            <ion-card-subtitle>Icono: 310 X461 pixeles.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput></ion-input>
              <img [src]="fotoSeleccionada || '../../../assets/Imagenes/Elemento 1/1_politica.png'" style="width: 30%; display: block; margin: auto;" alt="No image">
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Marca de agua</ion-card-title>
            <ion-card-subtitle>Marca de agua: 310 X461 pixeles.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-input type="file" class="d-none" (change)="onPhotoSelected2($event)" #photoInput2></ion-input>
              <img [src]="fotoSeleccionada2 || '../../../assets/Imagenes/Elemento 1/1_politica.png'" style="width: 30%; display: block; margin: auto;" alt="No image">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
