<ion-header>
  <ion-toolbar>
    <ion-title>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/punto-once"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item>
    <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
</ion-item>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides mode="ios" pager="ios" scrollbar="ios"> 
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                <br>
                <img src="../../../assets/icon/iconosPunto11/doc5/motoBomba.png" alt="" class="image">
                <br><br>
                <h1>MOTOBOMBAS</h1>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide >
            <ion-card class="sliders">
              <ion-card-content>
                <ion-card-title>Motobombas</ion-card-title>
                  <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                  <br>
                  <h4>Cajas de Conexiones y sello EYS (tapón y empaque)</h4>
                  <h3></h3>
                   <ion-grid fixed>
                     <ion-row>
                       <ion-col size-md="4">
                          <ion-item>
                            <ion-label>MG</ion-label>
                            <ion-checkbox></ion-checkbox>
                          </ion-item>
                       </ion-col>
                       <ion-col size-md="4">
                          <ion-item>
                              <ion-label>MG</ion-label>
                              <ion-checkbox></ion-checkbox>
                            </ion-item>
                       </ion-col>
                       <ion-col size-md="4">
                          <ion-item>
                              <ion-label>DL</ion-label>
                              <ion-checkbox></ion-checkbox>
                            </ion-item>
                       </ion-col>
                       <br>
                     </ion-row>
                     <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                     <br><br>
                     <ion-item color="success">
                     </ion-item>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card class="sliders">
                <ion-card-content>
                  <ion-card-title>Motobombas</ion-card-title>
                    <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                    <br>
                    <h4>Conexión a tierra</h4>
                    <h3></h3>
                     <ion-grid fixed>
                       <ion-row>
                         <ion-col size-md="4">
                            <ion-item>
                              <ion-label>MG</ion-label>
                              <ion-checkbox></ion-checkbox>
                            </ion-item>
                         </ion-col>
                         <ion-col size-md="4">
                            <ion-item>
                                <ion-label>MG</ion-label>
                                <ion-checkbox></ion-checkbox>
                              </ion-item>
                         </ion-col>
                         <ion-col size-md="4">
                            <ion-item>
                                <ion-label>DL</ion-label>
                                <ion-checkbox></ion-checkbox>
                              </ion-item>
                         </ion-col>
                         <br>
                       </ion-row>
                       <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                     </ion-grid>
                  </ion-card-content>
              </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card class="sliders">
                  <ion-card-content>
                    <ion-card-title>Motobombas</ion-card-title>
                      <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                      <br>
                      <h4>Tubería Conduit</h4>
                      <h3></h3>
                       <ion-grid fixed>
                         <ion-row>
                           <ion-col size-md="4">
                              <ion-item>
                                <ion-label>MG</ion-label>
                                <ion-checkbox></ion-checkbox>
                              </ion-item>
                           </ion-col>
                           <ion-col size-md="4">
                              <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                           </ion-col>
                           <ion-col size-md="4">
                              <ion-item>
                                  <ion-label>DL</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                           </ion-col>
                           <br>
                         </ion-row>
                         <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                       </ion-grid>
                    </ion-card-content>
                </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Motobombas</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Cable de sensor en ben estado</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                      <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                      <br>
                      <img src="../../../assets/icon/iconosPunto11/doc5/contronInventario.png" alt="" class="image">
                      <br><br>
                      <h1>Control de inventarios</h1>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Control de inventarios</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Cable buen estado</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Control de inventarios</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Cajas de Conexiones y sello EYS (tapón y empaque)</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                      <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                      <br>
                      <img src="../../../assets/icon/iconosPunto11/doc5/detectorFugas.png" alt="" class="image">
                      <br><br>
                      <h1>Detector de fugas (sensor)</h1>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Detector de fugas (sensor)</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Cable de sensor en buen estado.</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Detector de fugas (sensor)</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Contenedor limpio, seco y hermético.</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Detector de fugas (sensor)</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Caja de conexiones y sello EYS con tapón</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                      <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                      <br>
                      <img src="../../../assets/icon/iconosPunto11/doc5/tuberiaVenteo.png" alt="" class="image">
                      <br><br>
                      <h1>Caja de conexiones y sello EYS con tapón Tubería de venteo</h1>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              <ion-slide>
                  <ion-card>
                    <ion-card-content>
                      <ion-card-title>Tubería de venteo</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Conexión a tierra</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="4">
                                <ion-item>
                                  <ion-label>MG</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>MG</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <ion-col size-md="4">
                                <ion-item>
                                    <ion-label>DL</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>
                <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                      <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                      <br>
                      <img src="../../../assets/icon/iconosPunto11/doc5/pozoObservacion.png" alt="" class="image">
                      <br><br>
                      <h1>Caja de conexiones y sello EYS con tapón Tubería de venteo</h1>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
             
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Pozos de observación</ion-card-title>
                        <h3><b>Selecciona una de las siguientes opciones: </b></h3>
                        <br>
                        <h4>Sello EYS y cable</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="6">
                                <ion-item>
                                  <ion-label>C</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                      <h4><b>(TANQUES DE ALMACENAMIENTO)</b></h4>
                      <br>
                      <img src="../../../assets/icon/iconosPunto11/doc5/paroEmergencia.png" alt="" class="image">
                      <br><br>
                      <h1>Caja de conexiones y sello EYS con tapón Tubería de venteo</h1>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              <ion-slide>
                  <ion-card class="sliders">
                    <ion-card-content>
                      <ion-card-title>Paro de emergencia</ion-card-title>
                        <h3><b>Sello EYS con tapón y tubería Conduit</b></h3>
                        <br>
                        <h4>Sello EYS y cable</h4>
                        <h3></h3>
                         <ion-grid fixed>
                           <ion-row>
                             <ion-col size-md="6">
                                <ion-item>
                                  <ion-label>C</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                             </ion-col>
                             <br>
                           </ion-row>
                           <ion-textarea placeholder="Escribe tus observaciones"></ion-textarea>
                         </ion-grid>
                      </ion-card-content>
                  </ion-card>
              </ion-slide>

            <ion-slide>
                <ion-card class="sliders">
                  <ion-card-content>
                    <h3>INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</h3>
                    <h4><b>(DISPENSARIOS)</b></h4>
                    <br>
                    <img src="../../../assets/icon/iconosPunto11/doc5/dispensario.png" alt="" class="image">
                    <br><br>
                  </ion-card-content>
                </ion-card>
              </ion-slide>

              <ion-slide>
                 <ion-card class="sliders">
                    <ion-card-header>
                      <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                      <ion-card-title>Anclaje a basamento </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <h1>Conexión a tierra</h1>
                      <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                      <ion-col>
                        <ion-grid fixed>
                          <ion-row>
                            <ion-col size-md="6">
                                <ion-item>
                                    <ion-label>Uno</ion-label>
                                    <ion-radio value="1"></ion-radio>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label>Dos</ion-label>
                                    <ion-radio value="2"></ion-radio>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label>Tres</ion-label>
                                    <ion-radio value="3"></ion-radio>
                                  </ion-item>
                            </ion-col>
                            <ion-col size-md="6">
                                <ion-item>
                                    <ion-label>Cuatro</ion-label>
                                    <ion-radio value="4"></ion-radio>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label>Cinco</ion-label>
                                    <ion-radio value="5"></ion-radio>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label>Seis</ion-label>
                                    <ion-radio value="6"></ion-radio>
                                  </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-item>
                          <ion-textarea placeholder="Observaciones"></ion-textarea>
                        </ion-item>
                        <br><br>
                        <ion-item-divider color="danger">
                        </ion-item-divider>
                        <ion-item-divider color="primary">
                        </ion-item-divider>
                      </ion-col>
                    </ion-card-content>
                  </ion-card>
              </ion-slide>

              <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Contenedor </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Cable de sensor </h1>
                       <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                       <ion-col>
                          <ion-grid fixed>
                            <ion-row>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Uno</ion-label>
                                      <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Dos</ion-label>
                                      <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Tres</ion-label>
                                      <ion-radio value="3"></ion-radio>
                                    </ion-item>
                              </ion-col>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Cuatro</ion-label>
                                      <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Cinco</ion-label>
                                      <ion-radio value="5"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Seis</ion-label>
                                      <ion-radio value="6"></ion-radio>
                                    </ion-item>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-item>
                            <ion-textarea placeholder="Observaciones"></ion-textarea>
                          </ion-item>
                          <br><br>
                          <ion-item-divider color="danger">
                          </ion-item-divider>
                          <ion-item-divider color="primary">
                          </ion-item-divider>
                        </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>

               <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Contenedor </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Cajas de conexiones y sellos EYS con tapón</h1>
                       <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                      <ion-col>
                          <ion-grid fixed>
                            <ion-row>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Uno</ion-label>
                                      <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Dos</ion-label>
                                      <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Tres</ion-label>
                                      <ion-radio value="3"></ion-radio>
                                    </ion-item>
                              </ion-col>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Cuatro</ion-label>
                                      <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Cinco</ion-label>
                                      <ion-radio value="5"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Seis</ion-label>
                                      <ion-radio value="6"></ion-radio>
                                    </ion-item>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-item>
                            <ion-textarea placeholder="Observaciones"></ion-textarea>
                          </ion-item>
                          <br><br>
                          <ion-item-divider color="danger">
                          </ion-item-divider>
                          <ion-item-divider color="primary">
                          </ion-item-divider>
                        </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>
                                       <!-- mbfbfbbfjbfjbfjbf -->
               <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Estructuras y conexiones cercanas </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Sellos EYS con tapón y tubería Conduit</h1>
                       <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                       <ion-col>
                          <ion-grid fixed>
                            <ion-row>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Uno</ion-label>
                                      <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Dos</ion-label>
                                      <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Tres</ion-label>
                                      <ion-radio value="3"></ion-radio>
                                    </ion-item>
                              </ion-col>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Cuatro</ion-label>
                                      <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Cinco</ion-label>
                                      <ion-radio value="5"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Seis</ion-label>
                                      <ion-radio value="6"></ion-radio>
                                    </ion-item>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-item>
                            <ion-textarea placeholder="Observaciones"></ion-textarea>
                          </ion-item>
                          <br><br>
                          <ion-item-divider color="danger">
                          </ion-item-divider>
                          <ion-item-divider color="primary">
                          </ion-item-divider>
                        </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>

               <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Paros de emergencia </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Sellos EYS con tapón y tubería Conduit </h1>
                       <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                       <ion-col>
                          <ion-grid fixed>
                            <ion-row>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Uno</ion-label>
                                      <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Dos</ion-label>
                                      <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Tres</ion-label>
                                      <ion-radio value="3"></ion-radio>
                                    </ion-item>
                              </ion-col>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Cuatro</ion-label>
                                      <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Cinco</ion-label>
                                      <ion-radio value="5"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Seis</ion-label>
                                      <ion-radio value="6"></ion-radio>
                                    </ion-item>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-item>
                            <ion-textarea placeholder="Observaciones"></ion-textarea>
                          </ion-item>
                          <br><br>
                          <ion-item-divider color="danger">
                          </ion-item-divider>
                          <ion-item-divider color="primary">
                          </ion-item-divider>
                        </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>

               <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Registros eléctricos </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Tubería Conduit</h1>
                       <h3>Selecciona dependiendo a la gravedad que presenta</h3>
                       <ion-col>
                          <ion-grid fixed>
                            <ion-row>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Uno</ion-label>
                                      <ion-radio value="1"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Dos</ion-label>
                                      <ion-radio value="2"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Tres</ion-label>
                                      <ion-radio value="3"></ion-radio>
                                    </ion-item>
                              </ion-col>
                              <ion-col size-md="6">
                                  <ion-item>
                                      <ion-label>Cuatro</ion-label>
                                      <ion-radio value="4"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Cinco</ion-label>
                                      <ion-radio value="5"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label>Seis</ion-label>
                                      <ion-radio value="6"></ion-radio>
                                    </ion-item>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-item>
                            <ion-textarea placeholder="Observaciones"></ion-textarea>
                          </ion-item>
                          <br><br>
                          <ion-item-divider color="danger">
                          </ion-item-divider>
                          <ion-item-divider color="primary">
                          </ion-item-divider>
                        </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>

               <ion-slide>
                  <ion-card class="sliders">
                     <ion-item>
                       <ion-icon name="save" size="large"  ios="ios-save" color="secondary" type="submit" slot="end"></ion-icon>
                     </ion-item>
                     <ion-card-header>
                       <ion-card-subtitle>DISPENSARIOS</ion-card-subtitle>
                       <ion-card-title>Paros de emergencia </ion-card-title>
                     </ion-card-header>
                     <ion-card-content>
                       <h1>Sellos EYS con tapón y tubería Conduit </h1>
                       <h3>Selecciona un numero dependiendo a la gravedad que presenta</h3>
                       <ion-col>
                         <ion-item>
                           <ion-label>Uno</ion-label>
                           <ion-radio value="1"></ion-radio>
                         </ion-item>
                         <ion-item>
                           <ion-textarea placeholder="Observaciones"></ion-textarea>
                         </ion-item>
                       </ion-col>
                     </ion-card-content>
                   </ion-card>
               </ion-slide>
        </ion-slides>
      </ion-col>
      
    </ion-row>
    <ion-tabs>

        <ion-tab-bar slot="bottom" color="dark">
          <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2">
            <ion-icon name="eye"></ion-icon>
            <ion-label>Auditorias</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab3">
            <ion-icon name="git-compare"></ion-icon>
            <ion-label>Procesos</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab4" (click)="logout()">
            <ion-icon name="power"></ion-icon>
            <ion-label>Cerrar Sesion</ion-label>
          </ion-tab-button>
          
        </ion-tab-bar>
      
      </ion-tabs>
  </ion-grid>
</ion-content>
