<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Elemento 8</ion-title>
    <hr class="linea"> 
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goListaMaestra()" class="carta">
          <ion-card-header>
            <ion-card-title>FS-02 LISTA DE MAESTRA DE DOCUMENTOS INTERNOS</ion-card-title>
          </ion-card-header>
          <img  class="ion-padding" src="../../../assets/imagenes/Elemento8/8_lista-01 (1).png"  style="width: 30%; height: auto; margin: auto; display: block;" />
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)="goSolicitudCambios()" class="carta">
            <ion-card-header>
              <ion-card-title>FS-03 SOLICITUD DE CAMBIOS</ion-card-title>
            </ion-card-header>
            <img  class="ion-padding" src="../../../assets/imagenes/Elemento8/8_solicitudcambios-01 (1).png"  style="width: 30%; height: auto; margin: auto; display: block;" />
          </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)="goListaDistribucion()" class="carta">
            <ion-card-header>
              <ion-card-title>FS-04 LISTA DE DISTRIBUCIÓN DE DOCUMENTOS</ion-card-title>
            </ion-card-header>
            <img  class="ion-padding" src="../../../assets/imagenes/Elemento8/8_listadistribucion (1).png"  style="width: 30%; height: auto; margin: auto; display: block;" />
          </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)="goprocedimiento()" class="carta">
            <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
            <img  class="ion-padding" src="../../../assets/imagenes/Elemento8/8_procedimiento-01.png"  style="width: 30%; height: auto; margin: auto; display: block;" />
          </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)="goEvidencia()" class="carta">
            <ion-card-header>
              <ion-card-title>Evidencia</ion-card-title>
            </ion-card-header>
            <img  class="ion-padding" src="../../../assets/imagenes/Elemento8/8_lista-01 (1).png"  style="width: 30%; height: auto; margin: auto; display: block;" />
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
