<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>X. CONTROL DE ACTIVIDADES Y PROCESOS</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDiez01()" class="fondo">
          <img class="ion-padding" height="200px" width="auto" src="../../../assets/OMS/Elemento 10/10_admintecnologia-01.png" />
          <ion-card-header>
            <ion-card-title>FS-19 ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDiez02()" class="fondo">
          <ion-card-header>
            <img class="ion-padding" height="200px" width="auto" src="../../../assets/OMS/Elemento 10/10_permisotrabajopeligroso-01.png" />
            <ion-card-title>FO-09 PERMISO DE TRABAJO</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDiez03()" class="fondo">
          <ion-card-header>
            <img class="ion-padding" height="200px" width="auto" src="../../../assets/OMS/Elemento 10/10_evidencia-01.png" />
            <ion-card-title>Subir Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>