<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">X. CONTROL DE ACTIVIDADES Y PROCESOS</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" class="carta" (click)="goDiezProcedimiento()">
          <img src="../../../assets/Imagenes/1_procedimiento.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" class="carta" (click)="goDiezPersonal()">
          <img src="../../../assets/Imagenes/Elemento 10/cambio_de_personal.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-CP-01 Administración de cambio de Personal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" class="carta" (click)="goDiezTecnologia()">
          <img src="../../../assets/Imagenes/Elemento 10/administracion de cambios de tecnologia.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-CT-01 Administración de cambio de Tecnología</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" class="carta" (click)="goDiezOperacion()">
          <img src="../../../assets/Imagenes/Elemento 10/proced_operacion.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimientos de Operación</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" class="carta" (click)="goDiezTrabajo()">
          <img src="../../../assets/Imagenes/Elemento 10/trabajo_seguro.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimientos de Trabajo Seguro</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>