<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>X. CONTROL DE ACTIVIDADES Y PROCESOS</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-label>Procedimiento</ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>P-SA-10 CONTROL DE ACTIVIDADES Y DE PROCESOS</ion-label>
              <ion-button
                href='assets/docs/Elemento 10/P-SA-10 CONTROL DE ACTIVIDADES Y DE PROCESOS.pdf'
                fill="clear"
                shape="round"
                download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <div>
              <hr class="linea1">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-label>Procedimiento de Administración de cambio de Personal</ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>P-CP-01 ADMINISTRACIÓN DE CAMBIO DE PERSONAL</ion-label>
              <ion-button href="assets/docs/Elemento 10/Personal/P-CP-01 ADMINISTRACION DE CAMBIO DE PERSONAL.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <div>
              <hr class="linea1">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-label>Procedimiento de Administración de cambio de Tecnología</ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>P-CT-01 ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA</ion-label>
              <ion-button href="assets/docs/Elemento 10/Tecnologia/P-CT-01 ADMINISTRACION DE CAMBIOS DE TECNOLOGÍA.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <div>
              <hr class="linea1">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-label>Procedimientos de Operación</ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>P-OP-01 RECEPCIÓN DE AUTOTANQUE Y DESCARGA DE PRODUCTOS A TANQUE DE ALMACENAMIENTO</ion-label>
              <ion-button href="assets/docs/Elemento 10/Operacion/P-OP-01 RECEPCIÓN DE AUTOTANQUE Y DESCARGA DE PRODUCTOS A TANQUE DE ALMACENAMIENTO.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-OP-02 DESPACHO DE PRODUCTOS INFLAMABLES Y COMBUSTIBLES A VEHÍCULOS</ion-label>
              <ion-button href="assets/docs/Elemento 10/Operacion/P-OP-02 DESPACHO DE PRODUCTOS INFLAMABLES Y COMBUSTIBLES A VEHÍCULOS.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <div>
              <hr class="linea1">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-label>Procedimientos de Trabajo Seguro</ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>P-TS-01 ETIQUETA, CANDADEO Y BLOQUEO DE LINEAS ELÉCTRICAS</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-01 ETIQUETA, CANDADEO Y BLOQUEO DE LINEAS ELECTRICAS.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-TS-02 ETIQUETA, CANDADEO Y BLOQUEO DE LÍNEAS CON PRODUCTOS</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-02 ETIQUETA, CANDADEO Y BLOQUEO DE LÍNEAS CON PRODUCTOS.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-TS-03 TRABAJOS CON HERRAMIENTA QUE GENERA FUENTES DE IGNICIÓN</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-03 TRABAJOS CON HERRAMIENTA QUE GENERA FUENTES DE IGNICION.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-TS-04 TRABAJOS CON ESCALERAS O PLATAFORMAS EN ALTURAS MAYORES A 1.5 M</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-04 TRABAJOS CON ESCALERAS O PLATAFORMAS EN ALTURAS MAYORES A 1.5 M.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-TS-05 PARA TRABAJOS EN ÁREAS CONFINADAS</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-05 PARA TRABAJOS EN ÁREAS CONFINADAS.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>P-TS-06 PERMISO DE TRABAJO PELIGROSO</ion-label>
              <ion-button href="assets/docs/Elemento 10/Trabajo/P-TS-06 PERMISO DE TRABAJO PELIGROSO.pdf" download>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-button>
            </ion-item>
            <div>
              <hr class="linea1">
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>