<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Almacenamiento de Combustibles</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div>
            
            <h3 class="ion-text-center">
              Para cada aspecto se asigna la puntuación correspondiente a cada criterio en función de 
              la experiencia del evaluador. El valor máximo es 10.
            </h3>
            <h6 class="ion-text-center">(Deslice los recuardos)</h6>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Entrada maniobra de autotanque (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F1"
                    [(ngModel)]="datos.F1">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N1"
                    [(ngModel)]="datos.N1">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M1"
                    [(ngModel)]="datos.M1"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT1 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Toma muestra de producto (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F2"
                    [(ngModel)]="datos.F2">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N2"
                    [(ngModel)]="datos.N2"
                    ></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M2"
                    [(ngModel)]="datos.M2"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT2 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Conexión de mangueras (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F3"
                    [(ngModel)]="datos.F3">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N3"
                    [(ngModel)]="datos.N3">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M3"
                    [(ngModel)]="datos.M3">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT3 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Descarga de hidrocarburo (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F4"
                    [(ngModel)]="datos.F4"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N4"
                    [(ngModel)]="datos.N4">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M4"
                    [(ngModel)]="datos.M4">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT4 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Derrame durante el llenado (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F5"
                    [(ngModel)]="datos.F5">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N5"
                    [(ngModel)]="datos.N5"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M5"
                    [(ngModel)]="datos.M5"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT5 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F6"
                    [(ngModel)]="datos.F6">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N6"
                    [(ngModel)]="datos.N6">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M6"
                    [(ngModel)]="datos.M6">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT6 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Suelo</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F7"
                    [(ngModel)]="datos.F7">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N7"
                    [(ngModel)]="datos.N7">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M7"
                    [(ngModel)]="datos.M7">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT7 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F8"
                    [(ngModel)]="datos.F8">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N8"
                    [(ngModel)]="datos.N8">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M8"
                    [(ngModel)]="datos.M8">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT8 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Escurrimiento de autotanque (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F9"
                    [(ngModel)]="datos.F9">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N9"
                    [(ngModel)]="datos.N9">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M9"
                    [(ngModel)]="datos.M9">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT9 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Salida maniobra de autotanque (Recepción AT)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F10"
                    [(ngModel)]="datos.F10">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N10"
                    [(ngModel)]="datos.N10">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M10"
                    [(ngModel)]="datos.M10">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT10 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Almacenamiento derrame</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Suelo</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F11"
                    [(ngModel)]="datos.F11">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N11"
                    [(ngModel)]="datos.N11">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M11"
                    [(ngModel)]="datos.M11">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT11 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Almacenamiento derrame</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F12"
                    [(ngModel)]="datos.F12">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N12"
                    [(ngModel)]="datos.N12">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M12"
                    [(ngModel)]="datos.M12"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT12 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Venteo</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F13"
                    [(ngModel)]="datos.F13">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N13"
                    [(ngModel)]="datos.N13">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M13"
                    [(ngModel)]="datos.M13">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT13 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Venteo incendio</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F14"
                    [(ngModel)]="datos.F14"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N14"
                    [(ngModel)]="datos.N14"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M14"
                    [(ngModel)]="datos.M14">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT14 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Retiro de aguas aceitosas (purgado de agua)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F15"
                    [(ngModel)]="datos.F15">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N15"
                    [(ngModel)]="datos.N15">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1"
                    max="10"
                    name="M15"
                    [(ngModel)]="datos.M15">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT15 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Retiro de lodos (limpieza interior de tanque)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos Peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F16"
                    [(ngModel)]="datos.F16">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N16"
                    [(ngModel)]="datos.N16">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M16"
                    [(ngModel)]="datos.M16">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT16 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Retiro de aguas aceitosas y materiales impregnados (limpieza de bocatomas)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos Peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F17"
                    [(ngModel)]="datos.F17">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N17"
                    [(ngModel)]="datos.N17">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M17"
                    [(ngModel)]="datos.M17">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT17 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Generación de aguas aceitosas y materiales impregnados (limpieza del área)</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F18"
                    [(ngModel)]="datos.F18">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N18"
                    [(ngModel)]="datos.N18">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M18"
                    [(ngModel)]="datos.M18">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT18 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-button class="ion-activatable ripple-parent" type="submit">
                  Guardar datos
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
