<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Almacenamiento de Combustibles</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Entrada maniobra de autotanque (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Toma muestra de producto (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Conexión de mangueras (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Descarga de hidrocarburo (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Derrame durante el llenado (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Suelo</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Desconexión de mangueras (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Agua</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Escurrimiento de autotanque (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>







    <ion-slide>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Salida maniobra de autotanque (Recepción AT)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Almacenamiento derrame</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Suelo</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Almacenamiento derrame</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Venteo</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Venteo incendio</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Aire</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Retiro de aguas aceitosas (purgado de agua)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Agua</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Retiro de lodos (limpieza interior de tanque)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Residuos Peligrosos</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Retiro de aguas aceitosas y materiales impregnados (limpieza de bocatomas)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Residuos Peligrosos</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
              <ion-card-title>Generación de aguas aceitosas y materiales impregnados (limpieza del área)</ion-card-title>
              <hr class="linea1">
              <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
              <ion-card-title>Agua</ion-card-title>
              <hr class="linea1">
              <ion-item>
                <ion-label>Frecuencia:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item> 
              <ion-item>
                <ion-label>Magnitud:</ion-label>
                <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Naturaleza:</ion-label>
                
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
