<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">IV. Objetivos, metas e indicadores</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>
  
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goOpcion1()" style="background-image: url('../../../assets/FondosEstilos/login_blue_BG-02.png');">
          <ion-card-content>
            <img class="ion-padding" src="../../../assets/Imagenes/1_procedimiento.png" style="margin: auto; display: block; width: 50%;" />
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goOpcion2()" style="background-image: url('../../../assets/FondosEstilos/login_blue_BG-02.png');">
          <ion-card-content>
            <img class="ion-padding" src="../../../assets/Imagenes/Elemento 4/4_metas-01.png" style="margin: auto; display: block; width: 50%;" />
            <ion-card-title>FS-12 OBJETIVOS, METAS E INDICADORES</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goOpcion3()" style="background-image: url('../../../assets/FondosEstilos/login_blue_BG-02.png');">
          <ion-card-content>
            <img class="ion-padding" src="../../../assets/Imagenes/1_evidencia.png" style="margin: auto; display: block; width: 50%;" />
            <ion-card-title>Subir evidencia</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>