ion-card-content {
    text-align: start;
}

ion-item:hover {
    cursor: pointer;
}
.linea{
    background-color: #d79043;
    height: 5px;
}
ion-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}