<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-cuatro-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>IV. Objetivos, metas e indicadores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">OBJETIVOS, METAS E INDICADORES</ion-card-title>
        <ion-card-subtitle>Llena los campos que se les solicite</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-label>Objetivo 1</ion-label>
          <ion-textarea  placeholder="Escribe" rows="15"></ion-textarea>
          <ion-label>Descripcion del proceso</ion-label>
          <ion-input type="text" placeholder="Describa" required></ion-input>
      </ion-card-content>
  </ion-card>

</ion-content>