<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>IV. Objetivos metas e indicadores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="proced">
      <ion-label>Procedimiento</ion-label>
    </ion-segment-button>
    <ion-segment-button value="form">
      <ion-label>Formulario</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides #slider>
  
            <ion-slide>
              <embed src="assets/docs/P-SA-04 OBJETIVOS, METAS E INDICADORES.pdf" width="100%" height="600px" alt="pdf">
            </ion-slide>
          
            <ion-slide>
              <ion-list>
                <ion-list-header color="primary">
                  <ion-label>AMBIENTAL</ion-label>
                </ion-list-header>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 1: Reducir el consumo de agua en la instalación</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 2: Reducir el consumo de energía eléctrica en la instalación</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 3: Reducir la cantidad de reciduos en la instalación</ion-label>
                  
                </ion-item>
        
                <ion-list-header color="primary">
                  <ion-label>SEGURIDAD OPERATIVA</ion-label>
                </ion-list-header>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 1: Minimizar el índice de accidentalidad</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 2: Disminución de los actos inseguros</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 3: Mantenimiento de los sistemas de seguridad</ion-label>
                  
                </ion-item>
        
                <ion-list-header color="primary">
                  <ion-label>ADMINISTRACIÓN</ion-label>
                </ion-list-header>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 1: Implementación del SASISOPA</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 2: Cumplimiento de requisitos legales</ion-label>
                  
                </ion-item>
        
                <ion-item (click)="openModal($event)">
                  <ion-label>Objetivo 3: Atención oportuna a las quejas</ion-label>
                  
                </ion-item>
        
              </ion-list>
            </ion-slide>
        
          </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>