
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .ion-segment {
    padding: 5px;
  }
  .lineaN{
    background-color:#D79043 ;
    height: 5px;
}
 .fondo{
  //     //background-color: yellow;
  background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
   }
  .center{
      text-align: center;
  }
  .linea{
      background-color: cadetblue;
  }
  .columnas{
      width: 80%;
      margin: auto;
      border: solid 4px rgb(96, 206, 240);
      border-radius: 10px;
  }
  .celulares2{
   display: none;
 }
 .celulares{
   display: block;
   margin: auto;
   background-color: blue($color: #000000);
 }
  @media ( max-width: 900px) {
    .celulares{
      display: none;
    }
    .celulares2{
      display: inline;
    }
  }