<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Evidencia</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="lineaN">
</div>
<ion-content padding ng-controller="MainCtrl">
<ion-card class="fondo">
  <ion-card-header>
    <ion-card-title class="center">Evidencia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="foto" *ngIf="foto"></ion-img>
    <h1 class="center">Subir la evidencia tomada en el punto dos del SASISOPA</h1><br><br><br><br><br><br><br><br>
    <div class="celulares2">
      <ion-segment color="secondary" >
        <ion-segment-button (click)="capturarFoto()">
          <ion-label>Foto</ion-label>
          <ion-icon name="camera" size="large"></ion-icon>
        </ion-segment-button>
        <ion-segment-button checked (click)="buscarFoto()" type="file">
          <ion-label >Subir</ion-label>
          <ion-icon name="cloud-upload" size="large">
          </ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div><br><br><br>
    <div class="card">
      <img src="" alt="" id="img-preview">
      <div class="card-footer">
        <ion-input type="file" placeholder="jdjdjdj" class="celulares" id="img-uploader "></ion-input>
      </div>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>









