<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XV. Auditorías</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios" class="carta" (click)="goQuinceProcedimiento()">
          <ion-card-header>
            <ion-card-title>P-SA-15 AUDITORÍAS</ion-card-title>
            <ion-button shape="round">
              Descargar procedimiento
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" class="carta">
          <ion-card-content>
            <ion-card-title>
              Deberás realizar dos auditarías a lo largo del año y deberán ser de todos los elementos del sistema.
              Te hemos planeado tus auditorias internas de una manera fácil y cómoda, descarga el
              FS-33 PROGRAMA DE AUDITORÍA, el cual contiene dicha calendarización.
            </ion-card-title>
            <br>
            <ion-card-header>
              <ion-card-title>FS-33 PROGRAMA DE AUDITORÍAS</ion-card-title>
              <ion-button
                href="assets/docs/Elemento 15/FS-33 PROGRAMA DE AUDITORIAS (Jun-Dic).pdf"
                shape="round"
                download>
                Descargar formato
              </ion-button>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" class="carta">
          <ion-card-content>
            <ion-card-title>
              Es importante que descargues los formatos FS-34 para poder desarrollar una auditoría interna.
            </ion-card-title>
            <br>
            <ion-card-header>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="6">
                  <ion-card-title>FS-34 1ra parte</ion-card-title>
                  <ion-button
                    href="assets/docs/Elemento 15/FS-34 PLAN DE AUDITORIA INTERNA (1ra parte-junio).pdf"
                    shape="round"
                    download>
                    Descargar formato
                  </ion-button>
                </ion-col>
                <br>
                <ion-col size="12" sizeMd="6" sizeLg="6">
                  <ion-card-title>FS-34 2da parte</ion-card-title>
                  <ion-button
                    href="assets/docs/Elemento 15/FS-34 PLAN DE AUDITORIA INTERNA (2da parte-diciembre).pdf"
                    shape="round"
                    download>
                    Descargar formato
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" class="carta">
          <ion-card-content>
            <ion-card-title>
              En junio del 2020 deberás realizar la primer auditoria interna en el
              FS-35 INFORME DE AUDITARÍA, en el cual hemos llenado la mayoría de campos, sin embargo,
              tú deberás asignar al auditor y llevar a cabo el proceso de auditoría,
              detectando hallazgos y reportándolos.
            </ion-card-title>
            <br>
            <ion-card-header>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="6">
                  <ion-card-title>FS-35 1ra parte</ion-card-title>
                  <ion-button
                    href="assets/docs/Elemento 15/FS-35 INFORME DE AUDITORÍA (1ra parte-junio).pdf"
                    shape="round"
                    download>
                    Descargar formato
                  </ion-button>
                </ion-col>
                <br>
                <ion-col size="12" sizeMd="6" sizeLg="6">
                  <ion-card-title>FS-35 2da parte</ion-card-title>
                  <ion-button
                    href="assets/docs/Elemento 15/FS-35 INFORME DE AUDITORÍA (2da parte-diciembre).pdf"
                    shape="round"
                    download>
                    Descargar formato
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" class="carta">
          <ion-card-content>
            <ion-card-title>
              En el formato FS-36 detallarás los hallazgos encontrados
              durante el proceso de auditoria y las acciones correctivas correspondientes.
            </ion-card-title>
            <br>
            <ion-card-header>
              <ion-card-title>FS-36 Plan de Atención de Hallazgos</ion-card-title>
              <ion-button
                href="assets/docs/Elemento 15/FS-36 PLAN DE ATENCIÓN DE HALLAZGOS.pdf"
                shape="round"
                download>
                Descargar formato
              </ion-button>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
