<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ASEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Emisiones a la atmósfera</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Licencia Ambiental Única del sector Hidrocarburos</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>

                <!-- <ion-buttons slot="start">
                  <ion-button (click)="mostrarPop()"></ion-button>
                </ion-buttons> -->

                <ion-select interface="popover">
                  <ion-select-option value="mostrarPop()">Si</ion-select-option>
                  <ion-select-option value="mostrarPop()">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Residuos</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Cédula de operación Anual del Sector de Hidrocarburos</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Impacto ambiental</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Autorización en materia de impacto ambiental, a través de una manifestación de Impacto Ambiental</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad y Protección Ambiental</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Dictamen de la NOM-005-ASEA-2016</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Generador de residuos de manejo especial y/o peligrosos</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Contar con su registro como generador de residuos (manejo especial y/o peligrosos) ante la ASEA</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad y Protección ambiental</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="secondary">
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Contar con un sistema de administración en seguridad industrial, seguridad operativa y protección del ambiente (SASISOPA), registrado ante la ASEA</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
