.linea {
    background-color: #134289;
    height: 2px;
}
.texto1 {
    color: black;
    font-size: 17px;
}
.texto2 {
    margin: 30px 0px;
}
.linea1 {
    background-color: #D79043;
    height: 5px;
}