<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-siete-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VII. Comunicacion, Participacion y Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-slides mode="ios" pager="ios" scrollbar="ios" #slider>
              <ion-slide>
                <ion-card size="12">
                  <ion-card-header>
                    <ion-card-title>Datos de Comunicación</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-label>Curso</ion-label>
                          <ion-checkbox name="curso"  [(ngModel)]="datos.curso"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label>Difusión</ion-label>
                          <ion-checkbox name="difusion" [(ngModel)]="datos.difusion"></ion-checkbox>
                        </ion-item>
    
                        <ion-item>
                          <ion-label>Interno</ion-label>
                          <ion-checkbox name="interno" [(ngModel)]="datos.interno"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label>Externo</ion-label>
                          <ion-checkbox name="externo" [(ngModel)]="datos.externo"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Nombre del Curso</ion-label>
                          <ion-input type="text" name="nombreCurso" ngModel required [(ngModel)]="datos.nombreCurso"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Lugar:</ion-label>
                          <ion-input type="text" name="lugar" required [(ngModel)]="datos.lugar"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Facilitador</ion-label>
                          <ion-input type="text" name="facilitador" required [(ngModel)]="datos.facilitador"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Empresa</ion-label>
                          <ion-input type="text" name="empresa" required [(ngModel)]="datos.empresa"></ion-input>
                        </ion-item>
                      </ion-list> 
                      <ion-button type="submit">
                        Guardar Datos
                      </ion-button>
                      <ion-button (click)="pdf()">
                        Imprimir
                      </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
</ion-content>

