<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title>P-SA-02-Identificación de Peligros y de Aspectos Ambientales y Evaluación de Riesgos y de Impactos Ambientales</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <embed
    src="../../../assets/docs/Elemento 2/P-SA-02 IDENTIFICACION DE ASPECTOS AMBIENTALES Y DE RIESGOS.pdf"
    width="100%"
    height="1200px"
    alt="pdf"
  >
</ion-content>