<ion-header no-border>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/punto-catorce"></ion-back-button>
  </ion-buttons>
    <ion-title>Resultado de Monitoreo y Medición de Desempeño</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-button (click)="read()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
  <embed
    src="../../../assets/docs/Elemento 14/FS-30  RESULTADO DE MONITOREO Y MEDICIÓN  DE DESEMPEÑO.pdf"
    width="100%"
    height="1200px"
    alt="pdf"
  >
</ion-content>
