<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Espacio anular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Tapa de tubería en buen estado y hermética</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Sensor operando</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Alimentación eléctrica a prueba de explosión</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Alarma audible y/o visible</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Tapa de registro hermética (operando)</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Contenedor limpio y seco</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Nivel de tapa 2.54 cm sobre NPT</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Caja de conexión (condulet) con tapa y junta</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Sello EYS con tapón y sello</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Contenedor buen estado, sin fracturas</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
