.separador{
    background-color: rgb(247, 158, 106);
}
ion-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.carta{
    background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
}
.linea{
    background-color: #D79043;
    height: 5px;
}