<ion-header no-border>
  <ion-toolbar>
    <ion-title>COMPETENCIA DEL PERSONAL, CAPACITACION Y ENTRETENIMIENTO </ion-title>
  </ion-toolbar>
</ion-header>


 <ion-content>
   <ion-grid fixed>
     <ion-row>
       <ion-slides mode="ios" pager="ios" scrollbar="ios">
           <ion-slide>
             <ion-row>
               <ion-col size="12">
                 <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)" >
                   <ion-list>
                        <ion-item color="danger" >
                          <ion-label>SASISOPA </ion-label>
                        </ion-item>

                        <ion-item>
                          <ion-label position="floating">Jefe inmediato</ion-label>
                          <ion-input type="text" placeholder="Nombre"  name='nombre' ngModel required ></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Caracteristicas personales</ion-label>
                            <ion-input type="text" placeholder="Especificar" name='caracteristicas' ngModel required ></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label position="floating">Requerimientos fisicos</ion-label>
                              <ion-input type="text" placeholder="Especificar" name='requerimientos' ngModel required  ></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Conocimientos especificos</ion-label>
                                <ion-input type="text" placeholder="Caracteristicas" name='conocimientos' ngModel required ></ion-input>
                              </ion-item>

                              <ion-item>
                                  <ion-label position="floating">Deztrezas tecnicas</ion-label>
                                  <ion-input type="text" placeholder="Tipos" name="tipos" ngModel required ></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">Nivel academico requerido</ion-label>
                                    <ion-input type="text" placeholder="Especificar" name="nivel" ngModel required></ion-input>
                                  </ion-item>

                                  <ion-button type="submit" color="danger" (click)="ver()" >
                                      Guardar
                                    </ion-button>

                                    <ion-button [disabled]="disabled" (click)="action()">
                                      Imprimir
                                    </ion-button>

                                    <ion-button (click)="ver()">
                                      Ver Procedimiento
                                    </ion-button>
                                   
                                    
                                
                   </ion-list>
                 </form>
               </ion-col>
             </ion-row>
           </ion-slide>
           <ion-slide>
              <ion-row>
                <ion-col size="12">

                  <form #formulario2="ngForm" (ngSubmit)="enviarForm2(formulario2)">
                      <ion-item color="secondary">
                          <ion-label >SASISOPA</ion-label>
                      </ion-item>
                      
                      <ion-item>
                          <ion-label position="floating">Objetivo de puesto</ion-label>
                          <ion-input type="text" placeholder="Especificar" name="objetivo" ngModel required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Funciones especificas</ion-label>
                            <ion-input type="text" placeholder="Especificar" name="funciones" ngModel required></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label position="floating">Personal a cargo</ion-label>
                              <ion-input type="text" placeholder="Especificar" name="personal" ngModel required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Herramientas Y/O equiós</ion-label>
                                <ion-input type="text" placeholder="Especificar" name="herramientas" ngModel required></ion-input>
                              </ion-item> 
                            
                              <ion-item>
                                  <ion-label position="floating">Equipos de protecion personal</ion-label>
                                  <ion-input type="text" placeholder="Especificar" name="proteccion" ngModel required></ion-input>
                                </ion-item>
                                
                                <ion-button type="submit">
                                  Guardar
                                </ion-button>
                  </form>
                </ion-col>
              </ion-row>
           </ion-slide>
           <ion-slide>
             <ion-row>
               <ion-col size="12">
                 <form #formulario3="ngForm" (ngSubmit)="enviarForm3(formulario3)">
                    <ion-item color="secondary">
                        <ion-label>Desarrollo laboral</ion-label>
                      </ion-item>           
                       <ion-list>
                           <ion-item>
                             <ion-label>Nuevo Ingreso</ion-label>
                             <ion-radio value="cord"  ></ion-radio>
                           </ion-item>
                       
                           <ion-item>
                             <ion-label>Promocion</ion-label>
                             <ion-radio value="duesenberg" ></ion-radio>
                           </ion-item>
                       
                           <ion-item>
                             <ion-label>Reentrenamiento</ion-label>
                             <ion-radio value="hudson" ></ion-radio>
                           </ion-item>
                       
                           <ion-item>
                             <ion-label>Actualizacion Trianual</ion-label>
                             <ion-radio value="packard" ></ion-radio>
                           </ion-item>
                       </ion-list>
                       <ion-button type="submit">
                           Guardar
                         </ion-button>
                 </form>
               </ion-col>
             </ion-row>
           </ion-slide>
           <ion-slide>
             <ion-row>
               <ion-col size="12">
                  <ion-item color="secondary">
                      <ion-label>Queja de clientes</ion-label>
                    </ion-item>           
   
                     <ion-list>
                         <ion-item>
                           <ion-label>Inconformidad de auditoria</ion-label>
                           <ion-radio value="cord"></ion-radio>
                         </ion-item>
                     
                         <ion-item>
                           <ion-label>Bajo desempeño</ion-label>
                           <ion-radio value="duesenberg"></ion-radio>
                         </ion-item>
                     
                         <ion-item>
                           <ion-label>Recomendacion ICR</ion-label>
                           <ion-radio value="hudson"></ion-radio>
                         </ion-item>
                     
                         <ion-item>
                           <ion-label>No se cumplieron objetivos</ion-label>
                           <ion-radio value="packard"></ion-radio>
                         </ion-item>
                     </ion-list>
                     <ion-button type="submit">
                        Guardar
                      </ion-button>
               </ion-col>
             </ion-row>
           </ion-slide>
           <ion-slide>
             <ion-row>
               <ion-col size="12">
                  <ion-item color="secondary">
                      <ion-label>Situacion actual</ion-label>
                    </ion-item>           
   
                     <ion-list>
                         <ion-item>
                           <ion-label>Situacion deseada</ion-label>
                           <ion-radio value="cord"></ion-radio>
                         </ion-item>
                     
                         <ion-item>
                           <ion-label>Objetivos de la necesidad</ion-label>
                           <ion-radio value="duesenberg"></ion-radio>
                         </ion-item>
                     
                         <ion-item>
                           <ion-label>Temas para capacitacion</ion-label>
                           <ion-radio value="hudson"></ion-radio>
                         </ion-item>
                     
                         
                     </ion-list>
                     <ion-button type="submit">
                        Guardar
                      </ion-button>
               </ion-col>
             </ion-row>
           </ion-slide>
       </ion-slides>
     </ion-row>
   </ion-grid>
  
</ion-content> 
