<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XI. INTEGRIDAD MECÁNICA</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="pdf()">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-title>
                <ion-label>Procedimiento</ion-label>
              </ion-card-title>
              <br>
              <ion-item>
                <ion-label>P-SA-11 INTEGRIDAD MECÁNICA</ion-label>
                <ion-button
                  href="assets/docs/Elemento 11/P-SA-11 INTEGRIDAD MECANICA.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              <div>
                <hr class="linea1">
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-title>
                <ion-label>Formato donde se estipula el mantenimiento a cada área o equipo, especificando el periodo y el mes </ion-label>
              </ion-card-title>
              <br>
              <ion-item>
                <ion-label>FS-20 PROGRAMA ANUAL DE MANTENIMIENTO</ion-label>
                <ion-button
                  href="assets/docs/Elemento 11/FS-20 PROGRAMA ANUAL DE MANTENIMIENTO.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              <div>
                <hr class="linea1">
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-title>
                <ion-label>Formato en donde se especifica que tipo de mantenimiento se realizará</ion-label>
              </ion-card-title>
              <br>
              <ion-item>
                <ion-label>FS-21 PLAN DE MANTENIMIENTO DE EQUIPOS Y SISTEMAS</ion-label>
                <ion-button
                  href="assets/docs/Elemento 11/FS-21 PLAN DE MANTENIMIENTO DE EQUIPOS Y SISTEMAS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              <div>
                <hr class="linea1">
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-card class="carta">
            <ion-card-content>
              Producto Manejado
              <ion-list>
                <ion-row>
                  <ion-col size="12" sizeMd="6" sizeLg="4">
                    <ion-item>
                      <ion-label>Magna <b>MG</b></ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-input type="number" placeholder="No. de tanques" min="0" max="10"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" sizeMd="6" sizeLg="4">
                    <ion-item>
                      <ion-label>Premium <b>PR</b></ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-input type="number" placeholder="No. de tanques" min="0" max="10"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" sizeMd="6" sizeLg="4">
                    <ion-item>
                      <ion-label>Diesel <b>DL</b></ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-input type="number" placeholder="No. de tanques" min="0" max="10"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-header>
                <ion-label>Marque con cuales equipos opera y con cuantos cuenta.</ion-label>
              </ion-card-header>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Tanque Horizontal
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Dispensario
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Extintores
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Válvula presión-vacío
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Arrestador de flama
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Pozos de Observación
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Drenajes
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Trampa de combustible
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Tierras Eléctricas
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Control de inventarios
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Sensores de fugas
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                  <ion-card-title>
                    <ion-checkbox></ion-checkbox>
                    Tablero de control eléctrico
                  </ion-card-title>
                  <ion-item>
                    <ion-input type="number" placeholder="Cantidad" max="20"></ion-input>
                  </ion-item>
                  <div>
                    <hr class="linea1">
                  </div>
                  <br>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-header>
                <ion-label>Marque los equipos con los que cuenta:</ion-label>
              </ion-card-header>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label>Compresor</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Pararrayos</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Área cambio de aceite</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hidroneumático</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cisterna</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label>Bodega de lubricantes</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Planta de Emergencia</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Bomba de agua</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Almacén de residuos peligrosos</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label>Paros de emergencia</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Transformador</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Motobomba</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Tubería de venteo</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card class="carta">
            <ion-card-content>
              <ion-card-header>
                <ion-label>Sensores de Líquidos. Indique el número de sensores:</ion-label>
              </ion-card-header>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title><b>Tanque de Magna</b></ion-card-title>
                  <ion-item>
                    <ion-label><b>Motobomba</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Espacio anular</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title><b>Tanque de Premium</b></ion-card-title>
                  <ion-item>
                    <ion-label><b>Motobomba</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Motobomba</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-card-title><b>Tanque de Diesel</b></ion-card-title>
                  <ion-item>
                    <ion-label><b>Motobomba</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Espacio anular</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label><b>Dispensario 1</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Dispensario 2</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Dispensario 3</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label><b>Dispensario 4</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Dispensario 5</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Dispensario 6</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6" sizeLg="4">
                  <ion-item>
                    <ion-label><b>Dispensario 7</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Dispensario 8</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="5"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label><b>Pozos de Observación</b></ion-label>
                    <ion-input type="number" placeholder="Indique" min="0" max="10"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-button expand="full" shape="round" color="success">
            Guardar datos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
