.titulo{
    text-align: center;
}
.image{
    width: 100px;
    height: auto;
    margin: auto;
}

.linea{
    background-color: #D79043;
    height: 5px;
}
.carta{
    background-image: url('../../../assets/FondosEstilos/login_blue_BG-02.png');
}
.linea1{
    background-color: #0080BB;
    height: 2px;
}