<ion-header>
  <ion-toolbar>
    <ion-title>punto-once</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoOnce01()">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/InspeccionDeTanquesYRegistros-01.png" />
              <ion-card-header>
                <ion-card-title>FO-01 INSPECCIÓN DE TANQUES Y REGISTROS</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/PruebaOperativaDeDispDeSeg-01.png" />
              <ion-card-header>
                <ion-card-title>FO-02 PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
               <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/InspeccionDeDispensarios-01.png" />
              <ion-card-header>
                <ion-card-title>FO-03 INSPECCIÓN  DE DISPENSARIOS</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/InspeccionDeAccesoriosDescarga-01.png" />
              <ion-card-header>
                <ion-card-title>FO-04 INSPECCIÓN DE ACCESORIOS DESCARGA Y TUBOS DE VENTEO</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoOnce05()">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/InspeccionDeInstalacionesElectricas-01.png" />
              <ion-card-header>
                <ion-card-title>FO-05 INSPECCIÓN DE INSTALACIONES ELÉCTRICAS</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/ProgramaDeLimpiezaDiaria-01.png" />
              <ion-card-header>
                <ion-card-title>FO-06 PROGRAMA DE  LIMPIEZA DIARIA DE ÁREAS E INSPECCIÓN DE TRAMPA</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
              <ion-card-header>
                  <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/11-07.png" />
                <ion-card-title>FO-07 INSPECCIÓN MENSUAL  DE EXTINTORES</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/11-08.png" />
              <ion-card-header mode="ios" (click)="goPuntoOnce08()">
                <ion-card-title>FO-08 INSPECCIÓN DE SEÑALAMIENTOS</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoOnce20()">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/11-09.png" />
              <ion-card-header>
                <ion-card-title>FS-20 PROGRAMA ANUAL DE MANTENIMIENTO</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/11-10.png" />
              <ion-card-header>
                <ion-card-title>FS-21 PLAN DE MANTENIMIENTO</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12"sizeMd="6" sizeLg="4">
            <ion-card mode="ios">
                <img class="ion-padding" width="300px" height="300px" src="../../../assets/imagenes/Punto11/11-11.png" />
              <ion-card-header>
                <ion-card-title>FS-22 LISTA DE EQUIPOS CRÍTICOS</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>

</ion-content>
