<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VII. Comunicacion, Participacion y Consulta</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoUno()" class="fondo">
          <img height="180px" width="auto" class="ion-padding" src="../../../assets/imagenes/Punto 7/diploma.svg" />
          <ion-card-header>
            <ion-card-title>P-SA-07 Comunicación, Participación y Consulta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDos()" class="fondo">
          <img height="180px" width="auto" class="ion-padding" src="../../../assets/imagenes/Punto 7/lista.png" />
          <ion-card-header>
            <ion-card-title>Lista de Comunicación</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoTres()" class="fondo">
          <img height="180px" width="auto" class="ion-padding" src="../../../assets/imagenes/Punto 7/quejas y sugerencias.png" />
          <ion-card-header>
            <ion-card-title>Quejas y Sugerencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCuatro()" class="fondo">
          <img height="180px" width="auto" class="ion-padding" src="../../../assets/imagenes/Punto 7/Registro y control de quejas y sugerencias.png" />
          <ion-card-header>
            <ion-card-title>Registro y Control de Quejas y Sugerencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCinco()" class="fondo">
          <img height="180px" width="auto" class="ion-padding" src="../../../assets/imagenes/subir evidencia.png" />
          <ion-card-header>
            <ion-card-title> Subir Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>