<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/punto-trece"></ion-back-button>
  </ion-buttons>
    <ion-title>P13-ReparacionRespuestaEmergencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-card-header>
    <ion-card-subtitle>PROCEDIMIENTO DEL SISTEMA</ion-card-subtitle>
  </ion-card-header>
  <embed  src="../../../assets/docs/Punto11Pdfs/Punto13/P-RE-01 PLANES DE RESPUESTA A EMERGENCIAS.pdf" type="application/pdf" width="100%" height="1000px" alt="pdf"/>
</ion-item>
<ion-content>

</ion-content>
