<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Instalaciones electricas/Areas verdes</ion-title>
    </ion-toolbar>
    <ion-fab vertical="top">
      <ion-fab-button (click)="goPuntoOnceFs20()">
        <ion-icon name="arrow-round-back" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-header>
  <ion-content>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
              <ion-card-title>Poda y limpieza</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 15 dias</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Inspección general de estado de tierras físicas,</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Inspección de alumbrado</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Revisión y prueba de Paros de emergencia</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Inspección general de Instalaciones (integridad eléctrica)</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: 6 Meses</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Medición de resistividad tierras y limpieza</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Anual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Mantenimiento a Respaldo (UPS)</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: Anual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Instalaciones electricas/Areas verdes</ion-card-subtitle>
                <ion-card-title>Dictamen por una UVIE</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:5 Años </h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-button expand="full" color="secondary">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
    </ion-slides>
  </ion-content>
