<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto15-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FS-35 INFORME DE AUDITORÍA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>XV. AUDITORÍAS</ion-card-subtitle>
          <ion-card-title>PLAN DE ATENCIÓN DE HALLAZGOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha del informe</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" placeholder="Selecciona" name="fechaInforme" [(ngModel)]="datos.fechaInforme"></ion-datetime>
          </ion-item>
          <ion-label>Descripcion del hallazgo</ion-label>
          <ion-textarea placeholder="Descripcion" name="descripcionHallazgo" [(ngModel)]="datos.descripcionHallazgo"></ion-textarea>
          <ion-label>ANÁLISIS DE LAS CAUSAS DEL HALLAZGO</ion-label>
          <ion-textarea placeholder="Descripcion" name="causaHallazgo" [(ngModel)]="datos.causaHallazgo"></ion-textarea>
          <ion-label>ACCIÓN CORRECTIVA</ion-label>
          <ion-textarea placeholder="Descripcion" name="accionCorrectiva" [(ngModel)]="datos.accionCorrectiva"></ion-textarea>
          <ion-item-divider color="light">
            <ion-label>RESPONSABLE DE LA ATENCIÓN DE LOS HALLAZGOS</ion-label>
          </ion-item-divider>
          <ion-label>Nombre del responsable</ion-label>
          <ion-input type="text" placeholder="Ingrese nombre" name="nombreResponsable" [(ngModel)]="datos.nombreResponsable"></ion-input>
          <ion-item>
            <ion-label>Fecha de compromiso</ion-label>
            <ion-datetime display-format="DD.MM.YYYY" placeholder="Selecciona" name="fechaCompromiso" [(ngModel)]="datos.fechaCompromiso"></ion-datetime>
          </ion-item>
          <ion-label>RECURSOS NECESARIOS PARA ATENDER EL HALLAZGO</ion-label>
          <ion-textarea placeholder="Describe" name="recursosNecesarios" [(ngModel)]="datos.recursosNecesarios"></ion-textarea>
          <ion-button type="submit">
            Guardar y enviar
          </ion-button>
          <ion-button (click)="pdf()">
            Imprimir
          </ion-button>
        </ion-card-content>
      </ion-card>    
  </form>
</ion-content>
