<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INFORMES DE DESEMPEÑO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="datos.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Apellido" name="apellido" [(ngModel)]="datos.apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Edad" name="edad" [(ngModel)]="datos.edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Teléfono" name="telefono" [(ngModel)]="datos.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Mail" name="mail" [(ngModel)]="datos.mail"></ion-input>
    </ion-item>
  </ion-card>
  
  
  <ion-button (click)="enviar()" expand="block" fill="clear" shape="round">
    Enviar datos
  </ion-button>
</ion-content>
