<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-punto5"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Matriz de Responsabilidades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12" sizeLg="6" style="margin: auto; display: block;">
        <ion-card class="carta">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              De click en el siguiente botón para descargar el formato FS-10 Resultado del análisis de riesgos.
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="../../../assets/Imagenes/Elemento 5/5_cartadedesignacion-01.png" alt="" style="width: 300px; height: auto; margin: auto; display: block;">
            <ion-button (click)="pdf2()" expand="block" shape="round">
              Descargar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
