<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-punto5"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">MATRIZ DE RESPONSABILIDADES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="item1">
    <ion-card-content >
      <ion-item>
        <embed  src="../../../assets/docs/Elemento 5/FS-13 MATRIZ DE RESPONSABILIDADES.pdf" type="application/pdf" width="100%" height="1000px" alt="pdf"/>
      </ion-item>  
    </ion-card-content>
  </ion-card>
</ion-content>