<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Edificios/Otros equipos</ion-title>
    </ion-toolbar>
    <ion-fab vertical="top">
      <ion-fab-button (click)="goPuntoOnceFs20()">
        <ion-icon name="arrow-round-back" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-header>
  <ion-content>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de compresor, lubricación</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 4 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de hidroneumático.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de bombas de agua</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Revisión de CCTV</ion-card-subtitle>
              <ion-card-title>Revisión de compresor, lubricación</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de accesorios de descarga, codos, mangueras</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Limpieza</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Diaria</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Orden, cuarto eléctrico, sucios, Máquinas, Alm. Res. Peligroso</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Diaria</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Azoteas, Revisión de bajadas de agua</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de pavimentos, libre de baches, fisuras.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 4 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de pisos de almacenamiento despacho sin fisuras.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 4 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Edificios/Otros equipos</ion-card-subtitle>
              <ion-card-title>Revisión de tinacos y cisternas</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 6 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
