<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">ENTREVISTA DE TESTIGOS PARA LA INVESTIGACIÓN CAUSA RAÍZ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: justify; margin: 3%;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo mollitia facilis iste impedit dolore harum tempora magni, natus repudiandae praesentium, pariatur accusamus excepturi reprehenderit quaerat aut saepe. Fugiat, autem?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque dolores iusto quo ipsam delectus sunt, fugit blanditiis culpa nesciunt quos dolorem doloribus sint impedit expedita quis nobis ducimus quod! Voluptatibus.
  </p>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="4">

        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Lugar y fecha de la entrevista:</ion-label>
                <ion-datetime display-format="DD.MM.YYYY "></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre del entrevistado:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Puesto del entrevistado:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Puesto del entrevistado</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Funciones</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="text-align: justify; margin: 3%;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt sint voluptate officia, quo soluta omnis qui placeat a tempore perferendis impedit odit laudantium ratione saepe ut nisi aliquid, blanditiis eveniet.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ea aliquid aut ipsam, totam aliquam beatae mollitia dolorum, numquam illo soluta in tempora est unde nemo ad. Odit, aperiam ducimus.
    </p>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">1.¿Qué actividades Realizaba antes de ocurrir el incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">2.¿Participaron otros trabajadores en el incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">3.¿En qué condiciones se encontraban los equipos, herramientas, accesorios?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">4.¿La herramienta o accesorios eran apropiados para realizar el trabajo?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">5.¿Observó alguna condición anormal antes de ocurrir el incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">6.¿Observó algún acto inseguro antes de ocurrir el incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">7.¿Cómo ocurrió el incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">8.¿Cuántas horas trabajó antes del incidente?</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-content>
