<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Tanques</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top">
    <ion-fab-button (click)="goPuntoOnceFs20()">
      <ion-icon name="arrow-round-back" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="titulo">Tanques</ion-card-subtitle>
          <ion-card-title>Limpieza área de almacenamiento</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar: Diario</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
         Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Inspección bomba, control inventarios,</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar: Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>  
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Prueba sensores, bomba, espacio anular</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>  
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Inspección, estado contenedores, botas, boquillas y tapas</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
            Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>  
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Prueba de hermeticidad, control de inventarios</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Medición y purga de agua, si aplica</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>  
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Revisión válvula sobrellenado, en operación y completa</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>  
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tanques</ion-card-subtitle>
          <ion-card-title>Pruebas de hermeticidad equipo móvil.</ion-card-title>
          <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
          <h2>Se debe de realizar:Mensual</h2>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Enero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Febrero</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Marzo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Abril</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mayo</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Junio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Julio</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Agosto</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Septiembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Octubre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Noviembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Diciembre</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button expand="full" color="secondary">
          Guardar y Enviar
        </ion-button>
      </ion-card>
    </ion-slide>    
  </ion-slides>
</ion-content>
