<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" horizontal="end" slot="fixed">
        <ion-icon name="close-circle" slot="end" horizontal="end"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center ">Datos generales de la estación de servicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-justify" style="margin: 3%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt saepe voluptatibus ipsum! Deleniti quasi voluptatibus magni ratione quos fugiat dicta cupiditate repellat alias, odit voluptas doloribus. Asperiores exercitationem dicta nulla!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed *ngFor="let es of estacion"> 
          <ion-row>
            <ion-col size="12" sizeLg="6">
              <p>Nombre de la estación <br><b>{{es.nombreEstacionServicio}}</b></p>
              <p>Estado <br><b>{{es.estado}}</b></p>
              <p>Ciudad en la que esta situada<br><b>{{es.ciudad}}</b></p>
              <p>Codigo postal <br><b>{{es.cp}}</b></p>
              <p>Colonia <br><b>{{es.colonia}}</b></p>
              <p>Calle y numero de ubicación <br><b>{{es.calleNumero}}</b></p>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <p>Correo electronico <br><b>{{es.correoElectronico}}</b></p>
              <p>Telefono de la estacion de servicio <br><b>{{es.telefono}}</b></p>
              <p>Nombre del gerente de la estación <br><b>{{es.gerenteEstacion}}</b></p>
              <p>Nombre del representante tecnico <br><b>{{es.representanteTecnico}}</b></p>
              <p>Nombre de la Maxima autoridad de la estación <br><b>{{es.maximaAutoridad}}</b></p>
            </ion-col>
          </ion-row>
          <ion-item>
          </ion-item>
          <ion-button (click)="updateEstacion(es._id)" expand="block" fill="clear" shape="round">
            <ion-icon name="clipboard" slot="start"></ion-icon>
            Actualizar
          </ion-button>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
