<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">Lista </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-tes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Descarga las listas de requisitos legales </ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item style="text-align: center;">
          <ion-button id="btn-down-req" (click)="downloadListReqLeg()">
            <ion-icon slot="end" name="arrow-round-down"></ion-icon>
            Descargar lista de requisitos legales
          </ion-button>
          <ion-button id="btn-down-req" (click)="pdf2()" color="success">
            <ion-icon slot="end" name="arrow-round-down"></ion-icon>
            Descargar Identificacion de requisitos legales
          </ion-button>
      </ion-item>
  </ion-card-content>
</ion-content>
