<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title>XIII. PREPARACIÓN Y RESPUESTA A EMERGENCIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center" >PROCEDIMIENTO ESPECÍFICO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <embed  src="../../../assets/docs/Punto11Pdfs/P-IM-03 MANTENIMIENTO DE INSTALACIONES ELECTRICAS.pdf" type="application/pdf" width="100%" height="1000px" alt="pdf"/>
        </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
