<ion-header>
  <ion-toolbar>
    <ion-title>FS-19 ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diez"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-card class="carta">
    <ion-card-content>
      <ion-row>
        <ion-col size="12" sizeMd="8" sizeLg="8">
          <ion-item>
            <ion-label>Área</ion-label>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Proceso</ion-label>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="12" sizeMd="4" sizeLg="4">
          <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime display="DD MM YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>No.</ion-label>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="6">
          <ion-card-title>Descripción del cambio propuesto</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-card-title>Análisis de la propuesta</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="4"></ion-textarea>
          </ion-item>
          <br>
        </ion-col>
        <br>
        <ion-col size="12" sizeMd="6" sizeLg="6">
          <ion-card-title>Resultado de la evaluación</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Aceptada o Rechazada" rows="4"></ion-textarea>
          </ion-item>
          <br>
          <ion-card-title>Motivo de la aceptación</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="4"></ion-textarea>
          </ion-item>
          <br>
        </ion-col>
        <br>
        <ion-col size="12" sizeMd="6" sizeLg="6">
          <ion-card-title>Descripción del cambio</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="4"></ion-textarea>
          </ion-item>
          <br>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="carta">
    <ion-row>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Especificaciones del proyecto</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Actualización de análisis de riesgo</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Actualización de estructura</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Actualización de la tecnología del proceso</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Actualización de permiso o licencias</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Actualización de normatividad</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Capacitación y entrenamiento</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="3" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Comunicación del cambio</ion-card-title>
            <hr class="linea1">
            <br>
            <h2>Responsable de la atención</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Fecha de cumplimiento</ion-label>
              <ion-datetime displayformat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-radio-group value="grape">

              <ion-list-header>
                <ion-label>Atendido</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" color="success"></ion-radio>
              </ion-item>
    
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="carta">
    <ion-card-content>
      <ion-card-title>Notas</ion-card-title>
      <ion-item>
        <ion-textarea placeholder="Escribe..." rows="6"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>