.margentitulo{
    text-align: center;
    border: 5px 15px;
}
.linea{
    background-color: #D79043;
    height: 5px;
}
.linea1{
    background-color: #0080BB;
    height: 2px;
}
.carta{
    background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
  }