<ion-header>
  <ion-toolbar>
    <ion-title>FS-19 ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diez"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-item>
          <ion-textarea placeholder="Área"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Proceso"></ion-textarea>
          <ion-textarea placeholder="No."></ion-textarea>
        </ion-item>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona">Fecha</ion-datetime>
        </ion-item>
        <br>
        <ion-card-header>DESCRIPCIÓN DEL CAMBIO PROPUESTO</ion-card-header>
        <ion-textarea placeholder="Escribe..."></ion-textarea>
        <br>
        <ion-item>
          <ion-label>RESULTADO DE LA EVALUACIÓN</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Aceptada</ion-select-option>
            <ion-select-option value="">Rechazada</ion-select-option>
          </ion-select>
        </ion-item>
        <br><br>
        <ion-item>
          <br><br><br>
          <ion-textarea placeholder="Escribe...">MOTIVO DE LA ACEPTACIÓN O RECHAZO</ion-textarea>
        </ion-item>
        <br><br><br>
        <ion-textarea placeholder="Escribe...">DESCRIPCIÓN DEL CAMBIO</ion-textarea>
        <br><br><br>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title class="margentitulo">ESPECIFICACIONES DEL PROYECTO</ion-card-title>
        <br>
        
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>ACTUALIZACIÓN DE ANÁLISIS DE RIESGO</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>ACTUALIZACIÓN DE ESTRUCTURA</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>ACTUALIZACIÓN DE LA TECNOLOGÍA DEL PROCESO</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>ACTUALIZACIÓN DE PERMISOS O LICENCIAS</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>ACTUALIZACIÓN DE NORMATIVIDAD</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>CAPACITACIÓN Y ENTRETENIMIENTO</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <ion-title>Actividad</ion-title>
        </ion-toolbar>
        <br>
        <ion-card-title>COMUNICACIÓN DEL CAMBIO</ion-card-title>
        <br>
        <ion-label>SI/NO</ion-label>
        <ion-textarea placeholder="Escribe Si o No"></ion-textarea>
        <br>
        <ion-label>RESPONSABLE DE LA ATENCIÓN</ion-label>
        <ion-textarea placeholder="Responsable..."></ion-textarea>
        <br>
        <ion-item>
          <h4>Fecha</h4>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Atendido</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="">Si</ion-select-option>
            <ion-select-option value="">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Notas</h2>
        </ion-toolbar>
        <br>
        <ion-item>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
