<ion-header>
  <ion-toolbar>
    <ion-title>XII</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-doce"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-center">Seguridad de contratistas</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <embed  src="../../../assets/docs/punto12pdfs/P-SA-12 SEGURIDAD DE CONTRATISTAS.pdf" class="pdf">
  </ion-card-content>
</ion-card>
</ion-content>
