.titulo{
    text-align: center;
    background-color: rgba(0, 241, 36, 0.231);
}
.pdf{
    width: 80%;
    height: 1000px;
    align-items: center;
}
// @media screen and (max-width: 580px) {
//     .item1{
//         background-color: aqua;
//     }
//     // .pdf{ 
//     //     width: 300px;
//     //     height: 500px;
//     // }
// }
// @media screen and (max-width: 1124px){
//     .item1{
//         background-color: rebeccapurple;
//     }
//     .pdf{
//         width: 300px;
//         height: 200px;
//     }
// }
// @media screen and (max-width: 868px){
//     .item1{
//         background-color: red;
//     }
// }
// @media screen and (max-width: 475px){
//     .item1{
//         background-color: blue;;
//     }
// }
// @media screen and (max-width: 514px){
//     .item1{
//         background-color: pink;
//     }
// }
// @media screen and (max-width: 420px){
//     .item1{
//         background-color:greenyellow;
//     }
// }
// @media screen and (max-width: 511px){
//     .item1{
//         background-color: goldenrod;
//     }
// }
// @media screen and (max-width:460px){
//     .item1{
//         background-color: green;
//     }
// }