<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dieciseis"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FO-14 Estadística de Incidentes y Accidentes</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Muertes</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto1" [(ngModel)]="datos.texto1" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto2" [(ngModel)]="datos.texto2" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto3" [(ngModel)]="datos.texto3" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto4" [(ngModel)]="datos.texto4" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto5" [(ngModel)]="datos.texto5" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Lesiones</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto6" [(ngModel)]="datos.texto6" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto7" [(ngModel)]="datos.texto7" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto8" [(ngModel)]="datos.texto8" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto9" [(ngModel)]="datos.texto9" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto10" [(ngModel)]="datos.texto10" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Derrames</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto11" [(ngModel)]="datos.texto11" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto12" [(ngModel)]="datos.texto12" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto13" [(ngModel)]="datos.texto13" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto14" [(ngModel)]="datos.texto14" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto15" [(ngModel)]="datos.texto15" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Fugas</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto16" [(ngModel)]="datos.texto16" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto17" [(ngModel)]="datos.texto17" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto18" [(ngModel)]="datos.texto18" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto19" [(ngModel)]="datos.texto19" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto20" [(ngModel)]="datos.texto20" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Incendio</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto21" [(ngModel)]="datos.texto21" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto22" [(ngModel)]="datos.texto22" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto23" [(ngModel)]="datos.texto23" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto24" [(ngModel)]="datos.texto24" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto25" [(ngModel)]="datos.texto25" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CLASE DE INCIDENTE</ion-label>
            </ion-item-divider>
            <br>
            <h1>Contaminación</h1>
            <ion-item>
              <ion-textarea placeholder="Mensual" name="texto26" [(ngModel)]="datos.texto26" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Acumulado" name="texto27" [(ngModel)]="datos.texto27" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Analizados" name="texto28" [(ngModel)]="datos.texto28" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Recomendaciones" name="texto29" [(ngModel)]="datos.texto29" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="Implantadas" name="texto30" [(ngModel)]="datos.texto30" type="text"></ion-textarea>
            </ion-item>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Enviar datos</ion-card-title>
            </ion-card-header>
            <ion-button color="success"  type="submit">
              Enviar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Descargar PDF</ion-card-title>
            </ion-card-header>
            <ion-button color="success" expand="block" (click)="pdf()">
              Descargar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>