<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dieciseis"></ion-back-button>
    </ion-buttons>
    <ion-title>FO-14 Estadística de Incidentes y Accidentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Muertes</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Lesiones</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Derrames</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Fugas</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Incendio</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>CLASE DE INCIDSENTE</ion-label>
          </ion-item-divider>
          <br>
          <h1>Contaminación</h1>
          <ion-item>
            <ion-textarea placeholder="Mensual"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Acumulado"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Analizados"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Recomendaciones"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="Implantadas"></ion-textarea>
          </ion-item>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>