<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XVII. Revisión de la dirección</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <hr class="linea">
</div>

<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goDiecisieteProcedimiento()" class="fondo">
          <img height="240px" width="auto" class="ion-padding" src="../../../assets/imagenes/revision de la documentacion.png" />
          <ion-card-header>
            <ion-card-title>P-SA-17 Revisión de Resultados</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goDiecisieteFormulario()" class="fondo">
          <img height="230px" width="auto" class="ion-padding" src="../../../assets/imagenes/Punto 17/informe revision para la direccion.png" />
          <ion-card-header>
            <ion-card-title>FS-37 Informe de Revisión por la Dirección</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goDiecisieteEvidencia()" class="fondo">
          <img height="250px" width="auto" class="ion-padding" src="../../../assets/imagenes/subir evidencia.png" />
          <ion-card-header>
            <ion-card-title>Subir Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>