<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>SECRETARÍA DEL TRABAJO Y PREVENSIÓN SOCIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Tener las áreas de la estación delimitadas de tal manera que se disponga de especios seguros para la realización de las actividades de los trabajadores de acuerdo a la NOM-001-STPS-2008.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir ante la autoridad laboral, cuando así lo solicite, la información y documentación que esta NOM-002-STPS-2010 la obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir ante la autoridad laboral, cuando así lo solicite, la información y documentación que esta NOM-005-STPS-1998 la obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir ante la autoridad laboral, cuando así lo solicite, la información y documentación que esta NOM-009-STPS-2011 la obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Contar con evidencia del uso de equipo de protección personal requerido para la realización de las actividades de acuerdo a la NOM-017-STPS-2008</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir a la autoridad laboral del trabajo los documentos, registros e información que la presente NOM-020-STPS-2011 le obligue a elaborar o poseer, cuando ésta así lo solicite.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir ante la autoridad laboral, cuando así lo solicite, la información y documentación que esta NOM-022-STPS-2008 la obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Mostrar a la autoridad del trabajo, cuando así lo soilicite, los documentos que la presente NOM-025-STPS-2008 le obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Mostrar a la autoridad del trabajo cuando ésta así se lo solicite, los documentos que la presente NOM-026-STPS-2008 le obligue a elaborar o poseer</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Exhibir los documentos que esta NOM-029-STPS-2011 le obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Materia</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>Seguridad e higiene</ion-card-title>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <h2>Requisito Legal</h2>
              </ion-toolbar>
              <br>
              <h2>Mostrar a la autoridad del trabajo, cuando ésta así lo solicite, los documentos que la presente NOM-017-STPS-2008 le obligue a elaborar o poseer.</h2>
              <br><br>
              <ion-item>
                <ion-label>Fecha del documento</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>¿Presenta cambio?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>¿El resultado cumple?</ion-label>
                <ion-select interface="popover">
                  <ion-select-option value="">Si</ion-select-option>
                  <ion-select-option value="">No</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-item>
              <br><br><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
