<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Resultado del Análisis de Riesgo</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card class="carta">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                Derivado del análisis realizado a la Estación de Servicio, se concluye que si bien,
                existen riesgos latentes y con un alto nivel de riesgos, se cuenta con las medidas
                preventivas para poder seguir operando de manera regular. 
                Se recomienda dar un cumplimiento del programa de mantenimiento más riguroso, teniendo
                especial atención a válvulas y dispositivos de alarmas.
              </ion-card-title>
              <ion-card-title>
                De click en el siguiente botón para descargar el formato FS-10 Resultado del análisis de riesgos.
              </ion-card-title>
            </ion-card-header>
            <ion-button (click)="pdf()" expand="block" shape="round">
              Descargar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>