<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-ocho-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FS-03 SOLICITUD DE CAMBIOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-card>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" sizeLg="6">
              <ion-item >
                <ion-label position="floating">CODIFICACIÓN</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">NOMBRE DEL DOCUMENTO</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">ELEMENTO DEL SISTEMA</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <ion-item >
                <ion-label position="floating">NOMBRE DEL SOLICITANTE</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>FECHA DE SOLICITUD</ion-label>
                <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">PUESTO</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-item-divider color="light" class="ion-text-center">
              <ion-label >TIPO DE DOCUMENTO</ion-label>
            </ion-item-divider>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label>DOCUMENTO PROCEDIMIENTO DE SISTEMA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>FORMATO DE SISTEMA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label>PROCEDIMIENTO ESPECIFICO</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>FORMATO OPERATIVO</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-item-divider color="light">
            <ion-label>ORIGEN DEL CAMBIO</ion-label>
          </ion-item-divider>
          <ion-row>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label>SUGERENCIA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>RECOMENDACIÓN ICR</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>CAMBIO DE TECNOLOGÍA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label>HALLAZGO DE AUDITORIA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>ACCIÓN DE MEJORA</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>CAMBIO EN EL PROCESO</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item-divider color="light">
          <ion-label>ESTADO ACTUAL</ion-label>
        </ion-item-divider>
        <ion-textarea placeholder="Describir ..."></ion-textarea>
        <ion-item-divider color="light">
          <ion-label>CAMBIO PROPUESTO</ion-label>
        </ion-item-divider>
        <ion-textarea placeholder="Describir ..."></ion-textarea>
        <ion-item-divider color="light">
          <ion-label>RESULTADO DE LA EVALUACIÓN</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>ACEPTADA</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>RECHAZADA</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
      </ion-card-content>
      <ion-item-divider color="light">
        <ion-label>MOTIVO DE LA ACEPTACIÓN O RECHAZO</ion-label>
      </ion-item-divider>
      <ion-textarea placeholder="Describir ..."></ion-textarea>
    </ion-card>

    <ion-button type="submit">
              Enviar
            </ion-button>
            <ion-button (click)="pdf()">
              Descargar
            </ion-button>
  </form>
</ion-content>
