<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos-aspectos"></ion-back-button>
    </ion-buttons>
    <ion-title>Módulo de Despacho de abastecimiento de combustibles a vehículos</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Colocación de la pistola en el vehículo</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F19"
                    [(ngModel)]="datos.F19">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N20"
                    [(ngModel)]="datos.N19">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M21"
                    [(ngModel)]="datos.M19">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Carga de hidrocarburo</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F22"
                    [(ngModel)]="datos.F20"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N22"
                    [(ngModel)]="datos.N20">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M22"
                    [(ngModel)]="datos.M20">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Término del despacho y retiro de pistola del vehículo</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F21"
                    [(ngModel)]="datos.F21">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N21"
                    [(ngModel)]="datos.N21">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M21"
                    [(ngModel)]="datos.M21">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Suministro de lubricantes o aditivos</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F22"
                    [(ngModel)]="datos.F22">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N22"
                    [(ngModel)]="datos.N22">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M22"
                    [(ngModel)]="datos.M22">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Limpieza de dispensarios e islas</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Agua</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F23"
                    [(ngModel)]="datos.F23">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"                    
                    name="N23"
                    [(ngModel)]="datos.N23">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M23"
                    [(ngModel)]="datos.M23">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Limpieza de contenedores</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F24"
                    [(ngModel)]="datos.F24">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N24"
                    [(ngModel)]="datos.N24">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M24"
                    [(ngModel)]="datos.M24">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Cambio de filtros</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F25"
                    [(ngModel)]="datos.F25">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N25"
                    [(ngModel)]="datos.N25">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M25"
                    [(ngModel)]="datos.M25">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Cambio de mangueras, conexiones o pistolas</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Aire</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F26"
                    [(ngModel)]="datos.F26">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N26"
                    [(ngModel)]="datos.N26">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M26"
                    [(ngModel)]="datos.M26">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
