<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">Salir</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">  
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">FUNCIONES RESPONSABILIDADES Y AUTORIDAD</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Carta designación</ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              El siguiente formulario designa formalmente al representante tecnico del sistema de administración ademas de establecer y coordinar.
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Datos de la estacion de servicio</ion-label>
            </ion-item-divider>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Nombre del Encargado</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="nombre" required [(ngModel)]="datos.nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre del Representante Legal</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="nombre" required [(ngModel)]="datos.nombre2"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre de la estacion de servicio</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="nombreEstacion" required [(ngModel)]="datos.nombreEstacion"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="correo" required [(ngModel)]="datos.correo"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input type="number" placeholder="Escriba..." name="telefono" required [(ngModel)]="datos.telefono"></ion-input>
              </ion-item>
            </ion-list>
            <ion-item-divider color="light">
              <ion-label>Dirección de la estacion de servicio</ion-label>
            </ion-item-divider>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Estado</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="estado" required [(ngModel)]="datos.estado"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="ciudad" required [(ngModel)]="datos.ciudad"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Colonia</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="colonia" required [(ngModel)]="datos.colonia"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Codigo Postal</ion-label>
                <ion-input type="number" placeholder="Escriba..." name="cp" required [(ngModel)]="datos.cp"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Calle y numero</ion-label>
                <ion-input type="text" placeholder="Escriba..." name="calle" required [(ngModel)]="datos.calle"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card> 
        <ion-button (click)="enviarForm(formulario)" expand="block" fill="clear" shape="round">
          Guardar y enviar
        </ion-button>
        <ion-button (click)="createCartaDesignacion()" expand="block" fill="clear" shape="round">
          Crear
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="secondary">
      <ion-icon name="hand"></ion-icon>
  </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="add" (click)="abriAyuda()"><ion-icon name="folder"></ion-icon></ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>
</ion-content>