<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="pdf()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col size="10" style="display: block; margin: auto;" *ngFor= "let dd of lista">
        <p style="margin: 3%; text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolores amet non repudiandae rem at aut minus quo. Adipisci atque consequuntur ullam esse laborum omnis nisi voluptatum praesentium commodi repellat!</p>
        <ion-card>
          <ion-card-content>
            En seguimiento al proceso de la Implantación del Sistema de Administración de la Seguridad Industrial,
              Seguridad Operativa y Protección al medio Ambiente, en la Gasolinera <b>{{dd.nombreEstacionServicio}}</b> , ubicada en
              <b>{{dd.calleNumero}}</b>, C.P. <b>{{dd.cp}}</b>,<b>{{dd.estado}}</b>, <b>{{dd.ciudad}}</b>, el que suscribe <b style="font-size: 15px;">{{dd.representanteTecnico}}</b>, Representante
              Legal me permito hacer de su conocimiento que ha sido designado Representante Técnico, para fungir
              como Representante de la Estación de Servicio ante la ASEA, y para cumplir con lo siguiente:
              <ol>
                <li>Asegurar que el SA es conforme con los requisitos establecidos en los lineamientos y
                  demás normativa aplicable.
                </li>
                <li>
                  Informar a la alta dirección de la Estación de Servicio acerca del desempeño del Sistema
                  de Administración.
                </li>
                <li>Proponer la adopción de las mejores prácticas nacionales e internacionales en la
                  implementación del Sistema de Administración.
                </li>
                <li>Coordinar las acciones necesarias para subsanar los incumplimientos de la normatividad
                  interna y externa aplicable.</li>
                <li>Informar a la Agencia de cualquier situación que pudiera poner en riesgo la seguridad
                  Industrial, seguridad Operativa y Protección al Ambiente.
                </li>
              </ol>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>