<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>FUNCIONALIDAD...</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
            <ion-list>
        
              <ion-item-divider color="secondary" class="ion-text-center">
                <ion-label >
                  Datos del Representante Tecnico
                </ion-label>
              </ion-item-divider>
        
              <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-datetime name='fecha' value="2019-07-04" placeholder="Selecione la Fecha" ngModel></ion-datetime>
              </ion-item> 
        
              <ion-item>
                <ion-label position="floating" >Nombre del encargado</ion-label>
                <ion-input name='nombreEncargado' ngModel required></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="floating" >Correo Electronico</ion-label>
                <ion-input name='correo' ngModel required></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="floating" >Telefono</ion-label>
                <ion-input name='telefono' ngModel required></ion-input>
              </ion-item>
        
              <ion-item-divider color="secondary" class="ion-text-center">
                <ion-label >
                  Datos de la estacion
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating" >Razon Social</ion-label>
                <ion-input name='razonSocial' ngModel required ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating" >Calle y numero</ion-label>
                <ion-input name='direccion'  required  ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Ingresa tu CP</ion-label>
                <ion-input name="cp"  required ngModel (ionChange)="cambio($event)" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Estado</ion-label>
                <ion-input name="estado" autocomplete="false" [value]="respuestaCP.estado" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Colonia</ion-label>
                <ion-select name="colonia" placeholder="Selecciona una colonia" ngModel required>
                  <ion-select-option 
                    *ngFor="let colonia of respuestaCP.colonias" 
                    value="{{colonia}}"
                  >{{colonia}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <ion-button type="submit">
              Guardar Datos
            </ion-button>  

          </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="hand"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="add"><ion-icon name="folder"></ion-icon></ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>

</ion-content>