<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/punto-cuatro"></ion-back-button>
        </ion-buttons>
      <ion-title class="ion-text-center">FS-12 OBJETIVOS, METAS E INDICADORES</ion-title>
    </ion-toolbar><hr class="linea"> 
  </ion-header>
  
  <ion-content>
      <p style="margin: 3%; text-align: justify;">
        Debes de establecer 3 objetivos, metas e indicadores consistentes con la politica del SASISOPA considerando los requisitos legales aplicables y los resultados de la evaluación de los
        aspectos ambientales y análisis de Riesgo.
     </p>
  <ion-list *ngFor = "let check of data">
      <ion-card >
          <ion-card-header>
              <ion-card-title class="ion-text-center">{{check.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-grid fixed>
                  <ion-row>
                      <ion-col size="12" sizeLg="6">
                          <img src={{check.img}} alt="" style="width: 30%;">
                      </ion-col>
                      <ion-col size="12" sizeLg="6">
                          <h6 class="ion-text-center">Objetivos</h6>
                          <ol>
                              <li>{{check.met1}}</li>
                              <li>{{check.met2}}</li>
                              <li>{{check.meth3}}</li>
                          </ol>
                      </ion-col>
                  </ion-row>
              </ion-grid>
              <ion-item (click)="showAlert(check)" color="light" #carta>
                  <ion-label>{{check.name}}</ion-label>
                  <ion-checkbox [(ngModel)]="check.selected" [id]="check.id"></ion-checkbox>
              </ion-item>
          </ion-card-content>
      </ion-card>
  </ion-list>
  <ion-button (click)="alert()" expand="block" fill="clear" shape="round">
      Guardar y enviar
  </ion-button>
  </ion-content>

  