<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">OBJETIVOS, METAS E INDICADORES</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-grid fixed>
      <ion-slides mode="ios" pager="ios" scrollbar="ios">
        <ion-slide>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Objetivo 1</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto1" [(ngModel)]="datos.texto1" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proceso</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto2" [(ngModel)]="datos.texto2" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Responsable</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto3" [(ngModel)]="datos.texto3" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Periodo</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto4" [(ngModel)]="datos.texto4" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>METAS</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto5" [(ngModel)]="datos.texto5" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>ACTIVIDAD</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto6" [(ngModel)]="datos.texto6" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>INDICADOR</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto7" [(ngModel)]="datos.texto7" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>SOPORTE</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto8" [(ngModel)]="datos.texto8" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>FRECUENCIA DE EVALUACIÓN</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto9" [(ngModel)]="datos.texto9" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>CRITERIO DE ACEPTACIÓN </ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto10" [(ngModel)]="datos.texto10" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Objetivo 2</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto11" [(ngModel)]="datos.texto11" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proceso</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto12" [(ngModel)]="datos.texto12" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Responsable</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto13" [(ngModel)]="datos.texto13" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Periodo</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto14" [(ngModel)]="datos.texto14" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>METAS</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto15" [(ngModel)]="datos.texto15" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>ACTIVIDAD</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto16" [(ngModel)]="datos.texto16" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>INDICADOR</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto17" [(ngModel)]="datos.texto17" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>SOPORTE</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto18" [(ngModel)]="datos.texto18" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>FRECUENCIA DE EVALUACIÓN</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto19" [(ngModel)]="datos.texto19" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>CRITERIO DE ACEPTACIÓN </ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto20" [(ngModel)]="datos.texto20" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Objetivo 3</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto21" [(ngModel)]="datos.texto21" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proceso</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto22" [(ngModel)]="datos.texto22" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Responsable</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto23" [(ngModel)]="datos.texto23" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Periodo</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto24" [(ngModel)]="datos.texto24" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>METAS</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto25" [(ngModel)]="datos.texto25" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>ACTIVIDAD</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto26" [(ngModel)]="datos.texto26" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>INDICADOR</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto27" [(ngModel)]="datos.texto27" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>SOPORTE</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto28" [(ngModel)]="datos.texto28" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>FRECUENCIA DE EVALUACIÓN</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto29" [(ngModel)]="datos.texto29" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>CRITERIO DE ACEPTACIÓN </ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto30" [(ngModel)]="datos.texto30" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Objetivo 4</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto31" [(ngModel)]="datos.texto31" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proceso</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto32" [(ngModel)]="datos.texto32" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Responsable</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto33" [(ngModel)]="datos.texto33" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Periodo</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto34" [(ngModel)]="datos.texto34" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>METAS</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto35" [(ngModel)]="datos.texto35" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>ACTIVIDAD</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto36" [(ngModel)]="datos.texto36" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>INDICADOR</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto37" [(ngModel)]="datos.texto37" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>SOPORTE</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto38" [(ngModel)]="datos.texto38" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>FRECUENCIA DE EVALUACIÓN</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto39" [(ngModel)]="datos.texto39" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>CRITERIO DE ACEPTACIÓN </ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto40" [(ngModel)]="datos.texto40" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Objetivo 5</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto41" [(ngModel)]="datos.texto41" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Proceso</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto42" [(ngModel)]="datos.texto42" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Responsable</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto43" [(ngModel)]="datos.texto43" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Periodo</ion-label>
                    <ion-textarea placeholder="Escribe" name="texto44" [(ngModel)]="datos.texto44" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>METAS</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto45" [(ngModel)]="datos.texto45" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>ACTIVIDAD</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto46" [(ngModel)]="datos.texto46" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>INDICADOR</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto47" [(ngModel)]="datos.texto47" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>SOPORTE</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto48" [(ngModel)]="datos.texto48" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>FRECUENCIA DE EVALUACIÓN</ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto49" [(ngModel)]="datos.texto49" type="text"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>CRITERIO DE ACEPTACIÓN </ion-label>
                    <ion-textarea placeholder="Escribe" rows="5" name="texto50" [(ngModel)]="datos.texto50" type="text"></ion-textarea>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>Enviar datos</ion-card-title>
              </ion-card-header>
              <ion-button color="success"  type="submit">
                Enviar
                <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>Descargar PDF</ion-card-title>
              </ion-card-header>
              <ion-button color="success" expand="block" (click)="pdf()">
                Descargar
                <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </form>
</ion-content>