<ion-header>
  <ion-toolbar>
    <ion-title>FO-02 PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-once"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h1>PAROS DE EMERGENCIA</h1>
          <img src="../../../assets/imagenes/Punto11/boton-de-paro.png" alt="">
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>PAROS DE EMERGENCIA</ion-card-title>
            <h2><b>Llena los campos dependiendo al paro de emergencia: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h2>Tanques</h2>
                  <h3>Cantidad:1</h3>
                  <ion-item>
                      <ion-label>Hora</ion-label>
                      <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h1>Dispensario 1</h1>
            <h3>Cantidad:1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>PAROS DE EMERGENCIA</ion-card-title>
            <h2><b>Llena los campos dependiendo al paro de emergencia: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h2>Dispensario 2</h2>
                  <h3>Cantidad:1</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h1>Dispensario 3</h1>
            <h3>Cantidad:1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>PAROS DE EMERGENCIA</ion-card-title>
            <h2><b>Llena los campos dependiendo al paro de emergencia: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h2>Dispensario 4</h2>
                  <h3>Cantidad:1</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h1>Dispensario 5</h1>
            <h3>Cantidad:1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>PAROS DE EMERGENCIA</ion-card-title>
            <h2><b>Llena los campos dependiendo al paro de emergencia: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h2>Oficinas</h2>
                  <h3>Cantidad:1</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h1>Oficinas</h1>
            <h3>Cantidad:1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Hora"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h1>VALVULAS SHUT-0FF Y PISTOLAS</h1>
          <img src="../../../assets/imagenes/Punto11/valvula.png" alt="">
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>VALVULAS SHUT-0FF Y PISTOLAS</ion-card-title>
            <h2><b>Llena los campos dependiendo a las:VALVULAS SHUT-0FF Y PISTOLAS </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 1</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 2</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>VALVULAS SHUT-0FF Y PISTOLAS</ion-card-title>
            <h2><b>Llena los campos dependiendo a las:VALVULAS SHUT-0FF Y PISTOLAS </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 3</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 4</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>VALVULAS SHUT-0FF Y PISTOLAS</ion-card-title>
            <h2><b>Llena los campos dependiendo a las:VALVULAS SHUT-0FF Y PISTOLAS </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 5</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 6</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Magna"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Premium"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Diesel"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
          <img src="../../../assets/imagenes/Punto11/humidifier.png" alt="">
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
            <h2><b>Llena los campos dependiendo a los SENSORES DE LIQUIDOS: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Tanque de Magna</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Motobomba"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Espacio anular"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Tanque de Premium</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Motobomba"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Espacio anular"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
            <h2><b>Llena los campos dependiendo a los SENSORES DE LIQUIDOS: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Tanque de Diesel</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Motobomba"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Espacio anular"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
            <h2><b>Llena los campos dependiendo a los SENSORES DE LIQUIDOS: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 2</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 1</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
            <h2><b>Llena los campos dependiendo a los SENSORES DE LIQUIDOS: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 4</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Dispensario 5</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>PRUEBA OPERATIVA DE DISPOSITIVOS DE SEGURIDAD</ion-card-subtitle>
            <ion-card-title>SENSORES DE LIQUIDOS</ion-card-title>
            <h2><b>Llena los campos dependiendo a los SENSORES DE LIQUIDOS: </b></h2>
          </ion-card-header>
          <ion-item-divider color="secondary">
          </ion-item-divider>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <h3>Dispensario 6</h3>
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider color="tertiary">
            </ion-item-divider>
            <h3>Pozos de Observacion</h3>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Hora</ion-label><br>
                    <ion-datetime displayFormat="h:mm a" placeholder="Selecciona"></ion-datetime>
                  </ion-item>
                  <ion-item>
                    <ion-label>Resultados</ion-label><br>
                    <ion-textarea placeholder="Escribe.."></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Observaciones</ion-label><br>
                    <ion-textarea placeholder="Escribe"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
