<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-siete-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Evidencia</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <header>
      <h4 class="ion-text-uppercase" style="padding-bottom: 0;">
        Subir Evidencia del Elemento 7
      </h4>
      <ion-label>Subir archivos en formato PDF</ion-label>
    </header>
    <br><br>
    <form (submit)="uploadPhoto(title, description)">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Título</ion-label>
            <ion-input placeholder="Escribe..." type="text" #title required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Descripción</ion-label>
            <ion-input placeholder="Escribe..." type="text" #description required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-card class="ion-text-start" style="border-radius: 15px">
        <img
        [src]="photoSelected || '../../../assets/Imagenes/no hay imagen.png'"
        style="width: 250px; height: 250px; display: block; margin: auto;"
        alt="No image"
        >
        <ion-card-content>
          Es importante que las evidencias que se generen fuera del software se escaneen y se generen en 
          formato PDF.
          <br><br>
          <ion-button fill="solid" shape="round" size="default" color="danger">
            Seleccionar
          </ion-button>
        </ion-card-content>
        <footer>
          <ion-button expand="full" class="ion-no-margin">
            Subir
          </ion-button>
        </footer>
      </ion-card>
    </form>
  </ion-grid>
</ion-content>