<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Motobombas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/fo01"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button class="margen" (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Libre de fugas</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Libre de óxido</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="6">
      <ion-card>
        <ion-button class="margen" (click)="mostrarPop($event)">
          <!-- <ion-icon name="add-circle" slot="icon-only"></ion-icon> -->
          <ion-label class="centro">Válvula de corte buen estado y libre de fugas</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Conexión sensor mecánico de fugas</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="6">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Tapa de registro entrada hombre, hermética</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Contenedor limpio y seco</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Nivel de tapa 2.54 cm sobre NPT</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Tubería, buen estado y fugas</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="6">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Mangueras metálicas flexibles, buen estado</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="6">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Cajas de conexiones (condulet) con tapa y junta</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Sellos EYS con tapón y sello</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Conexión a tierra</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Sensor de líquidos, operando</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Alarmas visibles/audible, operando</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="6">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Contenedor buen estado, sin fracturas, hermético</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Tapa de contenedor hermética</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button (click)="mostrarPop($event)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          <ion-label class="centro">Botas (sello flexible) en buen estado y apretadas</ion-label>
        </ion-button>
        <ion-item>
          <ion-textarea placeholder="Observaciones..."></ion-textarea>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>