<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Comisión Reguladora de Energía</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-toolbar color="primary">
                  <h2>Materia</h2>
                </ion-toolbar>
                <br>
                <ion-card-title>Regulación para expendio al público</ion-card-title>
                <br>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-toolbar color="secondary">
                  <h2>Requisito Legal</h2>
                </ion-toolbar>
                <br>
                <h2>Contar con Permiso de expedio de petrolíferos en estaciones de servcio vigente</h2>
                <br><br>
                <ion-item>
                  <ion-label>Fecha del documento</ion-label>
                  <ion-datetime display-format="DD MM YYYY" name="fecha1" [(ngModel)]="datos.fecha1"></ion-datetime>
                </ion-item>
                <br>
                <div>
                  <ion-label>¿Presenta cambio?</ion-label>
                  <ion-item>
                    <ion-checkbox color="secondary" slot="start" name="check1" [(ngModel)]="datos.check1"></ion-checkbox>
                    <ion-label>SI</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox color="secondary" slot="start" name="check2" [(ngModel)]="datos.check2"></ion-checkbox>
                    <ion-label>NO</ion-label>
                  </ion-item>
                </div>
                <br>
                <div>
                  <ion-label>¿El resultado cumple?</ion-label>
                  <ion-item>
                    <ion-checkbox color="secondary" slot="start" name="check3" [(ngModel)]="datos.check3"></ion-checkbox>
                    <ion-label>SI</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox color="secondary" slot="start" name="check4" [(ngModel)]="datos.check4"></ion-checkbox>
                    <ion-label>NO</ion-label>
                  </ion-item>
                </div>
                <br>
                <ion-item>
                  <ion-label>Observaciones</ion-label>
                  <ion-textarea placeholder="Escribe..." name="texto1" [(ngModel)]="datos.texto1" type="text"></ion-textarea>
                </ion-item>
                <br><br><br>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
