<ion-tabs>

  <ion-tab-bar slot="bottom" class="color">
    <ion-tab-button tab="tab1" class="color">
      <ion-icon name="home" color="light"></ion-icon>
      <ion-label color="light">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="color">
      <ion-icon name="eye"  color="light"></ion-icon>
      <ion-label color="light">Indicadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="color">
      <ion-icon name="git-compare" color="light" ></ion-icon>
      <ion-label color="light">Procesos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="logout()" class="color">
      <ion-icon name="power"  color="light"></ion-icon>
      <ion-label color="light">Cerrar Sesion</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
