<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">RESULTADO DEL ANÁLISIS DE RIESGOS</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/punto-dos"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
            <ion-card-title>Descripciones de las fallas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>1.Falla</ion-label>
              <ion-input type="text" placeholder="Tipo" color="primary" name="P1C1" [(ngModel)]="datos.P1C1"></ion-input>
            </ion-item><br><br>
            <ion-item-divider>
              <ion-label class="ion-text-center">Causas de la falla</ion-label>
            </ion-item-divider>
              <ion-textarea placeholder="Describir la causa" color="primary" name="P2C1" [(ngModel)]="datos.P2C1"></ion-textarea>
            <ion-item-divider>
              <ion-label class="ion-text-center">Consecuencias</ion-label>
            </ion-item-divider>
              <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C1" [(ngModel)]="datos.P3C1"></ion-textarea>
            <ion-item-divider>
              <ion-label class="ion-text-center">Medidas de Control</ion-label>
            </ion-item-divider>
              <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C1" [(ngModel)]="datos.P4C1"></ion-textarea>
            <ion-item-divider>
              <h5>Selecciona la opcion depende a la falla</h5>
            </ion-item-divider>
            <ion-item>
              <ion-label>F</ion-label>
              <ion-checkbox name="P5C1" [(ngModel)]="datos.P5C1"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>C</ion-label>
              <ion-checkbox name="P6C1" [(ngModel)]="datos.P6C1"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>R</ion-label>
              <ion-checkbox name="P7C1" [(ngModel)]="datos.P7C1"></ion-checkbox>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide><ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>3.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C2" [(ngModel)]="datos.P1C2"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C2" [(ngModel)]="datos.P2C2"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C2" [(ngModel)]="datos.P3C2"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C2" [(ngModel)]="datos.P4C2"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C2" [(ngModel)]="datos.P5C2"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C2" [(ngModel)]="datos.P6C2"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C2" [(ngModel)]="datos.P7C2"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>4.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C3" [(ngModel)]="datos.P1C3"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C3" [(ngModel)]="datos.P2C3"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C3" [(ngModel)]="datos.P3C3"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C3" [(ngModel)]="datos.P4C3"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C3" [(ngModel)]="datos.P5C3"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C3" [(ngModel)]="datos.P6C3"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C3" [(ngModel)]="datos.P7C3"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>5.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C4" [(ngModel)]="datos.P1C4"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C4" [(ngModel)]="datos.P2C4"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C4" [(ngModel)]="datos.P3C4"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C4" [(ngModel)]="datos.P4C4"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C4" [(ngModel)]="datos.P5C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C4" [(ngModel)]="datos.P6C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C4" [(ngModel)]="datos.P7C4"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>6.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C5" [(ngModel)]="datos.P1C5"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C5" [(ngModel)]="datos.P2C5"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C5" [(ngModel)]="datos.P3C5"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C5" [(ngModel)]="datos.P4C5"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C5" [(ngModel)]="datos.P5C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C5" [(ngModel)]="datos.P6C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C5" [(ngModel)]="datos.P7C5"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>7.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C6" [(ngModel)]="datos.P1C6"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C6" [(ngModel)]="datos.P2C6"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C6" [(ngModel)]="datos.P3C6"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C6" [(ngModel)]="datos.P4C6"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C6" [(ngModel)]="datos.P5C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C6" [(ngModel)]="datos.P6C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C6" [(ngModel)]="datos.P7C6"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>8.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C7" [(ngModel)]="datos.P1C7"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C7" [(ngModel)]="datos.P2C7"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C7" [(ngModel)]="datos.P3C7"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C7" [(ngModel)]="datos.P4C7"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C7" [(ngModel)]="datos.P5C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C7" [(ngModel)]="datos.P6C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C7" [(ngModel)]="datos.P7C7"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>9.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C8" [(ngModel)]="datos.P1C8"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C8" [(ngModel)]="datos.P2C8"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C8" [(ngModel)]="datos.P3C8"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C8" [(ngModel)]="datos.P4C8"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C8" [(ngModel)]="datos.P5C8"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C8" [(ngModel)]="datos.P6C8"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C8" [(ngModel)]="datos.P7C8"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>RESULTADO DEL ANÁLISIS DE RIESGOS</ion-card-subtitle>
              <ion-card-title>Descripciones de las fallas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>10.Falla</ion-label>
                <ion-input type="text" placeholder="Tipo" color="primary" name="P1C9" [(ngModel)]="datos.P1C9"></ion-input>
              </ion-item><br><br>
              <ion-item-divider>
                <ion-label class="ion-text-center">Causas de la falla</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la causa" color="primary" name="P2C9" [(ngModel)]="datos.P2C9"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Consecuencias</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la consecuencia"color="primary" name="P3C9" [(ngModel)]="datos.P3C9"></ion-textarea>
              <ion-item-divider>
                <ion-label class="ion-text-center">Medidas de Control</ion-label>
              </ion-item-divider>
                <ion-textarea placeholder="Describir la medidas de control"color="primary" name="P4C9" [(ngModel)]="datos.P4C9"></ion-textarea>
              <ion-item-divider>
                <h5>Selecciona la opcion depende a la falla</h5>
              </ion-item-divider>
              <ion-item>
                <ion-label>F</ion-label>
                <ion-checkbox name="P5C9" [(ngModel)]="datos.P5C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>C</ion-label>
                <ion-checkbox name="P6C9" [(ngModel)]="datos.P6C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>R</ion-label>
                <ion-checkbox name="P7C9" [(ngModel)]="datos.P7C9"></ion-checkbox>
              </ion-item>
            </ion-card-content>
            <ion-button (click)="onClick()">
              Guardar y enviar
            </ion-button>
          </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Descargar pdf</ion-card-subtitle>
                <ion-card-title>Descargar pdf</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button (click)="pdf()">
                  Descargar
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                </ion-button>
                
        <ion-card-content>
            <ion-button type="submit">
              Guardar y enviar
            </ion-button>
        </ion-card-content>
              </ion-card-content>
            </ion-card>
          </ion-slide>
    </ion-slides>
  </form>
</ion-content>
