<ion-header no-border>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/punto-quince"></ion-back-button>
  </ion-buttons>
    <ion-title>FS-36 PLAN DE ATENCIÓN DE HALLAZGOS</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>

<ion-content>
  <ion-grid fixed>
    <p>
      En el formato FS-36 detallarás los hallazgos encontrados
      durante el proceso de auditoria y las acciones correctivas correspondientes.
    </p>
  </ion-grid>
  <embed
    src="../../../assets/docs/Elemento 15/FS-36 PLAN DE ATENCIÓN DE HALLAZGOS.pdf"
    type="application/pdf"
    width="100%"
    height="1200px"/>
</ion-content>
