<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>PLAN DE ATENCIÓN A HALLAZGOS DERIVADOS DEL MONITOREO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-toolbar  color="primary">
                  <h2>Codificación</h2>
                </ion-toolbar>
                <br>
                <ion-card-title>I-SASISOPA-01</ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Indicador</ion-card-subtitle>
                <ion-card-title>Cumplimiento al programa de mantenimiento preventivo y predictivo</ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card>
              <ion-card-content>
                <ion-label>Proceso, área o actividad</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-label>Proceso, área o actividad</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-label>Hallazgo</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-label>Fecha compromiso</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-card-content>
                <ion-label>Acciones preventivas/correctivas</ion-label>
                <ion-textarea placeholder="Escribe..."></ion-textarea>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-label>Fecha de cierre</ion-label>
                <ion-datetime display-format="DD MM YYYY"></ion-datetime>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-02</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Inspecciones y pruebas de tanques y de ciruitos de tubería</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-03</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Atención a las observaciones de verificaciones de la NOM-005ASEA-2016,DACG SASISOPA, análisis de riesgos y otras</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-04</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Índice de frecuencia</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-05</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Índice de gravedad</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-06</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Implementación del SASISOPA</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-07</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Cumplimiento a requisitos legales</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-08</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Reducción en la generación de residuos peligrosos</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-09</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Reducción en el consumo de agua</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-toolbar color="primary">
                <h2>Codificación</h2>
              </ion-toolbar>
              <br>
              <ion-card-title>I-SASISOPA-10</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle>Indicador</ion-card-subtitle>
              <ion-card-title>Reducción en el consumo de energía eléctrica</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Proceso, área o actividad</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Hallazgo</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha compromiso</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-label>Acciones preventivas/correctivas</ion-label>
              <ion-textarea placeholder="Escribe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label>Fecha de cierre</ion-label>
              <ion-datetime display-format="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <br><br><br>
</ion-content>
