<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-siete-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registro y control de quejas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides mode="md" pager="md" scrollbar="md">
  <ion-slide>
    <ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Registro y control de quejas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
