<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-siete-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registro y control de quejas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          Q:Queja <br>
          S:Sugerencia <br>
          O:Otro <br>
          A:Alta <br>
          M:Media <br>
          B:Baja
        </ion-card-subtitle>
      </ion-card-header>
<ion-slides mode="md" pager="md" scrollbar="md">
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="light">
            <ion-label>Asunto</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Q</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>S</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>O</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-label>Descripcion del la Queja/Registro ó Sugerencia</ion-label>
          <ion-textarea></ion-textarea>
          <ion-label>Contacto(Tel)</ion-label>
          <ion-input type="text" placeholder="Ingrese su telefono"></ion-input>
          <ion-item-divider color="light">
            <ion-label>Prioridad</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>M</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>B</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label>Fechas</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de cierre</ion-label>
            <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
          </ion-item>
          <ion-item-divider color="light">
            <ion-label >Evidencia</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Describa su evidencia"></ion-textarea>
        </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
