<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">INSPECCIÓN MENSUAL DE EXTINTORES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Tanque 1</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Tanque 2</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Dispensario 1</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Dispensario 2</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Dispensario 3</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Dispensario 4</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Dispensario 5</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Alm. residuos</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Cuarto máquinas</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Cuarto eléctrico</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Oficinas</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Facturación</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider color="light">
            <h2>Ubicación:<b>Bodega</b></h2>
          </ion-item-divider>
          <h3>Tipo:<b>PQS</b></h3>
          <br />
          <ion-item>
            <ion-label>Peso(KG)</ion-label>
            <ion-input
              type="text"
              placeholder="Ingresa Peso"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Manguera</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Presion</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Caducidad</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Boquilla</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Seguro</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input
              type="text"
              placeholder="Escribe"
              color="primary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Observaciones"></ion-textarea> </ion-item
          ><br /><br />
          <ion-button expand="block">
            Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Descargar</ion-card-subtitle>
          <ion-card-title>Descargar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="pdf()" color="primary">
            Decargar
            <ion-icon
              ios="ios-cloud-download"
              md="md-cloud-download"
            ></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
