<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">INSPECCIÓN MENSUAL DE EXTINTORES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Tanque 1</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto1"
                [(ngModel)]="datos.texto1"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto2"
                [(ngModel)]="datos.texto2"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto3"
                [(ngModel)]="datos.texto3"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto4"
                [(ngModel)]="datos.texto4"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto5"
                [(ngModel)]="datos.texto5"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto6"
                [(ngModel)]="datos.texto6"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto7"
                [(ngModel)]="datos.texto7"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
              placeholder="Observaciones"
              name="texto8"
              [(ngModel)]="datos.texto8"
              type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Tanque 2</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto9"
                [(ngModel)]="datos.texto9"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto10"
                [(ngModel)]="datos.texto10"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto11"
                [(ngModel)]="datos.texto11"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto12"
                [(ngModel)]="datos.texto12"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto13"
                [(ngModel)]="datos.texto13"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto14"
                [(ngModel)]="datos.texto14"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto15"
                [(ngModel)]="datos.texto15"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto16"
                [(ngModel)]="datos.texto16"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Dispensario 1</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto17"
                [(ngModel)]="datos.texto17"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto18"
                [(ngModel)]="datos.texto18"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto19"
                [(ngModel)]="datos.texto19"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto20"
                [(ngModel)]="datos.texto20"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto21"
                [(ngModel)]="datos.texto21"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto22"
                [(ngModel)]="datos.texto22"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto23"
                [(ngModel)]="datos.texto23"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto24"
                [(ngModel)]="datos.texto24"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Dispensario 2</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto25"
                [(ngModel)]="datos.texto25"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto26"
                [(ngModel)]="datos.texto26"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto27"
                [(ngModel)]="datos.texto27"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto28"
                [(ngModel)]="datos.texto28"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto29"
                [(ngModel)]="datos.texto29"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto30"
                [(ngModel)]="datos.texto30"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto31"
                [(ngModel)]="datos.texto31"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto32"
                [(ngModel)]="datos.texto32"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              >INSPECCIÓN MENSUAL DE EXTINTORES
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Dispensario 3</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto33"
                [(ngModel)]="datos.texto33"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto34"
                [(ngModel)]="datos.texto34"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto35"
                [(ngModel)]="datos.texto35"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto36"
                [(ngModel)]="datos.texto36"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto37"
                [(ngModel)]="datos.texto37"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto38"
                [(ngModel)]="datos.texto38"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto39"
                [(ngModel)]="datos.texto39"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto40"
                [(ngModel)]="datos.texto40"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Dispensario 4</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto41"
                [(ngModel)]="datos.texto41"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto42"
                [(ngModel)]="datos.texto42"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto43"
                [(ngModel)]="datos.texto43"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto44"
                [(ngModel)]="datos.texto44"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto45"
                [(ngModel)]="datos.texto45"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto46"
                [(ngModel)]="datos.texto46"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto47"
                [(ngModel)]="datos.texto47"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto48"
                [(ngModel)]="datos.texto48"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Dispensario 5</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto49"
                [(ngModel)]="datos.texto49"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto50"
                [(ngModel)]="datos.texto50"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto51"
                [(ngModel)]="datos.texto51"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto52"
                [(ngModel)]="datos.texto52"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto53"
                [(ngModel)]="datos.texto53"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto54"
                [(ngModel)]="datos.texto54"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto55"
                [(ngModel)]="datos.texto55"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto56"
                [(ngModel)]="datos.texto56"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Alm. residuos</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto57"
                [(ngModel)]="datos.texto57"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto58"
                [(ngModel)]="datos.texto58"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto59"
                [(ngModel)]="datos.texto59"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto60"
                [(ngModel)]="datos.texto60"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto61"
                [(ngModel)]="datos.texto61"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto62"
                [(ngModel)]="datos.texto62"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto63"
                [(ngModel)]="datos.texto63"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto64"
                [(ngModel)]="datos.texto64"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Cuarto máquinas</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto65"
                [(ngModel)]="datos.texto65"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto66"
                [(ngModel)]="datos.texto66"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto67"
                [(ngModel)]="datos.texto67"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto68"
                [(ngModel)]="datos.texto68"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto69"
                [(ngModel)]="datos.texto69"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto70"
                [(ngModel)]="datos.texto70"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto71"
                [(ngModel)]="datos.texto71"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto72"
                [(ngModel)]="datos.texto72"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Cuarto eléctrico</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto73"
                [(ngModel)]="datos.texto73"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto74"
                [(ngModel)]="datos.texto74"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto75"
                [(ngModel)]="datos.texto75"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto76"
                [(ngModel)]="datos.texto76"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto77"
                [(ngModel)]="datos.texto77"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto78"
                [(ngModel)]="datos.texto78"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto79"
                [(ngModel)]="datos.texto79"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
              placeholder="Observaciones"
              name="texto80"
              [(ngModel)]="datos.texto80"
              ></ion-textarea> 
            </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Oficinas</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto81"
                [(ngModel)]="datos.texto81"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto82"
                [(ngModel)]="datos.texto82"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto83"
                [(ngModel)]="datos.texto83"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto84"
                [(ngModel)]="datos.texto84"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto85"
                [(ngModel)]="datos.texto85"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto86"
                [(ngModel)]="datos.texto86"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto87"
                [(ngModel)]="datos.texto87"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto88"
                [(ngModel)]="datos.texto88"
                type="text"
              ></ion-textarea> 
            </ion-item>
            <br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Facturación</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto89"
                [(ngModel)]="datos.texto89"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto90"
                [(ngModel)]="datos.texto90"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto91"
                [(ngModel)]="datos.texto91"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto92"
                [(ngModel)]="datos.texto92"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto93"
                [(ngModel)]="datos.texto93"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto94"
                [(ngModel)]="datos.texto94"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto95"
                [(ngModel)]="datos.texto95"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto96"
                [(ngModel)]="datos.texto96"
                type="text"
              ></ion-textarea> </ion-item
            ><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >INSPECCIÓN MENSUAL DE EXTINTORES</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item-divider color="light">
              <h2>Ubicación:<b>Bodega</b></h2>
            </ion-item-divider>
            <h3>Tipo:<b>PQS</b></h3>
            <br />
            <ion-item>
              <ion-label>Peso(KG)</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa Peso"
                color="primary"
                name="texto97"
                [(ngModel)]="datos.texto97"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Manguera</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto98"
                [(ngModel)]="datos.texto98"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Presion</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto99"
                [(ngModel)]="datos.texto99"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Caducidad</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto100"
                [(ngModel)]="datos.texto100"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Boquilla</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto101"
                [(ngModel)]="datos.texto101"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seguro</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto102"
                [(ngModel)]="datos.texto102"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input
                type="text"
                placeholder="Escribe"
                color="primary"
                name="texto103"
                [(ngModel)]="datos.texto103"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea 
                placeholder="Observaciones"
                name="texto104"
                [(ngModel)]="datos.texto104"
                type="text"
              ></ion-textarea> 
            </ion-item><br /><br />
            <ion-button expand="block">
              Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Descargar</ion-card-subtitle>
            <ion-card-title>Descargar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="pdf()" color="primary">
              Decargar
              <ion-icon
                ios="ios-cloud-download"
                md="md-cloud-download"
              ></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
