<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>PROGRAMA DE MONITOREO Y MEDICIÓN DE PARÁMETROS DE DESEMPEÑO</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-01</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Cumplimiento al programa de mantenimiento preventivo y predictivo</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>  
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-02</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Inspección y pruebas de tanques y de circuitos de tubería</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content> 
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-03</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Atención a las observaciones de verificaciones de la NOM-005-ASEA-2016, análisis de riesgos y otras.</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br><br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-04</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Índice de frecuencia</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-05</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Índice de gravedad</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-06</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Implementación del SASISOPA</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-07</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Cumplimiento a requisitos legales</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
         </ion-card-content> 
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-08</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Reducción en la generación de residuos peligrosos</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>  
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-09</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Reducción en el fconsumo de agua</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>Codificación</ion-card-subtitle>
          <ion-card-title>I-SASISOPA-10</ion-card-title>
          <br><br>
          <ion-card-subtitle>Indicador</ion-card-subtitle>
          <ion-card-title>Reducción en el consumo de energía eléctrica</ion-card-title>
          <br><br>
          <ion-label>Proceso, área o actividad</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <ion-label>Criterio de aceptación</ion-label>
          <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
          <br>
          <ion-label>Responsable</ion-label>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br><br>
          <ion-card-title>2019</ion-card-title>
          <br><br>
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
