<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PROGRAMA DE MONITOREO Y MEDICIÓN DE PARÁMETROS DE DESEMPEÑO</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-01</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Cumplimiento al programa de mantenimiento preventivo y predictivo</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto1" [(ngModel)]="datos.texto1" type="text"></ion-textarea>
            <br><br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto2" [(ngModel)]="datos.texto2" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto3" [(ngModel)]="datos.texto3" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check1" [(ngModel)]="datos.check1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check2" [(ngModel)]="datos.check2"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check3" [(ngModel)]="datos.check3"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check4" [(ngModel)]="datos.check4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check5" [(ngModel)]="datos.check5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check5" [(ngModel)]="datos.check5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check6" [(ngModel)]="datos.check6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check7" [(ngModel)]="datos.check7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check8" [(ngModel)]="datos.check8"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check9" [(ngModel)]="datos.check9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check10" [(ngModel)]="datos.check10"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check11" [(ngModel)]="datos.check11"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>  
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-02</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Inspección y pruebas de tanques y de circuitos de tubería</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto4" [(ngModel)]="datos.texto4" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto5" [(ngModel)]="datos.texto5" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto6" [(ngModel)]="datos.texto6" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check12" [(ngModel)]="datos.check12"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check13" [(ngModel)]="datos.check13"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check14" [(ngModel)]="datos.check14"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check15" [(ngModel)]="datos.check15"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check16" [(ngModel)]="datos.check16"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success"  name="check17" [(ngModel)]="datos.check17"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check18" [(ngModel)]="datos.check18"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check19" [(ngModel)]="datos.check19"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check20" [(ngModel)]="datos.check20"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check21" [(ngModel)]="datos.check21"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check22" [(ngModel)]="datos.check22"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check23" [(ngModel)]="datos.check23"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-03</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Atención a las observaciones de verificaciones de la NOM-005-ASEA-2016, análisis de riesgos y otras.</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto7" [(ngModel)]="datos.texto7" type="text"></ion-textarea>
            <br><br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto8" [(ngModel)]="datos.texto8" type="text"></ion-textarea>
            <br><br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..."  name="texto9" [(ngModel)]="datos.texto9" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success"  name="check24" [(ngModel)]="datos.check24"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check25" [(ngModel)]="datos.check25"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check26" [(ngModel)]="datos.check26"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check27" [(ngModel)]="datos.check27"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check28" [(ngModel)]="datos.check28"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check29" [(ngModel)]="datos.check29"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check30" [(ngModel)]="datos.check30"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check31" [(ngModel)]="datos.check31"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check32" [(ngModel)]="datos.check32"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check32" [(ngModel)]="datos.check32"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check33" [(ngModel)]="datos.check33"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check34" [(ngModel)]="datos.check34"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-04</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Índice de frecuencia</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto10" [(ngModel)]="datos.texto10" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto11" [(ngModel)]="datos.texto11" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto11" [(ngModel)]="datos.texto11" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check35" [(ngModel)]="datos.check35"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check36" [(ngModel)]="datos.check36"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check37" [(ngModel)]="datos.check37"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check38" [(ngModel)]="datos.check38"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check39" [(ngModel)]="datos.check39"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check40" [(ngModel)]="datos.check40"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check41" [(ngModel)]="datos.check41"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check42" [(ngModel)]="datos.check42"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check43" [(ngModel)]="datos.check43"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check44" [(ngModel)]="datos.check44"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check45" [(ngModel)]="datos.check45"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check46" [(ngModel)]="datos.check46"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-05</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Índice de gravedad</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto12" [(ngModel)]="datos.texto12" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto13" [(ngModel)]="datos.texto13" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto14" [(ngModel)]="datos.texto14" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check47" [(ngModel)]="datos.check47"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check48" [(ngModel)]="datos.check48"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check49" [(ngModel)]="datos.check49"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check50" [(ngModel)]="datos.check50"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check51" [(ngModel)]="datos.check51"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check52" [(ngModel)]="datos.check52"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check53" [(ngModel)]="datos.check53"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check54" [(ngModel)]="datos.check54"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check55" [(ngModel)]="datos.check55"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check56" [(ngModel)]="datos.check56"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check57" [(ngModel)]="datos.check57"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check58" [(ngModel)]="datos.check58"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-06</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Implementación del SASISOPA</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check59" [(ngModel)]="datos.check59"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check60" [(ngModel)]="datos.check60"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check61" [(ngModel)]="datos.check61"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check62" [(ngModel)]="datos.check62"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check63" [(ngModel)]="datos.check63"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check64" [(ngModel)]="datos.check64"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check65" [(ngModel)]="datos.check65"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check66" [(ngModel)]="datos.check66"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check67" [(ngModel)]="datos.check67"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check68" [(ngModel)]="datos.check68"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check69" [(ngModel)]="datos.check69"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check70" [(ngModel)]="datos.check70"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-07</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Cumplimiento a requisitos legales</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto15" [(ngModel)]="datos.texto15" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto16" [(ngModel)]="datos.texto16" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto17" [(ngModel)]="datos.texto17" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check71" [(ngModel)]="datos.check71"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check72" [(ngModel)]="datos.check72"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check73" [(ngModel)]="datos.check73"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check74" [(ngModel)]="datos.check74"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check75" [(ngModel)]="datos.check75"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check76" [(ngModel)]="datos.check76"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check77" [(ngModel)]="datos.check77"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check78" [(ngModel)]="datos.check78"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check79" [(ngModel)]="datos.check79"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check80" [(ngModel)]="datos.check80"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check81" [(ngModel)]="datos.check81"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check82" [(ngModel)]="datos.check82"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-08</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Reducción en la generación de residuos peligrosos</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto18" [(ngModel)]="datos.texto18" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto19" [(ngModel)]="datos.texto19" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto20" [(ngModel)]="datos.texto20" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check83" [(ngModel)]="datos.check83"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check84" [(ngModel)]="datos.check84"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check85" [(ngModel)]="datos.check85"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check86" [(ngModel)]="datos.check86"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check87" [(ngModel)]="datos.check87"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check88" [(ngModel)]="datos.check88"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check89" [(ngModel)]="datos.check89"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check90" [(ngModel)]="datos.check90"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check91" [(ngModel)]="datos.check91"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check92" [(ngModel)]="datos.check92"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check93" [(ngModel)]="datos.check93"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check94" [(ngModel)]="datos.check94"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>  
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-09</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Reducción en el fconsumo de agua</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto19" [(ngModel)]="datos.texto19" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto20" [(ngModel)]="datos.texto20" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto21" [(ngModel)]="datos.texto21" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check95" [(ngModel)]="datos.check95"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check96" [(ngModel)]="datos.check96"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check97" [(ngModel)]="datos.check97"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check98" [(ngModel)]="datos.check98"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check99" [(ngModel)]="datos.check99"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check100" [(ngModel)]="datos.check100"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check101" [(ngModel)]="datos.check101"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check102" [(ngModel)]="datos.check102"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check103" [(ngModel)]="datos.check103"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check104" [(ngModel)]="datos.check104"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check105" [(ngModel)]="datos.check105"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check106" [(ngModel)]="datos.check106"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Codificación</ion-card-subtitle>
            <ion-card-title>I-SASISOPA-10</ion-card-title>
            <br><br>
            <ion-card-subtitle>Indicador</ion-card-subtitle>
            <ion-card-title>Reducción en el consumo de energía eléctrica</ion-card-title>
            <br><br>
            <ion-label>Proceso, área o actividad</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto22" [(ngModel)]="datos.texto22" type="text"></ion-textarea>
            <br>
            <ion-label>Criterio de aceptación</ion-label>
            <ion-textarea placeholder="Escribe en porcentaje" name="texto23" [(ngModel)]="datos.texto23" type="text"></ion-textarea>
            <br>
            <ion-label>Responsable</ion-label>
            <ion-textarea placeholder="Escribe..." name="texto24" [(ngModel)]="datos.texto24" type="text"></ion-textarea>
            <br><br>
            <ion-card-title>2019</ion-card-title>
            <br><br>
            <ion-list>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox color="success" name="check107" [(ngModel)]="datos.check107"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox color="success" name="check108" [(ngModel)]="datos.check108"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox color="success" name="check109" [(ngModel)]="datos.check109"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox color="success" name="check110" [(ngModel)]="datos.check110"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox color="success" name="check111" [(ngModel)]="datos.check111"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox color="success" name="check112" [(ngModel)]="datos.check112"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox color="success" name="check113" [(ngModel)]="datos.check113"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox color="success" name="check114" [(ngModel)]="datos.check114"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox color="success" name="check115" [(ngModel)]="datos.check115"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox color="success" name="check116" [(ngModel)]="datos.check116"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox color="success" name="check117" [(ngModel)]="datos.check117"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox color="success" name="check118" [(ngModel)]="datos.check118"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Enviar datos</ion-card-title>
            </ion-card-header>
            <ion-button color="success"  type="submit">
              Enviar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Descargar PDF</ion-card-title>
            </ion-card-header>
            <ion-button color="success" (click)="pdf()">
              Descargar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
