<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title>PROGRAMA ANUAL DE SIMULACROS 2019</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content padding>
   <p style="margin: 3%; text-align: justify;">
     A continuación te presentamos los escenarios de riesgos más comunes en tu estación de servicio.
     Deberás seleccionar dos para realizar tu programación de los simulacros correspondientes al año.
   </p>
   <div>
     <app-acordeon></app-acordeon>
   </div>
   
</ion-content>