<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title>PROGRAMA ANUAL DE SIMULACROS 2019</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content padding>
   <p style="margin: 3%; text-align: justify;">
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam officia quisquam, qui ad sint sed ipsum, nobis 
     repellendus cumque delectus tempora quaerat inventore sit.Exercitationem praesentium hic at odit non?
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam officia quisquam, qui ad sint sed ipsum, nobis 
     repellendus cumque delectus tempora quaerat inventore sit.Exercitationem praesentium hic at odit non?
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam officia quisquam, qui ad sint sed ipsum, nobis 
     repellendus cumque delectus tempora quaerat inventore sit.Exercitationem praesentium hic at odit non?
   </p>
   <div>
     <app-acordeon></app-acordeon>
   </div>
   
</ion-content>