<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title>P13-EvaluacionSimulacros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>XIII. PREPARACIÓN Y RESPUESTA A EMERGENCIAS</ion-card-subtitle>
          <ion-card-title>EVALUACIÓN DE SIMULACROS</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
