// ion-slides{
//     height: 100%;
//     background-image: url('../../../assets/FondosEstilos/login_blue_BG-02.png');
// }
// .slide{
//     height: 70%;
//     width: 10%;
// }
.cabeza{
    font-size: 30px;
    
}
.linea{
    background-color: #0079ED;
    height: 6px;
}
.logo{
    height: 220px;
    width: auto;
    margin: auto;
}