<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">III. Requisitos legales</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card mode="ios" (click)="goProcedimiento()" class="carta">
          <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          <img src="../../../assets/imagenes/Elemento3/3_procedimiento-01.png" style="width: 30%; height: auto; margin: auto; display: block;" />
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card mode="ios" (click)="goFormulario()"class="carta" >
          <ion-card-title>Lista Requisistos Legales</ion-card-title>
          <img src="../../../assets/imagenes/Elemento3/3_requisitoslegales-01 (1).png" style="width: 30%; height: auto; margin: auto; display: block;"  />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
