<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">III. Requisitos legales</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content>
  <p style="margin: 3%; text-align: justify;">Aplicar de manera sistemática un método para identificar los requisitos legales y otros
    requisitos que apliquen a los aspectos ambientales y a los peligros asociados a la estación de
    servicio, y establecer periodos de verificación para evaluar el cumplimiento.</p>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goProcedimiento()" class="carta">
          <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          <img  class="ion-padding image" src="../../../assets/Imagenes/1_procedimiento.png" style="width: 50%; display: block; margin: auto;"  />
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goFormulario()"class="carta" >
          <ion-card-title class="ion-text-center">Lista Requisistos Legales</ion-card-title>
          <img  class="ion-padding image" src="../../../assets/Imagenes/Elemento 3/3_requisitoslegales-01.png" style="width: 50%; display: block; margin: auto;" />
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvidencia()" class="carta">
          <ion-card-title class="ion-text-center">Evidencia</ion-card-title>
          <img  class="ion-padding image" src="../../../assets/Imagenes/1_evidencia.png" style="width: 50%; display: block; margin: auto;" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="prueba()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</ion-content>
