<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos-aspectos"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuarto de máquinas</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div>
            
            <h3 class="ion-text-center">
              Para cada aspecto se asigna la puntuación correspondiente a cada criterio en función de 
              la experiencia del evaluador. El valor máximo es 10.
            </h3>
            <h6 class="ion-text-center">(Deslice los recuardos)</h6>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="6">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Operación manual</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Recursos naturales</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F38"
                    [(ngModel)]="datos.F38">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N38"
                    [(ngModel)]="datos.N38">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M38"
                    [(ngModel)]="datos.M38">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT38 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="6">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Mantenimiento</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="F39"
                    [(ngModel)]="datos.F39">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="N39"
                    [(ngModel)]="datos.N39">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="10"
                    name="M39"
                    [(ngModel)]="datos.M39"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: {{ this.datos.VT39 }}</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-button type="submit" class="ion-activatable ripple-parent">
                  Guardar datos
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
