<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos-aspectos"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuarto de máquinas</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="6">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Operación manual</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Recursos naturales</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F38"
                    [(ngModel)]="datos.F38">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N38"
                    [(ngModel)]="datos.N38">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M38"
                    [(ngModel)]="datos.M38">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="6">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad, producto o servicio</ion-card-subtitle>
                <ion-card-title>Mantenimiento</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Impacto Ambiental</ion-card-subtitle>
                <ion-card-title>Residuos peligrosos</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="20"
                    name="F39"
                    [(ngModel)]="datos.F39">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Naturaleza:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="N39"
                    [(ngModel)]="datos.N39">
                  </ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  <ion-input 
                    placeholder="Selecciona"
                    type="number"  
                    min="1" 
                    max="4"
                    name="M39"
                    [(ngModel)]="datos.M39"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor Total: </ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
