<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/punto-ocho-menu"></ion-back-button>
  </ion-buttons>
    <ion-title class="ion-text-center">FS-02 LISTA DE MAESTRA DE DOCUMENTOS INTERNOS</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Procedimientos</ion-card-title>
              <ion-card-subtitle>
                A continuación se enlistarán todos los procedimientos que se encuentran en el sistema.
              </ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              
              <ion-item>
                <ion-label>
                  <h2>Política</h2>
                  <h3>P-SA-01</h3>
                  <p>Elemento 1</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 1/P-SA-01 POLÍTICA1.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Identificación de aspectos ambientales y de riesgos</h2>
                  <h3>P-SA-02</h3>
                  <p>Elemento 2</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 2/P-SA-02 IDENTIFICACION DE ASPECTOS AMBIENTALES Y DE RIESGOS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Requisitos Legales</h2>
                  <h3>P-SA-03</h3>
                  <p>Elemento 3</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 3/P-SA-02 REQUISITOS LEGALES2.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Objetivos, Metas e Indicadores</h2>
                  <h3>P-SA-04</h3>
                  <p>Elemento 4</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 4/P-SA-04 OBJETIVOS, METAS E INDICADORES.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Funciones, Responsabilidades y Autoridad</h2>
                  <h3>P-SA-05</h3>
                  <p>Elemento 5</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 5/P-SA-05 FUNCIONES, RESPONSABILIDADES Y AUTORIDAD.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Competencia del personal, Capacitación y Entrenamiento</h2>
                  <h3>P-SA-06</h3>
                  <p>Elemento 6</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 6/P-SA-06 COMPETENCIA DEL PERSONAL, CAPACITACIÓN Y ENTRENAMIENTO.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Identificación de aspectos ambientales y de riesgos</h2>
                  <h3>P-SA-07</h3>
                  <p>Elemento 7</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 7/P-SA-07 COMUNICACION, PARTICIPACION Y CONSULTA.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Control de Documentos y Registros</h2>
                  <h3>P-SA-08</h3>
                  <p>Elemento 8</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 8/P-SA-08 CONTROL DE DOCUMENTOS Y REGISTROS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Control de Documentos y Registros</h2>
                  <h3>P-SA-09</h3>
                  <p>Elemento 9</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 9/P-SA-09 CONTROL DE DOCUMENTOS Y REGISTROS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Control de Actividades y Procesos</h2>
                  <h3>P-SA-10</h3>
                  <p>Elemento 10</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 10/P-SA-10 CONTROL DE ACTIVIDADES Y PROCESOS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Integridad Mecánica</h2>
                  <h3>P-SA-11</h3>
                  <p>Elemento 11</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 11/P-SA-11 INTEGRIDAD MECANICA.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Seguridad de Contratistas</h2>
                  <h3>P-SA-12</h3>
                  <p>Elemento 12</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 12/P-SA-12 .pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Preparación y Respuesta a Emergencias</h2>
                  <h3>P-SA-13</h3>
                  <p>Elemento 13</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 13/P-SA-13 .pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Monitoreo, Verificación y Evaluación</h2>
                  <h3>P-SA-14</h3>
                  <p>Elemento 14</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 14/P-SA-14 MONITOREO VERIFICACION Y EVALUACION.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Auditorías</h2>
                  <h3>P-SA-15</h3>
                  <p>Elemento 15</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 15/P-SA-15 AUDITORIAS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Investigación de Incidentes y Accidentes</h2>
                  <h3>P-SA-16</h3>
                  <p>Elemento 16</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 16/P-SA-16 .pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Revisión de Resultados</h2>
                  <h3>P-SA-17</h3>
                  <p>Elemento 17</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 17/P-SA-17 REVISION DE RESULTADOS.pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <h2>Informes de Desempeño</h2>
                  <h3>P-SA-18</h3>
                  <p>Elemento 18</p>
                </ion-label>
                <ion-button
                  href="assets/docs/Elemento 18/P-SA-18 .pdf"
                  fill="clear"
                  shape="round"
                  download>
                  <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>Formatos</ion-card-title>
            <ion-card-subtitle>
              A continuación se enlistarán todos los formatos que se encuentran en el sistema.
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
