<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diciseis"></ion-back-button>
    </ion-buttons>
    <ion-title>FO-13 Comprobación de Hipótesis de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>DESCRIPCIÓN DEL INCIDENTE</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="10" ></ion-textarea>
          </ion-item>
          <br>
          <h2>ID DEL INCIDENTE</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..."></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>FECHA DEL INCIDENTE</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>FECHA DE ANÁLISIS</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <h2>ÁREA O EQUIPO</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe" rows="3"></ion-textarea>
          </ion-item>
          <br>
          <h2>SERVICIO</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>ACCIÓN DE COMPROBACIÓN</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>RESPONSABLE</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>FECHA</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <h2>RESULTADOS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>ACCIÓN DE COMPROBACIÓN</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>RESPONSABLE</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>FECHA</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <h2>RESULTADOS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>ACCIÓN DE COMPROBACIÓN</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <h2>RESPONSABLE</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." row="2"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>FECHA</ion-label>
            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <br>
          <h2>RESULTADOS</h2>
          <ion-item>
            <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item-divider color="success" class="ion-text-center">
            <ion-label>PERSONAL QUE PARTICIPA EN LA CAUSA RAÍZ</ion-label>
          </ion-item-divider>
          <br>
          <ion-item>
            <ion-textarea placeholder="NOMBRE"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="CARGO"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <ion-textarea placeholder="FIRMA"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>