<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diciseis"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FO-13 Comprobación de Hipótesis de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>DESCRIPCIÓN DEL INCIDENTE</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="10" name="texto1" [(ngModel)]="datos.texto1" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>ID DEL INCIDENTE</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." name="texto2" [(ngModel)]="datos.texto2" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>FECHA DEL INCIDENTE</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" name="fecha1" [(ngModel)]="datos.fecha1"></ion-datetime>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>FECHA DE ANÁLISIS</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" name="fecha2" [(ngModel)]="datos.fecha2"></ion-datetime>
            </ion-item>
            <br>
            <h2>ÁREA O EQUIPO</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="3" name="texto3" [(ngModel)]="datos.texto3" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>SERVICIO</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto4" [(ngModel)]="datos.texto4" type="text"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto5" [(ngModel)]="datos.texto5" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>ACCIÓN DE COMPROBACIÓN</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto6" [(ngModel)]="datos.texto6" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>RESPONSABLE</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto7" [(ngModel)]="datos.texto7" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>FECHA</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" name="fecha3" [(ngModel)]="datos.fecha3"></ion-datetime>
            </ion-item>
            <br>
            <h2>RESULTADOS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5" name="texto8" [(ngModel)]="datos.texto8" type="text"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto9" [(ngModel)]="datos.texto9" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>ACCIÓN DE COMPROBACIÓN</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto10" [(ngModel)]="datos.texto10" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>RESPONSABLE</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto11" [(ngModel)]="datos.texto11" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>FECHA</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" name="fecha4" [(ngModel)]="datos.fecha4"></ion-datetime>
            </ion-item>
            <br>
            <h2>RESULTADOS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5" name="texto12" [(ngModel)]="datos.texto12" type="text"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <h2>DESCRIPCIÓN DE LA HIPÓTESIS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto13" [(ngModel)]="datos.texto13" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>ACCIÓN DE COMPROBACIÓN</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto14" [(ngModel)]="datos.texto14" type="text"></ion-textarea>
            </ion-item>
            <br>
            <h2>RESPONSABLE</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." row="2" name="texto15" [(ngModel)]="datos.texto15" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>FECHA</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" name="fecha5" [(ngModel)]="datos.fecha5"></ion-datetime>
            </ion-item>
            <br>
            <h2>RESULTADOS</h2>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5" name="texto16" [(ngModel)]="datos.texto16" type="text"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>PERSONAL QUE PARTICIPA EN LA CAUSA RAÍZ</ion-label>
            </ion-item-divider>
            <br>
            <ion-item>
              <ion-textarea placeholder="NOMBRE" name="texto17" [(ngModel)]="datos.texto17" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="CARGO" name="texto18" [(ngModel)]="datos.texto18" type="text"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-textarea placeholder="FIRMA" name="texto20" [(ngModel)]="datos.texto20" type="text"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Enviar datos</ion-card-title>
            </ion-card-header>
            <ion-button color="success"  type="submit">
              Enviar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Descargar PDF</ion-card-title>
            </ion-card-header>
            <ion-button color="success" expand="block" (click)="pdf()">
              Descargar
              <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>