<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluación de aspectos ambientales</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-list>

    <ion-item routerLink="/punto-dos-asam-uno">
      <ion-label>
        ALMACENAMIENTO DE COMBUSTIBLES
      </ion-label>
    </ion-item>

    <ion-item routerLink="/punto-dos-asam-dos">
      <ion-label>
        MÓDULO DE DESPACHO DE ABASTECIMIENTO DE COMBUSTIBLE A VEHÍCULOS
      </ion-label>
    </ion-item>

    <ion-item routerLink="/punto-dos-asam-tres">
      <ion-label>
        DRENAJES Y TRAMPA DE COMBUSTIBLES
      </ion-label>
    </ion-item>

    <ion-item routerLink="/punto-dos-asam-cuatro">
      <ion-label>
        OFICINAS Y BAÑOS
      </ion-label>
    </ion-item>

    <ion-item routerLink="/punto-dos-asam-cinco">
      <ion-label>
        CUARTO DE CONTROL ELÉCTRICO
      </ion-label>
    </ion-item>

    <ion-item routerLink="/punto-dos-asam-seis">
      <ion-label>
        CUARTO DE MÁQUINAS
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>