.linea{
    background-color: #D79043;
    height: 5px;
}
.acomodo{
    margin: 0px 20px;
    text-align: justify;
}
.barraed{
    color: #134289;
}
.ripple-parent {
    position: relative;
    overflow: hidden;
}
.linea1{
    background-color: #0080BB;
    height: 2px;
}