<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">listado-peligros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-slides mode="ios" pager="ios" scrollbar="ios">
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>1.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C1P1" [(ngModel)]="datos.C1P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C1P2" [(ngModel)]="datos.C1P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C1P3" [(ngModel)]="datos.C1P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C1P4" [(ngModel)]="datos.C1P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>2.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C2P1" [(ngModel)]="datos.C2P1"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C2P2" [(ngModel)]="datos.C2P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C2P3" [(ngModel)]="datos.C2P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C2P4" [(ngModel)]="datos.C2P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>3.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C3P1" [(ngModel)]="datos.C3P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C3P2" [(ngModel)]="datos.C3P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C3P3" [(ngModel)]="datos.C3P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C3P4" [(ngModel)]="datos.C3P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>4.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C4P1" [(ngModel)]="datos.C4P1"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C4P2" [(ngModel)]="datos.C4P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C4P3" [(ngModel)]="datos.C4P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C4P4" [(ngModel)]="datos.C4P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>5.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C5P1" [(ngModel)]="datos.C5P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C5P2" [(ngModel)]="datos.C5P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C5P3" [(ngModel)]="datos.C5P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C5P4" [(ngModel)]="datos.C5P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>6.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C6P1" [(ngModel)]="datos.C6P1"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C6P2" [(ngModel)]="datos.C6P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C6P3" [(ngModel)]="datos.C6P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C6P4" [(ngModel)]="datos.C6P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>7.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C7P1" [(ngModel)]="datos.C7P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C7P2" [(ngModel)]="datos.C7P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C7P3" [(ngModel)]="datos.C7P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C7P4" [(ngModel)]="datos.C7P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>8.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C8P1" [(ngModel)]="datos.C8P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C8P2" [(ngModel)]="datos.C8P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C8P3" [(ngModel)]="datos.C8P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C8P4" [(ngModel)]="datos.C8P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>9.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C9P1" [(ngModel)]="datos.C9P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C9P2" [(ngModel)]="datos.C9P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C9P3" [(ngModel)]="datos.C9P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C9P4" [(ngModel)]="datos.C9P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>10.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C10P1" [(ngModel)]="datos.C10P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C10P2" [(ngModel)]="datos.C10P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C10P3" [(ngModel)]="datos.C10P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C10P4" [(ngModel)]="datos.C10P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>11.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C11P1" [(ngModel)]="datos.C11P1"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C11P2" [(ngModel)]="datos.C11P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C11P3" [(ngModel)]="datos.C11P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C11P4" [(ngModel)]="datos.C11P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>12.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C12P1" [(ngModel)]="datos.C12P1"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C12P2" [(ngModel)]="datos.C12P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C12P3" [(ngModel)]="datos.C12P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C12P4" [(ngModel)]="datos.C12P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>13.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C13P1" [(ngModel)]="datos.C13P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C13P2" [(ngModel)]="datos.C13P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C13P3" [(ngModel)]="datos.C13P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C13P4" [(ngModel)]="datos.C13P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>14.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C14P1" [(ngModel)]="datos.C14P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C14P2" [(ngModel)]="datos.C14P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C14P3" [(ngModel)]="datos.C14P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C14P4" [(ngModel)]="datos.C14P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>15.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C15P1" [(ngModel)]="datos.C15P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C15P2" [(ngModel)]="datos.C15P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C15P3" [(ngModel)]="datos.C15P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C15P4" [(ngModel)]="datos.C15P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>16.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C16P1" [(ngModel)]="datos.C16P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C16P2" [(ngModel)]="datos.C16P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C16P3" [(ngModel)]="datos.C16P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C16P4" [(ngModel)]="datos.C16P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>17.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C17P1" [(ngModel)]="datos.C17P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C17P2" [(ngModel)]="datos.C17P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C17P3" [(ngModel)]="datos.C17P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C17P4" [(ngModel)]="datos.C17P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>18.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C18P1" [(ngModel)]="datos.C18P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C18P2" [(ngModel)]="datos.C18P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C18P3" [(ngModel)]="datos.C18P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C18P4" [(ngModel)]="datos.C18P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>19.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C19P1" [(ngModel)]="datos.C19P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C19P2" [(ngModel)]="datos.C19P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C19P3" [(ngModel)]="datos.C19P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C19P4" [(ngModel)]="datos.C19P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>20.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C20P1" [(ngModel)]="datos.C20P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C20P2" [(ngModel)]="datos.C20P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C20P3" [(ngModel)]="datos.C20P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C20P4" [(ngModel)]="datos.C20P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>21.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C21P1" [(ngModel)]="datos.C21P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary"  name="C21P2" [(ngModel)]="datos.C21P2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary"  name="C21P3" [(ngModel)]="datos.C21P3"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary"  name="C21P4" [(ngModel)]="datos.C21P4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>22.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C22P1" [(ngModel)]="datos.C22P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C22P2" [(ngModel)]="datos.C22P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C22P3" [(ngModel)]="datos.C22P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C22P4" [(ngModel)]="datos.C22P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>23.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C23P1" [(ngModel)]="datos.C23P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C23P2" [(ngModel)]="datos.C23P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C23P3" [(ngModel)]="datos.C23P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C23P4" [(ngModel)]="datos.C23P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>24.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C24P1" [(ngModel)]="datos.C24P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C24P2" [(ngModel)]="datos.C24P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C24P3" [(ngModel)]="datos.C24P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C24P4" [(ngModel)]="datos.C24P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>25.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C25P1" [(ngModel)]="datos.C25P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C25P2" [(ngModel)]="datos.C25P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C25P3" [(ngModel)]="datos.C25P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C25P4" [(ngModel)]="datos.C25P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>26.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C26P1" [(ngModel)]="datos.C26P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C26P2" [(ngModel)]="datos.C26P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C26P3" [(ngModel)]="datos.C26P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C26P4" [(ngModel)]="datos.C26P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>27.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C27P1" [(ngModel)]="datos.C27P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C27P2" [(ngModel)]="datos.C27P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C27P3" [(ngModel)]="datos.C27P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C27P4" [(ngModel)]="datos.C27P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>28.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C28P1" [(ngModel)]="datos.C28P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C28P2" [(ngModel)]="datos.C28P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C28P3" [(ngModel)]="datos.C28P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C28P4" [(ngModel)]="datos.C28P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>29.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" name="C29P1" [(ngModel)]="datos.C29P1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" name="C29P2" [(ngModel)]="datos.C29P2" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" name="C29P3" [(ngModel)]="datos.C29P3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" name="C29P4" [(ngModel)]="datos.C29P4" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Descargar pdf</ion-card-subtitle>
                  <ion-card-title>Descargar pdf</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button (click)="pdf()">
                    Descargar
                    <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                  </ion-button>
                  <ion-button type="submit">
                    Guardar y enviar
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-slide>
        </ion-slides>
  </form>
</ion-content>
