<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">listado-peligros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-slides mode="ios" pager="ios" scrollbar="ios">
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>1.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary"ngModel name="p1c1" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary"ngModel name="p2c1" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary"ngModel name="p3c1" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary"ngModel name="p4c1" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>2.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c2"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c2"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c2"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>3.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c3" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c3" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c3" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>4.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c4"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c4"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c4"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c4"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>5.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c5" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c5" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c5" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c5" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>6.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c6"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c6"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c6"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c6"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>7.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c7" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c7" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c7" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c7" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>8.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c8" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c8" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c8" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c8" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>9.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c9" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c9" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c9" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c9" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>10.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c10" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c10" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c10" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c10" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>11.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c11"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c11"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c11"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c11"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>12.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary"ngModel name="p1c12"></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary"ngModel name="p2c12"></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary"ngModel name="p3c12"></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary"ngModel name="p4c12"></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>13.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c12" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c12" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c12" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c12" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>14.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c13" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c13" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c13" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c13" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>15.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c14" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c14" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c14" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c14" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>16.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c15" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c15" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c15" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c15" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>17.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c16" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c16" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c16" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c16" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>18.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c17" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c17" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c17" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c17" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>19.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c18" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c18" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c18" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c18" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>20.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary"ngModel name="p1c19" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary"ngModel name="p2c19" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary"ngModel name="p3c19" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary"ngModel name="p4c19" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>21.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c20" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c20" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c20" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c20" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>22.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c21" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c21" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c21" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c21" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>23.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c22" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c22" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c22" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c22" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>24.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c23" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c23" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c23" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c23" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>25.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c24" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c24" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c24" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c24" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>26.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c25" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c25" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c25" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c25" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>27.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c26" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c26" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c26" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c26" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>28.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c27" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c27" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c27" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c27" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
              </ion-card-header>
              <ion-card-content>
                <ion-item-divider>
                  <ion-label>29.ACTIVIDAD ASOCIADA</ion-label>
                </ion-item-divider>
                <ion-input type="text" placeholder="Nombre de la actividad" color="primary" ngModel name="p1c28" ></ion-input>
                <ion-item-divider>
                  <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Condicion de operacion" color="primary" ngModel name="p2c28" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>PELIGRO</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el peligro" color="primary" ngModel name="p3c28" ></ion-textarea>
                <ion-item-divider>
                  <ion-label>ASPECTO AMBIENTAL</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escriba el aspecto" color="primary" ngModel name="p4c28" ></ion-textarea>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Descargar pdf</ion-card-subtitle>
                  <ion-card-title>Descargar pdf</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button (click)="pdf()">
                    Descargar
                    <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                  </ion-button>
                  <ion-button type="submit">
                    Guardar y enviar
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-slide>
        </ion-slides>
  </form>
</ion-content>
