<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">listado-peligros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>1.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>2.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>3.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>4.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>5.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>6.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>7.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>8.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>9.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>10.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>11.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>12.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>13.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>14.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>15.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>16.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>17.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>18.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>19.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>20.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>21.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>22.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>23.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>24.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>25.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>26.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>27.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>28.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h4>ÁREA,EQUIPO O PROCESO: <hr color="blue"> </h4>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>29.ACTIVIDAD ASOCIADA</ion-label>
          </ion-item-divider>
          <ion-input type="text" placeholder="Nombre de la actividad" color="primary"></ion-input>
          <ion-item-divider>
            <ion-label>CONDICIÓN DE OPERACIÓN</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Condicion de operacion" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>PELIGRO</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el peligro" color="primary"></ion-textarea>
          <ion-item-divider>
            <ion-label>ASPECTO AMBIENTAL</ion-label>
          </ion-item-divider>
          <ion-textarea placeholder="Escriba el aspecto" color="primary"></ion-textarea>
        </ion-card-content>
        <ion-button (click)="onClick()">
          Guardar y enviar
        </ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
