<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Pozos de Observación y Monitoreo/Señalamientos</ion-title>
    </ion-toolbar>
    <ion-fab vertical="top">
      <ion-fab-button (click)="goPuntoOnceFs20()">
        <ion-icon name="arrow-round-back" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-header>
  <ion-content>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Inspección señalamientos basura, no estacionarse, etc.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 4 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Inspección señalamientos horizontales</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 4 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Rotulación/sustitución de señalamientos horizontales</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: 6 Meses</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Pintura y rotulación tapas contenedores tanques.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: Anual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Pintura y rotulación tapas pozos de monitoreo observación.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar: Anual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Pintura de tapas de registros eléctricos y drenajes.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Anual </h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Inspección tapa hermética, pintura epóxica, cemento pulido</ion-card-subtitle>
              <ion-card-title>Inspección señalamientos basura, no estacionarse, etc.</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Verificación de ausencia de agua e hidrocarburos</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
              <ion-card-title>Prueba de sensor de líquidos</ion-card-title>
              <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
              <h2>Se debe de realizar:Mensual</h2>
            </ion-card-header>
            <ion-item-divider color="light">
              <ion-label></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary">
             Guardar y Enviar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
