<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Pozos de Observación y Monitoreo/Señalamientos</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/punto-once"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-slides mode="ios" pager="ios" scrollbar="ios">
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Inspección señalamientos basura, no estacionarse, etc.</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: 4 Meses</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C1" [(ngModel)]="datos.c1C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C1" [(ngModel)]="datos.c2C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C1" [(ngModel)]="datos.c3C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C1" [(ngModel)]="datos.c4C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C1" [(ngModel)]="datos.c5C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C1" [(ngModel)]="datos.c6C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C1" [(ngModel)]="datos.c7C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C1" [(ngModel)]="datos.c8C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C1" [(ngModel)]="datos.c9C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C1" [(ngModel)]="datos.c10C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C1" [(ngModel)]="datos.c11C1"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C1" [(ngModel)]="datos.c12C1"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Inspección señalamientos horizontales</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: 4 Meses</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C2" [(ngModel)]="datos.c1C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C2" [(ngModel)]="datos.c2C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C2" [(ngModel)]="datos.c3C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C2" [(ngModel)]="datos.c4C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C2" [(ngModel)]="datos.c5C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C2" [(ngModel)]="datos.c6C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C2" [(ngModel)]="datos.c7C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C2" [(ngModel)]="datos.c8C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C2" [(ngModel)]="datos.c9C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C2" [(ngModel)]="datos.c10C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C2" [(ngModel)]="datos.c11C2" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C2" [(ngModel)]="datos.c12C2" ></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Rotulación/sustitución de señalamientos horizontales</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: 6 Meses</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C3" [(ngModel)]="datos.c1C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C3" [(ngModel)]="datos.c2C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C3" [(ngModel)]="datos.c3C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C3" [(ngModel)]="datos.c4C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C3" [(ngModel)]="datos.c5C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C3" [(ngModel)]="datos.c6C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C3" [(ngModel)]="datos.c7C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C3" [(ngModel)]="datos.c8C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C3" [(ngModel)]="datos.c9C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C3" [(ngModel)]="datos.c10C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C3" [(ngModel)]="datos.c11C3" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C3" [(ngModel)]="datos.c12C3" ></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Pintura y rotulación tapas contenedores tanques.</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: Anual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C4" [(ngModel)]="datos.c1C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C4" [(ngModel)]="datos.c2C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C4" [(ngModel)]="datos.c3C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C4" [(ngModel)]="datos.c4C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C4" [(ngModel)]="datos.c5C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C4" [(ngModel)]="datos.c6C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C4" [(ngModel)]="datos.c7C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C4" [(ngModel)]="datos.c8C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C4" [(ngModel)]="datos.c9C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C4" [(ngModel)]="datos.c10C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C4" [(ngModel)]="datos.c11C4"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C4" [(ngModel)]="datos.c12C4"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Pintura y rotulación tapas pozos de monitoreo observación.</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar: Anual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C5" [(ngModel)]="datos.c1C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C5" [(ngModel)]="datos.c2C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C5" [(ngModel)]="datos.c3C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C5" [(ngModel)]="datos.c4C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C5" [(ngModel)]="datos.c5C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C5" [(ngModel)]="datos.c6C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C5" [(ngModel)]="datos.c7C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C5" [(ngModel)]="datos.c8C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C5" [(ngModel)]="datos.c9C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C5" [(ngModel)]="datos.c10C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C5" [(ngModel)]="datos.c11C5"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C5" [(ngModel)]="datos.c12C5"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Pintura de tapas de registros eléctricos y drenajes.</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Anual </h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C6" [(ngModel)]="datos.c1C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C6" [(ngModel)]="datos.c2C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C6" [(ngModel)]="datos.c3C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C6" [(ngModel)]="datos.c4C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C6" [(ngModel)]="datos.c5C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C6" [(ngModel)]="datos.c6C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C6" [(ngModel)]="datos.c7C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C6" [(ngModel)]="datos.c8C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C6" [(ngModel)]="datos.c9C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C6" [(ngModel)]="datos.c10C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C6" [(ngModel)]="datos.c11C6"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C6" [(ngModel)]="datos.c12C6"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Inspección tapa hermética, pintura epóxica, cemento pulido</ion-card-subtitle>
                <ion-card-title>Inspección señalamientos basura, no estacionarse, etc.</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C7" [(ngModel)]="datos.c1C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C7" [(ngModel)]="datos.c2C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C7" [(ngModel)]="datos.c3C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C7" [(ngModel)]="datos.c4C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C7" [(ngModel)]="datos.c5C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C7" [(ngModel)]="datos.c6C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C7" [(ngModel)]="datos.c7C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C7" [(ngModel)]="datos.c8C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C7" [(ngModel)]="datos.c9C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C7" [(ngModel)]="datos.c10C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C7" [(ngModel)]="datos.c11C7"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C7" [(ngModel)]="datos.c12C7"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Verificación de ausencia de agua e hidrocarburos</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C8" [(ngModel)]="datos.c1C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C8" [(ngModel)]="datos.c2C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C8" [(ngModel)]="datos.c3C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C8" [(ngModel)]="datos.c4C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C8" [(ngModel)]="datos.c5C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C8" [(ngModel)]="datos.c6C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C8" [(ngModel)]="datos.c7C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C8" [(ngModel)]="datos.c8C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C8" [(ngModel)]="datos.c9C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C8" [(ngModel)]="datos.c10C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C8" [(ngModel)]="datos.c11C8" ></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C8" [(ngModel)]="datos.c12C8" ></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>Pozos de Observación y Monitoreo/Señalamientos</ion-card-subtitle>
                <ion-card-title>Prueba de sensor de líquidos</ion-card-title>
                <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
                <h2>Se debe de realizar:Mensual</h2>
              </ion-card-header>
              <ion-item-divider color="light">
                <ion-label></ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Enero</ion-label>
                <ion-checkbox name="c1C9" [(ngModel)]="datos.c1C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Febrero</ion-label>
                <ion-checkbox name="c2C9" [(ngModel)]="datos.c2C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Marzo</ion-label>
                <ion-checkbox name="c3C9" [(ngModel)]="datos.c3C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Abril</ion-label>
                <ion-checkbox name="c4C9" [(ngModel)]="datos.c4C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mayo</ion-label>
                <ion-checkbox name="c5C9" [(ngModel)]="datos.c5C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Junio</ion-label>
                <ion-checkbox name="c6C9" [(ngModel)]="datos.c6C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Julio</ion-label>
                <ion-checkbox name="c7C9" [(ngModel)]="datos.c7C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Agosto</ion-label>
                <ion-checkbox name="c8C9" [(ngModel)]="datos.c8C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Septiembre</ion-label>
                <ion-checkbox name="c9C9" [(ngModel)]="datos.c9C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Octubre</ion-label>
                <ion-checkbox name="c10C9" [(ngModel)]="datos.c10C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Noviembre</ion-label>
                <ion-checkbox name="c11C9" [(ngModel)]="datos.c11C9"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Diciembre</ion-label>
                <ion-checkbox name="c12C9" [(ngModel)]="datos.c12C9"></ion-checkbox>
              </ion-item>
              <ion-button type="submit">
               Guardar y Enviar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </form>
  </ion-content>
