

<ion-grid fixed>
  <ion-row>
    <div *ngFor="let photo of photos">
      <ion-col size="12" sizeLg="3">
        <ion-card style="width: 200px; height: 300px; background-color: rgb(205, 218, 218);">
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{photo.title}}</ion-card-title>
            <ion-card-subtitle>Fecha:{{photo.created_at}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img src="http://localhost:3000/{{photo.path}}" style="text-align: center; display: block; width: 200px; height: auto;">
            <!-- <a href="http://localhost:3000/{{photo.path}}" download="{{filename}}"> Descarga</a> -->
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card style="width: 200px; height: 60px; background-color: rgb(205, 218, 218);">
          <ion-card-content>
            <p> {{photo.description}}</p>
            <ion-button (click)="delete(photo._id)" expand="block" fill="clear" shape="round">
              Delete
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>
