<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">procedimientoPuntoDos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">SASISOPA</ion-card-subtitle>
      <ion-card-title class="ion-text-center">PROCEDIMIENTO DEL SISTEMA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <embed  src="../../../assets/docs/P-SA-02 IDENTIFICACION DE ASPECTOS AMBIENTALES.pdf" type="application/pdf" width="100%" height="1000px" alt="pdf"/>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
