<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Evaluación de Simulacros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-justify" style="margin: 3%;">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, placeat iste quasi
         illum neque nisi maiores at corrupti cumque! Ullam corrupti culpa incidunt inventore possimus
          eligendi. Necessitatibus nisi culpa earum.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title class="ion-text-center">INFORMACIÓN DEL SIMULACRO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label position="floating">Área</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Equipo</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Clase de simulacro</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <ion-item>
                <ion-label position="floating">Agente perturbador</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" >Fecha y hora programada</ion-label>
                <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Escenario de emergencia</ion-label>
                <ion-textarea></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" sizeLg="6">
              <ion-item-divider color="light">
                <ion-label>EVALUACIÓN</ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Objetivo</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Concepto Evaluados</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Aciertos y deficiencias observadas</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <div>
                <ion-item-divider color="light">
                  <ion-label>Observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea placeholder="Escribe ..."></ion-textarea>
              </div>
              <div>
                <ion-item-divider color="light">
                  <ion-label>Concluciones</ion-label>
                </ion-item-divider>
              </div>
              <ion-textarea placeholder="Escribe ..." ></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-button (click)="enviar()" expand="block" color="primary" shape="round">
    Guardar y enviar
  </ion-button>
  <form  #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
  </form>
</ion-content>