<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"
      >FO-06 PROGRAMA DE LIMPIEZA DIARIA DE ÁREAS E INSPECCIÓN DE
      TRAMPA</ion-title
    >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-once"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Isla y dispensario 1</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Isla y dispensario 2</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Isla y dispensario 3</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Isla y dispensario 4</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Isla y dispensario 5</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Área de almacenamiento</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Accesos y circulaciones</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Sanitarios</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Puertas y ventanas</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Cuartos sucios, residuos</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Cuarto de maquinas</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Cuarto de control eléctrico</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            ><b
              >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
            ></ion-card-subtitle
          >
          <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
        </ion-card-header>
        <ion-item-divider color="medium">
          <ion-label>Ausencia de producto en Trampa de combustibles</ion-label>
        </ion-item-divider>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Lunes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Martes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Miercoles</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Jueves</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Viernes</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sabado</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Domingo</ion-label>
                <ion-checkbox></ion-checkbox> </ion-item
              ><br /><br />
              <ion-item-divider color="light">
                <ion-label>Anota tus observaciones</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Observaciones"></ion-textarea
              ><br /><br />
              <ion-button expand="block">
                Guardar y enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Descargar</ion-card-subtitle>
          <ion-card-title>Descargar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="pdf()" color="primary">
            Decargar
            <ion-icon
              ios="ios-cloud-download"
              md="md-cloud-download"
            ></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
