<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"
      >FO-06 PROGRAMA DE LIMPIEZA DIARIA DE ÁREAS E INSPECCIÓN DE
      TRAMPA</ion-title
    >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-once"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Isla y dispensario 1</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check1" [(ngModel)]="datos.check1"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check2" [(ngModel)]="datos.check2"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check3" [(ngModel)]="datos.check3"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check4" [(ngModel)]="datos.check4"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check5" [(ngModel)]="datos.check5"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check6" [(ngModel)]="datos.check6"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check7" [(ngModel)]="datos.check7"></ion-checkbox> 
                </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto1"
                  [(ngModel)]="datos.texto1"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Isla y dispensario 2</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check8" [(ngModel)]="datos.check8"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check9" [(ngModel)]="datos.check9"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check10" [(ngModel)]="datos.check10"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check11" [(ngModel)]="datos.check11"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check12" [(ngModel)]="datos.check12"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check13" [(ngModel)]="datos.check13"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check14" [(ngModel)]="datos.check14"></ion-checkbox> 
                </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto2"
                  [(ngModel)]="datos.texto2"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Isla y dispensario 3</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check15" [(ngModel)]="datos.check15"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check16" [(ngModel)]="datos.check16"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check17" [(ngModel)]="datos.check17"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check18" [(ngModel)]="datos.check18"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check19" [(ngModel)]="datos.check19"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check20" [(ngModel)]="datos.check20"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check21" [(ngModel)]="datos.check21"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto3"
                  [(ngModel)]="datos.texto3"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Isla y dispensario 4</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check22" [(ngModel)]="datos.check22"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check23" [(ngModel)]="datos.check23"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check24" [(ngModel)]="datos.check24"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check25" [(ngModel)]="datos.check25"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check26" [(ngModel)]="datos.check26"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check27" [(ngModel)]="datos.check27"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check28" [(ngModel)]="datos.check28"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto4"
                  [(ngModel)]="datos.texto4"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Isla y dispensario 5</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check29" [(ngModel)]="datos.check29"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check30" [(ngModel)]="datos.check30"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check31" [(ngModel)]="datos.check31"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check32" [(ngModel)]="datos.check32"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check33" [(ngModel)]="datos.check33"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check34" [(ngModel)]="datos.check34"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check35" [(ngModel)]="datos.check35"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto5"
                  [(ngModel)]="datos.texto5"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Área de almacenamiento</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check36" [(ngModel)]="datos.check36"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check37" [(ngModel)]="datos.check37"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check38" [(ngModel)]="datos.check38"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check39" [(ngModel)]="datos.check39"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check40" [(ngModel)]="datos.check40"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check41" [(ngModel)]="datos.check41"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check42" [(ngModel)]="datos.check42"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto6"
                  [(ngModel)]="datos.texto6"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Accesos y circulaciones</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check43" [(ngModel)]="datos.check43"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check44" [(ngModel)]="datos.check44"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check45" [(ngModel)]="datos.check45"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check46" [(ngModel)]="datos.check46"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check47" [(ngModel)]="datos.check47"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check48" [(ngModel)]="datos.check48"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check49" [(ngModel)]="datos.check49"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto7"
                  [(ngModel)]="datos.texto7"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Sanitarios</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check50" [(ngModel)]="datos.check50"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check51" [(ngModel)]="datos.check51"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check52" [(ngModel)]="datos.check52"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check53" [(ngModel)]="datos.check53"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check54" [(ngModel)]="datos.check54"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check55" [(ngModel)]="datos.check55"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check56" [(ngModel)]="datos.check56"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto8"
                  [(ngModel)]="datos.texto8"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Puertas y ventanas</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check57" [(ngModel)]="datos.check57"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check58" [(ngModel)]="datos.check58"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check59" [(ngModel)]="datos.check59"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check60" [(ngModel)]="datos.check60"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check61" [(ngModel)]="datos.check61"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check62" [(ngModel)]="datos.check62"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check63" [(ngModel)]="datos.check63"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto9"
                  [(ngModel)]="datos.texto9"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Cuartos sucios, residuos</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check64" [(ngModel)]="datos.check64"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check65" [(ngModel)]="datos.check65"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check66" [(ngModel)]="datos.check66"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check67" [(ngModel)]="datos.check67"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check68" [(ngModel)]="datos.check68"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check69" [(ngModel)]="datos.check69"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check70" [(ngModel)]="datos.check70"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto10"
                  [(ngModel)]="datos.texto10"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Cuarto de maquinas</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check71" [(ngModel)]="datos.check71"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check72" [(ngModel)]="datos.check72"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check73" [(ngModel)]="datos.check73"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check74" [(ngModel)]="datos.check74"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check75" [(ngModel)]="datos.check75"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check76" [(ngModel)]="datos.check76"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check77" [(ngModel)]="datos.check77"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto11"
                  [(ngModel)]="datos.texto11"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Cuarto de control eléctrico</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check78" [(ngModel)]="datos.check78"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check79" [(ngModel)]="datos.check79"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check80" [(ngModel)]="datos.check80"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check81" [(ngModel)]="datos.check81"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check82" [(ngModel)]="datos.check82"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check83" [(ngModel)]="datos.check83"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check84" [(ngModel)]="datos.check84"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto12"
                  [(ngModel)]="datos.texto12"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              ><b
                >PROGRAMA DE LIMPIEZA DIARIA E INSPECCIÓN DE TRAMPA SEPARADORA</b
              ></ion-card-subtitle
            >
            <p>Selecciona los dias que se limpian e inspeccionan cada elemento</p>
          </ion-card-header>
          <ion-item-divider color="medium">
            <ion-label>Ausencia de producto en Trampa de combustibles</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Lunes</ion-label>
                  <ion-checkbox name="check85" [(ngModel)]="datos.check85"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Martes</ion-label>
                  <ion-checkbox name="check86" [(ngModel)]="datos.check86"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Miercoles</ion-label>
                  <ion-checkbox name="check87" [(ngModel)]="datos.check87"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Jueves</ion-label>
                  <ion-checkbox name="check88" [(ngModel)]="datos.check88"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Viernes</ion-label>
                  <ion-checkbox name="check89" [(ngModel)]="datos.check89"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Sabado</ion-label>
                  <ion-checkbox name="check90" [(ngModel)]="datos.check90"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Domingo</ion-label>
                  <ion-checkbox name="check91" [(ngModel)]="datos.check91"></ion-checkbox> </ion-item
                ><br /><br />
                <ion-item-divider color="light">
                  <ion-label>Anota tus observaciones</ion-label>
                </ion-item-divider>
                <ion-textarea 
                  placeholder="Observaciones"
                  name="texto13"
                  [(ngModel)]="datos.texto13"
                  type="text"
                ></ion-textarea
                ><br /><br />
                <ion-button expand="block">
                  Guardar y enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Descargar</ion-card-subtitle>
            <ion-card-title>Descargar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="pdf()" color="primary">
              Decargar
              <ion-icon
                ios="ios-cloud-download"
                md="md-cloud-download"
              ></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
