<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>RESULTADO DEL MONITOREO Y MEDICIÓN DE PARÁMETROS DE DESEMPEÑO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-content>
          <ion-card-title>Codificación</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>Indicador</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>Proceso, área o actividad</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>Criterio de Aceptación</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>Responsable</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>Resultado</ion-card-title>
          <ion-item>
            <ion-textarea placeholder="Escribe"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>