ion-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fondo{
    background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
}
.carta{
    background-color: white;
}
.lineaN{
  background-color: #CC6B3A ;
  height: 5px; 
}