<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">MENU SASISOPA</ion-title>
  </ion-toolbar><hr class="lineaN"> 
</ion-header>

<ion-content>
  <div class="fondo">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoUno()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >I. Política</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoDos()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/caution.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >II. Identificación de aspectos ambientales y riesgos</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoTres()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/libra.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >III. Requisitos Legales</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoCuatro()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/finish.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >IV. Objetivos metas e indicadores</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoCinco()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/diagram.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >V. Funciones Responsabilidades y Autoridad</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoSeis()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/presentation.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >VI. Competencia del personal, capacitación y entretenimiento</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoSiete()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/group.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >VII. Comunicación, participación y consulta</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoOcho()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/record.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >VIII. Control de documentos y registros</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" (click)="goPuntoNueve()" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/improve.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >IX. Mejores practicas y estandares</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoDiez()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/priority.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >X. Control de actividades y procesos</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoOnce()" class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/solution.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XI. Integridad mecanica y aseguramiento de la calidad</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/cogwheel.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XII. Seguridad a contratistas</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" >
              <ion-card-header>
                <img height="100px" class="ion-padding" src="/assets/imagenes/alarm.svg" />
                <ion-card-title class="ion-text-justify" >XIII. Preparación y respuesta a emergencias</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card mode="ios" (click)="goPuntoCatorce()" class="carta" >
              <ion-card-header>
                <img height="100px" class="ion-padding" src="/assets/imagenes/seo.svg" />
                <ion-card-title class="ion-text-justify" >XIV. Monitoreo, verificación y evaluación</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" (click)="goPuntoQuince()" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/audit.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XV. Auditorías</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" (click)="goPuntoDieciseis()">
              <img height="100px" class="ion-padding" src="/assets/imagenes/search.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XVI. Investigación de incidentes y accidentes</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/address.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XVII. Revisión de la dirección</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card class="carta" >
              <img height="100px" class="ion-padding" src="/assets/imagenes/performance.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-justify" >XVIII. Informes de desempeño</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>