<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SASISOPA </ion-title>
  </ion-toolbar> <hr class="lineaN">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoUno()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/diploma.svg" />
          <ion-card-header>
            <ion-card-title>I. Política</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDos()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/caution.svg" />
          <ion-card-header>
            <ion-card-title>II. Identificación de aspectos ambientales y riesgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoTres()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/libra.svg" />
          <ion-card-header>
            <ion-card-title>III. Requisitos Legales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCuatro()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/finish.svg" />
          <ion-card-header>
            <ion-card-title>IV. Objetivos metas e indicadores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCinco()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/diagram.svg" />
          <ion-card-header>
            <ion-card-title>V. Funciones Responsabilidades y Autoridad</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoSeis()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/presentation.svg" />
          <ion-card-header>
            <ion-card-title>VI. Competencia del personal, capacitación y entretenimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoSiete()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/group.svg" />
          <ion-card-header>
            <ion-card-title>VII. Comunicación, participación y consulta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoOcho()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/record.svg" />
          <ion-card-header>
            <ion-card-title>VIII. Control de documentos y registros</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoNueve()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/improve.svg" />
          <ion-card-header>
            <ion-card-title>IX. Mejores practicas y estandares</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDiez()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/priority.svg" />
          <ion-card-header>
            <ion-card-title>X. Control de actividades y procesos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoOnce()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/solution.svg" />
          <ion-card-header>
            <ion-card-title>XI. Integridad mecanica y aseguramiento de la calidad</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDoce()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/cogwheel.svg" />
          <ion-card-header>
            <ion-card-title>XII. Seguridad a contratistas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoTrece()" class="carta">
          <ion-card-header>
            <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/alarm.svg" />
            <ion-card-title>XIII. Preparación y respuesta a emergencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCatorce()" class="carta">
          <ion-card-header>
            <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/seo.svg" />
            <ion-card-title>XIV. Monitoreo, verificación y evaluación</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoQuince()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/audit.svg">
          <ion-card-header>
            <ion-card-title>XV. Auditorías</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDieciseis()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/search.svg" />
          <ion-card-header>
            <ion-card-title>XVI. Investigación de incidentes y accidentes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoDiecisiete()" class="carta">
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/address.svg" />
          <ion-card-header>
            <ion-card-title>XVII. Revisión de la dirección</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <img style="width: 50%; margin: auto; display: block;"  class="ion-padding" src="../../../assets/Imagenes/MenuSASISOPA/performance.svg" />
          <ion-card-header>
            <ion-card-title>XVIII. Informes de desempeño</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>