ion-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.lineaN{
  background-color:  #D79043 ;
  height: 5px; 
}
.carta{
background-color: white;
}

.fondo{
    background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
}