<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      PROCESOS
    </ion-title>
  </ion-toolbar><hr class="lineaN">
</ion-header>

<ion-content>
  <div class="fondo">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" sizeMd="6">
            <ion-card (click)="goSASISOPA()" class="carta">
              <img height="256px" src="/assets/imagenes/SASISOPA_128.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-center">SASISOPA</ion-card-title>
                <ion-card-subtitle class="ion-text-justify texto">Sistema de Administración de Seguridad Industrial, Seguridad Operativa y Protección al Medio Ambiente (SASISOPA) para actividades de expendio al público de gas natural; distribución y expendio al público de gas licuado de petróleo y de petrolíferos.</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6">
            <ion-card (click)="goNOM005()" class="carta">
                <img height="256px" src="/assets/imagenes/SASISOPA_128.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-center">NOM-005-ASEA-2016</ion-card-title>
                <ion-card-subtitle class="ion-text-justify texto">Diseño, construcción, operación y mantenimiento de Estaciones de Servicio para almacenamiento y expendio de diésel y gasolinas.</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6">
            <ion-card (click)="goSGM()" class="carta">
                <img height="256px" src="/assets/imagenes/SASISOPA_128.svg" />
              <ion-card-header>
                <ion-card-title class="ion-text-center">SGM</ion-card-title>
                <ion-card-subtitle class="ion-text-justify">Un sistema de gestión de la medición, asegura que los equipos, los procesos de medición y el personal involucrado converjan de manera eficiente para lograr los objetivos planificados y controlar el riesgo de obtener resultados incorrectos en los sistemas de medición</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
