<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center">punto-catorce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
