<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XIV. MONITOREO, VERIFICACIÓN Y EVALUACIÓN</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCatorce01()" class="carta">
          <img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>FS-32 PLAN DE HALLAZGOS DERIVADOS DEL MONITOREO</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCatorce02()" class="carta"><img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>FS-31 EVALUACIÓN REQUISITOS LEGALES</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCatorce03()" class="carta"><img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>FS-30 RESULTADO DEL MONITOREO Y MEDICIÓN DE PARÁMETROS DE DESEMPEÑO</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goPuntoCatorce04()" class="carta"><img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>FS-29 PROGRAMA DE MONITOREO Y MEDICIÓN DE PARÁMETROS DE DESEMPEÑO</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4" class="carta">
        <ion-card mode="ios" (click)="goPuntoCatorceEvidencia()">
            <img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
