<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diecisiete"></ion-back-button>
    </ion-buttons>
    <ion-title>FS-37 INFORME DE REVISIÓN POR LA DIRECCIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-slides mode="ios">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Hora</ion-label>
              <ion-datetime display-format="HH:mm" placeholder="Seleccionar hora"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fecha</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" placeholder="Seleccionar fecha"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Objetivo</ion-label>
              <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
            </ion-item>
            <br>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>ELEMENTOS DE ENTRADA</ion-label>
            </ion-item-divider>
            <br>
            <ion-label class="texto">
              <h2>1. Resultados de la medición de indicadores de Desempeño de SASISOPA.</h2>
              <br>
              <h2>2. Evaluación de Requisitos legales.</h2>
              <br>
              <h2>3. Cumplimiento de metas y objetivos</h2>
              <br>
              <h2>4. Seguimiento de hallazgos y recomendaciones de mejora.</h2>
              <br>
              <h2>5. Auditorías.</h2>
              <br>
              <h2>6. Las comunicaciones con las partes interesadas externas, incluyendo quejas y sugerencias.</h2>
              <br>
              <h2>7. Los cambios en las circunstancias, incluyendo las actualizaciones del marco normativo aplicable.</h2>
              <br>
              <h2>8. Recomendaciones de Incidentes y accidentes.</h2>
            </ion-label> 
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>1. Resultado de Indicadores de desempeño</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-subtitle>INDICADOR (SIGLAS)</ion-card-subtitle>
            <br>
            <ion-card-title>ÍNDICE DE FRECUENCIA (I.F.)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (0%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>ÍNDICE DE GRAVEDAD (I.G.)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (0%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CUMPLIMIENTO DE ICR'S (I.ICR)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>ÍNDICE DE CAPACITACIÓN PROCEDIMIENTOS (I.CAP)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CUMPLIMIENTO PROGRAMA DE SIMULACROS (I.SIM)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>DISPOSICIÓN DE RESIDUOS (I.RES)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CUMPLIMIENTO PROG. MANTTO. (I.IM)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>ATENCIÓN HALLAZGOS AUDITORIA (I.HA)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>PRUEBAS DE EQUIPOS DE SEGURIDAD (I.PE)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>ATENCIÓN A RECOMENDACIONES (I.REC)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CUMPLIMIENTO DE REQUISITOS LEGALES (I.RG)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CONTAMINACIONES (AIRE,AGUA,SUELO) (I.AAS)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (0%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>PROGRAMA DE LIMPIEZA (I.LIM)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>PRUEBAS DE HERMETICIDAD (I.PH)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (1%)</ion-label>
            </ion-item>
            <br><br>
            <ion-card-title>CUMPLIMIENTO DE COMUNICACIONES (I.CO)</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Resultado anterior (%)"></ion-textarea>
              <ion-textarea placeholder="Indicador (%)"></ion-textarea>
              <ion-label>Meta 2020 (100%)</ion-label>
            </ion-item>
            <br><br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>2. Evaluación de Requisitos legales</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-title>Requisitos Legales Totales</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-subtitle>CALIFICACIÓN (No se cumple: 0, Cumplimiento parcial: 1, Cumplimiento total: 2</ion-card-subtitle>
            <br>
            <ion-card-title>CUMPLIMIENTO</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Puntos máximos"></ion-textarea>
              <ion-textarea placeholder="Puntos obtenidos"></ion-textarea>
              <ion-textarea placeholder="% Logrado"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>3. Objetivos y Metas</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-title>Objetivo</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="6"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-title>Metas</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="6"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-title>Indicador</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="6"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-title>Criterio de aceptación</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="6"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-title>Grado de cumplimiento</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="6"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>4. Seguimiento de hallazgos y recomendaciones de mejora.</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-title>ACUERDO O ACCIÓN DE MEJORA</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="(Descripción breve)" rows="4"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>FECHA DE CUMPLIMIENTO</ion-card-title>
            <ion-item>
              <ion-datetime display-format="DD/MM/YY"></ion-datetime>
            </ion-item>
            <br><br>
            <ion-card-title>ESTADO DE ACCIONES</ion-card-title>
            <ion-item>
              <ion-label>Cumplido</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>En proceso</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No Cumplido</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br><br>
            <ion-card-title>Observaciones</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="7"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>5. Auditorías</ion-label>
            </ion-item-divider>
            <br><br>
            <ion-card-title>AUDITORÍA</ion-card-title>
            <ion-item>
              <ion-button color="success">Elegir</ion-button>
            </ion-item>
            <br>
            <ion-card-title>FECHA</ion-card-title>
            <ion-item>
              <ion-datetime display-format="DD/MM/YY"></ion-datetime>
            </ion-item>
            <br><br>
            <ion-card-title>HALLAZGOS</ion-card-title>
            <br>
            <ion-item>
              <ion-textarea placeholder="CERRADOS"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="ABIERTOS"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="TOTALES"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>OBSERVACIONES</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="5"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>           
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>Comunicaciones realizadas </ion-label>
            </ion-item-divider>
            <br>
            <ion-card-subtitle>Concepto</ion-card-subtitle>
            <br>
            <ion-card-title>Política</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Cumplimiento de objetivos y metas</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Funciones, responsabilidad y autoridad</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Riesgos e impactos ambientales</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Requisitos legales</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Incidentes y accidentes</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Resultados de auditorías</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Resultados del desempeño</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br>
            <ion-card-title>Comunicaciones a contratistas</ion-card-title>
            <ion-item>
              <ion-label>PERSONAL</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>CONTRATISTAS</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <br><br>
            <ion-item>
              <ion-textarea placeholder="Observaciones"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>7. Cambios en laa circunstancias</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-subtitle>ORIGEN</ion-card-subtitle>
            <br>
            <ion-card-title>Cambio en marco normativo</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Motivo"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-subtitle>ORIGEN</ion-card-subtitle>
            <br>
            <ion-card-title>Cambio en instalaciones</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Motivo"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-subtitle>ORIGEN</ion-card-subtitle>
            <br>
            <ion-card-title>Cambio de personal</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Motivo"></ion-textarea>
            </ion-item>
            <br>
            <ion-card-subtitle>ORIGEN</ion-card-subtitle>
            <br>
            <ion-card-title>Otros</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Motivo"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>8. Recomendaciones de incidentes y accidentes.</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-subtitle>CLASE DE INCIDENTE</ion-card-subtitle>
            <br>
            <ion-card-title>Incidente incapacitante</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>Desprendimiento de manguera en dispensarios</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>Fugas</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>Derrame</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>Incendio</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>Impactos ambientales</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Cantidad"></ion-textarea>
              <ion-textarea placeholder="Descripción" rows="5"></ion-textarea>
            </ion-item>
            <br><br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>Estado de análisis y recomendaciones derivadas de incidentes</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-title>INVESTIGACIONES DE CAUSA RAÍZ</ion-card-title>
            <br>
            <ion-card-subtitle>ANÁLISIS DE CAUSA RAÍZ</ion-card-subtitle>
            <ion-item>
              <ion-textarea placeholder="Requeridos"></ion-textarea>
              <ion-textarea placeholder="Realizados"></ion-textarea>
              <ion-textarea placeholder="% Requerimiento"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-item>
              <ion-textarea placeholder="Emitidas"></ion-textarea>
              <ion-textarea placeholder="Atendidas"></ion-textarea>
              <ion-textarea placeholder="Vencidas"></ion-textarea>
              <ion-textarea placeholder="% Cumplimiento"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-item>
              <ion-textarea placeholder="Acciones de Mejora"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>9. Evaluación de la Política</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-subtitle>CONCEPTO</ion-card-subtitle>
            <br>
            <h2>¿Se utiliza como marco de referencia para establecer los objetivos del SASISOPA?</h2>
            <ion-item>
              <ion-label>Cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Cambio requerido"></ion-textarea>
            </ion-item>
            <br><br>
            <h2>¿Considera el control de los aspectos ambientales y peligros y evaluación de los riesgos e impactos ambientales, asociados a la instalación?</h2>
            <ion-item>
              <ion-label>Cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Cambio requerido"></ion-textarea>
            </ion-item>
            <br><br>
            <h2>¿Considera el cumplimiento de los requisitos legales?</h2>
            <ion-item>
              <ion-label>Cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Cambio requerido"></ion-textarea>
            </ion-item>
            <br><br>
            <h2>¿Considera la participación del personal?</h2>
            <ion-item>
              <ion-label>Cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Cambio requerido"></ion-textarea>
            </ion-item>
            <br><br>
            <h2>¿Considera el compromiso para la mejora continua?</h2>
            <ion-item>
              <ion-label>Cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>No cumple</ion-label>
              <ion-checkbox color="success" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Cambio requerido"></ion-textarea>
            </ion-item>
            <br><br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>10. Decisiones relativas a las oportunidades de mejora</ion-label>
            </ion-item-divider>
            <br>
            <ion-card-title>OPORTUNIDAD DE MEJORA</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>ACCIONES</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
            </ion-item>
            <br><br>
            <ion-card-title>RESPONSABLE</ion-card-title>
            <ion-item>
              <ion-textarea placeholder="Escribe..." rows="5"></ion-textarea>
            </ion-item>
            <br><br>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-item-divider color="success" class="ion-text-center">
              <ion-label>CONCLUSIONES</ion-label>
            </ion-item-divider>
            <br>
            <ion-item>
              <ion-textarea placeholder="Escribe" rows="10"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>