<ion-header no-border>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/punto-diecisiete"></ion-back-button>
  </ion-buttons>
    <ion-title class="ion-text-center">FS-37 INFORME DE REVISIÓN POR LA DIRECCIÓN</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <p>
      A continuación presentamos el formato que la Dirección utilizará anualmente para
      realizar la revisión del desempeño del sistema y determinar si los resultados obtenidos
      de la implementación son coherentes con el compromiso de mejora continua.
    </p>
  </ion-grid>
  
  <embed
  src="../../../assets/docs/Elemento 17/FS-37 INFORME DE REVISIÓN POR LA DIRECCIÓN.pdf"
  type="application/pdf"
  width="100%"
  height="1200px"/>
</ion-content>
