<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-trece"></ion-back-button>
    </ion-buttons>
    <ion-title>XIII PREPARACION Y RESPUESTA A EMERGENCIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Derrame o fuga durante la operación de descarga de
            autotanque
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Derrame de producto porque el autotanque se desliza
            durante el llenado, por falta de calzas, y se desprende la manguera
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de:Incendio durante el llenado del tanque de
            almacenamiento
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Incendio en tubos de venteo durante el llenado del
            tanque de almacenamiento.
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de:Derrame de producto o fuga durante el despacho de
            producto a vehículos
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de:Derrame por desprendimiento de manguera de despacho de
            combustible
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Derrame por derribo del dispensario y no opera la
            válvula shut-off
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: en el área de despacho por derribo de dispensario o
            desprendimiento de manguera.
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Derrame durante la ejecución de trabajos de
            mantenimiento.
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Incendio en Trampa de Combustibles.
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">Simulacro de: Sismo</h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Incendio de dispensario por Vandalismo.
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle
            >PROGRAMA ANUAL DE SIMULACROS 2019</ion-card-subtitle
          >
          <h3>En que mes realizan en simulacro:</h3>
          <h5>Marque la casilla</h5>
        </ion-card-header>
        <ion-item-divider color="light">
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-card-content>
          <h4 class="ion-text-justify">
            Simulacro de: Incendio en instalaciones eléctricas
          </h4>
          <br />
          <ion-list>
            <ion-item>
              <ion-label>Enero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Febrero</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Marzo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Abril</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Mayo</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Junio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Julio</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Agosto</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Septiembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Octubre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Noviembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Diciembre</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list><br>
          <ion-button (click)="onClick()" expand="full">
            Guardar y enviar
          </ion-button>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
