<ion-header>
  <ion-toolbar>
    <ion-title>FO-09 PERMISO DE TRABAJO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diez"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-toolbar color="primary">
            <h1>Consecutivo</h1>
          </ion-toolbar>
          <ion-textarea placeholder="No."></ion-textarea>
          <ion-item>
            <h4>Hora</h4>
            <ion-datetime displayFormat="HH MM" placeholder="Selecciona"></ion-datetime>
          </ion-item>
          <ion-item>
            <h4>Fecha</h4>
            <ion-datetime displayFormat="DD MM YYYY" placeholder="Selecciona"></ion-datetime>
          </ion-item>
          <br>
          <h4>Equipo o instalación:</h4>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <h4>Descripción del trabajo</h4>
          <ion-textarea placeholder="Escribe..."></ion-textarea>
          <br>
          <h4>Tipo de trabajo:</h4>
          <br>
          <ion-list>
            <ion-item>
              <ion-label>Área confinada</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Altura</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Inst. Eléctrica</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Soldadura</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Apertura de Líneas</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Riesgos detectados</h2>
        </ion-toolbar>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Caídas</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Machucones</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Salpicaduras</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Intoxicación</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Electrocución</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Asfixia</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Fuga o Derrame</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Incendio</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Afectación al ambiente</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Requisitos del equipo a intervenir</h2>
        </ion-toolbar>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Delimitación de Área</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Suspender otros trabajos</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Equipo fuera de operación</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Vaciado y depresionado</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Equipo Vaporizado</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Equipo Aislado</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Venteos Abiertos</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Electricamente Aislado</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Protecciones inhabilitadas</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Equipo a tierra</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Libranza Eléctrica</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Candado en válvula de dispensario</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Área limpia, segura y despejada</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bloqueo-candado en tablero de control</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bloqueo-candado en válvulas</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Medición Explosividad (menor 5%)</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Medición de Oxígeno(19.5-23.5)</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Candado en válvula contenedor Motobomba</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Equipo de protección personal</h2>
        </ion-toolbar>
          <br>
          <ion-list>
            <ion-item>
              <ion-label>Guantes de soldador</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Guantes de protección</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Calzado de seguridad</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Protección auditiva</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Casco contra impacto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Guantes de Carnaza</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Careta contra impacto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Calzado dieléctrico</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Eq. Prot. Respiratoria autónomo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Arnés y cable de vida</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Guantes dieléctricos</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Careta de soldador y peto</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Equipo Protección Respiratoria linea aire</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Equipo Protección Respiratoria contrapolvo</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Otro</ion-label>
              <ion-checkbox color="success"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Equipo y herramientas</h2>
        </ion-toolbar>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Escalera en buen estado</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Plataforma hidráulica</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cable uso rudo (sin empates)</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Protección contraincendio:</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Uso de andamio</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Herramienta aterrizada</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Lámpara a prueba de explosión</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Extintores</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Andamio completo y buen estado (frenos)</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Prueba positiva operatividad de plataforma</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Herramienta con guarda de protección</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Personal contraincendio</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
        </ion-list>
        <br>
        <h4>Medidas adicionales de seguridad:</h4>
        <ion-textarea placeholder="Escribe..."></ion-textarea>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Prácticas de trabajo seguro aplicables</h2>
        </ion-toolbar>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Trabajos de Soldadura P-TS-03</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Trabajos en Alturas mayores a 1.5 m. P-TS-04</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Trabajos en Áreas confinadas P-TS-05</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Etiqueta, cadado y bloqueo lineas Electricas P-TS-01</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Etiqueta, cadado y bloqueo con Producto P-TS-02</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Delimitación del área 3.0 m</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Delimitación del área 6.10 m</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Delimitación del área 8.0 m</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-toolbar color="primary">
          <h2>Terminación y entrega de trabajo</h2>
        </ion-toolbar>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Equipo libre de daños fisicos</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Tornillería completa y apretada</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bloqueos en válvulas y tablero e control retirados</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Conexión a tierra instalada</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Area limpia, libre de residuos</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mantiene Integridad mecánica e integriad eléctrica</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Equipo operando (ausencia de ruidos) libre de fugas</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Dispositivos de seguridad operando (paro de emergencia, sensores)</ion-label>
            <ion-checkbox color="success"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
