<ion-header>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" horizontal="end" slot="fixed">
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-button>
    <ion-button (click)="print()">
      <ion-icon slot="start" name="print"></ion-icon>
      Imprimir
    </ion-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Director</ion-card-title>
        <ion-card-subtitle>Debes de llenar los campos solicitados en el siguiente formulario de acuerdo al puesto que tienes en la estacion de servicio</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="close-sharp"></ion-icon>
        <ion-item>
          <ion-label position="floating">Requerimientos físicos:</ion-label>
          <ion-input  required name="requerimientosFisicos" [(ngModel)]="datos.requerimientosFisicos" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Herramientas/equipos:</ion-label>
          <ion-input  required name="herramientasEquipos" [(ngModel)]="datos.herramientasEquipos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Equipo de protección personal:</ion-label>
          <ion-input  required name="equipoProteccion" [(ngModel)]="datos.equipoProteccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nivel académico:</ion-label>
          <ion-input  required name="nivelAcademico" [(ngModel)]="datos.nivelAcademico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Personal a su cargo:</ion-label>
          <ion-input  required name="personalCargo" [(ngModel)]="datos.personalCargo"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="crearDirector()" expand="block" fill="clear" shape="round">
      Guardar y enviar
    </ion-button>
  </form>
</ion-content>
