<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Control de Documentos y Registros</ion-title>
  </ion-toolbar>
  <p class="ion-text-justify">En los procedimientos del sistema y los procedimientos
    específicos se establecen los registros necesarios para generar la evidencia de su
    cumplimiento, entre las actividades que se deben registrar, el  <b>representante tecnico</b> debera de proporcionar la fecha y numero de revision de todas las actividades que se muestran a continuacion:</p>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-01   POLÍTICA</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-02   IDENTIFICACIÓN DE PELIGROS Y DE ASPECTOS AMBIENTALES PARA LA EVALUACIÓN DE RIESGOS Y DE
                    IMPACTOS AMBIENTALES</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-03   REQUISITOS LEGALES</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-04  OBJETIVOS, METAS E INDICADORES.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-05   FUNCIONES, RESPONSABILIDADES Y AUTORIDAD.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider >
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-06   COMPETENCIA DEL PERSONAL, CAPACITACIÓN Y ENTRENAMIENTO</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-07   COMUNICACIÓN, PARTICIPACIÓN Y CONSULTA.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-08   CONTROL DE DOCUMENTOS Y REGISTROS.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-09   MEJORES PRÁCTICAS Y ESTÁNDARES.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-10   CONTROL DE ACTIVIDADES Y PROCESOS.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-11   INTEGRIDAD MECÁNICA Y ASEGURAMIENTO DE LA CALIDAD.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-12   SEGURIDAD DE CONTRATISTAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-13   PREPARACIÓN Y RESPUESTA A EMERGENCIAS.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-14   MONITOREO, VERIFICACIÓN Y EVALUACIÓN.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-15   AUDITORÍAS.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-16   INVESTIGACIÓN DE INCIDENTES Y ACCIDENTES.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider  color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-17   REVISIÓN DE RESULTADOS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-SA-18   INFORMES DE DESEMPEÑO.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-item-divider  color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-OP-01 RECEPCION DE AUTOTANQUE Y DESCARGA DE PODUCTOS A TANQUES DE ALMACENAMIENTO</label>
                </ion-col> 
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-OP-02 DESPACHO DE PRODUCTOS INFLAMABLES Y COMBUSTIBLES A VEHÍCULOS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-01   ETIQUETA, CANDADEO Y BLOQUEO PARA INTERRUPCIÓN DE LÍNEAS ELÉCTRICAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-02   ETIQUETA, CANDADEO Y BLOQUEO PARA INTERRPCIÓN DE LÍNEAS CON PRODUCTO</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-03   TRABAJOS CON HERRAMIENTAS QUE GENEREN FUENTES DE IGNICION</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-04   TRABAJOS EN ESCALERAS O PLATAFORMAS EN ALTURAS MAYORES A 1.5 m.</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-05   TRABAJOS EN ÁREAS CONFINADAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-TS-06   PERMISO DE TRABAJOS PELIGROSOS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-CP-01   ADMINISTRACIÓN DE CAMBIOS DE PERSONAL</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-CT-01   ADMINISTRACION DE CAMBIOS DE TECNOLOGÍA</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-01   MANTENIMIENTO A DISPENSARIOS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-02   MANTENIMIENTO A TANQUES</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-03   MANTENIMIENTO A INSTALACIONES ELÉCTRICAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-04  MANTENIMIENTO A EDIFICIOS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-05   MANTENIMIENTO A DRENAJES</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-IM-06   MANTENIMIENTO A MAQUINAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider color="light">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-RE-01   PLANES DE RESPUESTA A EMERGENCIAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          <ion-item-divider>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" sizeLg="4">
                  <label>P-CR-01   METODOLOGÍA DEL ARBOL DE FALLAS</label>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>Fecha de revision</ion-label>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeLg="4">
                  <ion-item>
                    <ion-label>No° de revicion</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content> 
