<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-doce"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XII</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>AnexoSeguridad</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <embed src="../../../assets/docs/punto12pdfs/FS-24 ANEXO DE SEGURIDAD.docx.pdf" type="application/pdf" class="pdf" alt="pdf">
  </ion-card-content>
</ion-card>

<ion-content>

</ion-content>
