<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">Salir</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Seguimiento de Programa de capacitacion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-justify">El seguimiento de programas tiene dos propósitos principales:
      mejorar los programas identificando aquellos aspectos que están trabajando de acuerdo a un plan y aquellos que deben ser corregidos a mitad de curso y
      rastrear los resultados a nivel de programa o de población.</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form action="">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Puesto:</ion-label>
          <ion-input type="text" name="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Personal:</ion-label>
          <ion-input type="text" name="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre del curso:</ion-label>
          <ion-input type="text" name="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Evaluacion:</ion-label>
          <ion-input type="text" name="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Seguimiento de aplicacion:</ion-label>
          <ion-input type="text" name="email"  required ></ion-input>
        </ion-item>
        <ion-button (click)="onClick()" expand="block" color="secondary" shape="round">
          Guardar y enviar
        </ion-button>
      </ion-list>
    </form>
  </ion-card-content> 
</ion-content>
