<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-seis-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Seguimiento de Programa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <embed src="../../../assets/docs/Elemento6./FS-17 SEGUIMIENTO DEL PROGRAMA  DE CAPACITACIÓN.pdf" width="100%" height="600px" alt="pdf">
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
