<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-seis-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Programa de Capacitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <p>
      A continuación te proporcionamos el Formato donde tendrás que especificar todos los cursos que tomarás
      durante todo un año, añadiendo el mobre y la fecha.
    </p>
  </ion-grid>
  <embed 
  src="../../../assets/docs/Elemento 6/FS-16 PROGRAMA ANUAL DE CAPACITACIÓN.pdf"
  width="100%"
  height="600px"
  alt="pdf">
</ion-content>
