<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-diez"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Procedimientos de Operación</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card
        mode="ios"
        class="carta"
        href="assets/docs/Elemento 10/Operacion/P-OP-01 RECEPCIÓN DE AUTOTANQUE Y DESCARGA DE PRODUCTOS A TANQUE DE ALMACENAMIENTO.pdf"
        download>
          <img src="../../../assets/Imagenes/Elemento 10/Recepción de autotanque y Descarga de productos a tanque de almacenamiento-01.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-OP-01 Recepción de autotanque y Descarga de productos a tanque de almacenamiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card
        mode="ios"
        class="carta"
        href="assets/docs/Elemento 10/Operacion/P-OP-02 DESPACHO DE PRODUCTOS INFLAMABLES Y COMBUSTIBLES A VEHÍCULOS.pdf"
        download>
          <img src="../../../assets/Imagenes/Elemento 10/Desecho de productos inflamables y combustibles a vehículo-01.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-OP-02 Desecho de productos inflamables y combustibles a vehículos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
