<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pozos de Monitoreo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card>
        <ion-button color="success">Presencia de Hidrocarburo</ion-button>
        <ion-textarea placeholder="Observaciones..."></ion-textarea>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>