<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Dispensarios/Tuberias</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top">
    <ion-fab-button (click)="goPuntoOnceFs20()">
      <ion-icon name="arrow-round-back" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>
<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Limpieza gabinete, manguera, pistola</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Diario</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Inspección contenedores y accesorios, sin fuga, buen estado</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Prueba de válvula shut-off</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar:Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Prueba sensor de líquidos</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Calibración</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Inspección de protectores y anclajes</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Inspección de fugas en accesorios, válvulas</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Tubería de venteo, integridad Mecánica</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: Mensual</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Revisión de válvulas de venteo</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: 6 Meses</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Revisión de arrestador de flama</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: 6 Meses</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Revisión de arrestador de flama</ion-card-subtitle>
            <ion-card-title>Dispensarios/Tuberias</ion-card-title>
            <h1>Selecciona los meses con el que cumplio el plan de mantenimiento:</h1>
            <h2>Se debe de realizar: 6 Meses</h2>
          </ion-card-header>
          <ion-item-divider color="light">
            <ion-label></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Enero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Febrero</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marzo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Abril</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Mayo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Junio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Julio</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Agosto</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Septiembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Octubre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Noviembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diciembre</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-button expand="full" color="secondary">
           Guardar y Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
