<ion-header>
  <ion-toolbar>
    <ion-title class="tit">Procedimiento seis</ion-title>
    <ion-button (click)="regresar()">
     Regresar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>   
 
  <div class="container">
      <iframe src="http://inta.es/WEB/.galleries/Galeria-pdfs-Noticias-2017/ESTACIONES-DE-LA-NASA-CERC-A-DE-MADRID-45-ANOS-DE-HISTORIA.pdf" class="pdf" ></iframe>

      <!-- <embed src="./pdf-visual.page.html" type="application/pdf" width="100%" height="600px" />
       -->
  </div>

  </ion-content>
