<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="punto-seis-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: #134289;">DETECCÓN DE NECESIDADES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="4">
          <ion-card mode="ios">
            <ion-card-content>
              <ul>
                <li>
                  <ion-item>
                    <ion-label>Nuevo Ingreso</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Promoción</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Ascenso</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Reentrenamiento</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Actualización trianual</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card mode="ios">
            <ion-card-content>
              <ul>
                <li>
                  <ion-item>
                    <ion-label>Cambio de Tecnología/proceso</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Cambio de personal</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Actualización de procedimientos</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Cambio de Normatividad</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Refuerzo de la política</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card mode="ios">
            <ion-card-content>
              <ul>
                <li>
                  <ion-item>
                    <ion-label>Queja de clientes</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>No conformidad de Auditoría</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Bajo desempeño</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>Recomendación de ICR</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
                <li>
                  <ion-item>
                    <ion-label>No se cumplen los objetivos</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="3">
          <ion-card>
            <ion-card-content>
              <ion-item-divider style="background-color: #134289; color: white; border-radius: 15px;">
                <ion-label>SITUACIÓN ACTUAL</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Describe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="3">
          <ion-card>
            <ion-card-content>
              <ion-item-divider style="background-color: #134289; color: white; border-radius: 15px;">
                <ion-label>SITUACIÓN DESEADA</ion-label>
              </ion-item-divider>
              <ion-textarea placeholder="Describe..."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="3">
          <ion-card>
            <ion-card-content>
              <ion-item-divider style="background-color: #134289; color: white; border-radius: 15px;">
                <ion-label> OBJETIVOS DE LA NECESIDAD</ion-label>
              </ion-item-divider>
              <ol>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
              </ol>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="3">
          <ion-card>
            <ion-card-content>
              <ion-item-divider style="background-color: #134289; color: white; border-radius: 15px;">
                <ion-label>TEMAS PARA CAPACITACIÓN</ion-label>
              </ion-item-divider>
              <ol>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
                <li>
                  <ion-input type="text" placeholder="Awesome Input"></ion-input>
                </li>
              </ol>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
