<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-punto-seis"></ion-back-button>
    </ion-buttons>
    <ion-title>Deteccion de Necesidades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
      <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Llena los campos requeridos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
            <ion-item color="secondary">
              <ion-label>Desarrollo laboral</ion-label>
            </ion-item>           
            
            <ion-item>
              <ion-checkbox color="primary" slot="start" name='R1' [(ngModel)]="datos.R1"></ion-checkbox>
              <ion-label>Nuevo ingreso</ion-label>
            </ion-item>
                
            <ion-item>
              <ion-checkbox color="primary" slot="start" name="R2" [(ngModel)]="datos.R2" ></ion-checkbox>
              <ion-label>Promoción</ion-label>
            </ion-item>
    
            <ion-item>
              <ion-checkbox color="primary" slot="start" name="R3" [(ngModel)]="datos.R3"></ion-checkbox>
              <ion-label>Reentrenamiento</ion-label>
            </ion-item>
        
            <ion-item>
              <ion-checkbox color="primary" slot="start" name="R4" [(ngModel)]="datos.R4"></ion-checkbox>
              <ion-label>Actualización trianual</ion-label>
            </ion-item>
    
            <ion-item color="secondary">
                <ion-label>Quejas de clientes</ion-label>
            </ion-item>           
    
            <ion-item>
                <ion-checkbox color="primary" slot="start" name="R5" [(ngModel)]="datos.R5"></ion-checkbox>
                <ion-label>Inconformidad de auditoría</ion-label>
            </ion-item>
                
            <ion-item>
              <ion-checkbox color="primary" slot="start" name="R6" [(ngModel)]="datos.R6"></ion-checkbox>
              <ion-label>Bajo desempeño</ion-label>
            </ion-item>
                
            <ion-item>
              <ion-checkbox color="primary" slot="start" name="R7" [(ngModel)]="datos.R7"></ion-checkbox>
              <ion-label>Recomendación ICR</ion-label>
            </ion-item>
                
            <ion-item>
                <ion-checkbox color="primary" slot="start" name="R8" [(ngModel)]="datos.R8"></ion-checkbox>
                <ion-label>No se cumplieron objetivos</ion-label>        
            </ion-item>
                  
            <ion-item color="secondary">
                <ion-label>Situación actual</ion-label>
               </ion-item> 
            <ion-item>
                <ion-checkbox color="primary" slot="start" name="R9" [(ngModel)]="datos.R9"></ion-checkbox>
                <ion-label>Situación deseada</ion-label>         
              </ion-item>
              <ion-item>
                  <ion-checkbox color="primary" slot="start" name="R10" [(ngModel)]="datos.R10"></ion-checkbox>
                  <ion-label>Objetivos de la necesidad</ion-label>        
              </ion-item>
              <ion-item>
                  <ion-checkbox color="primary" slot="start" name="R11" [(ngModel)]="datos.R11"></ion-checkbox>
                  <ion-label>Temas para capacitación</ion-label>         
              </ion-item>
              <br>
              <ion-button type="submit">
                Guardar y enviar
              </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
