<ion-header no-border>
  <ion-toolbar>
    <ion-title slot="center">
      Indicadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="chart-card">
    <ngx-charts-pie-grid
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </ion-card>

  <ion-card class="chart-card">
    <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </ion-card>
</ion-content>
