<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>II. Identificación de aspectos ambientales y riesgos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="proced">
      <ion-label>Procedimiento</ion-label>
    </ion-segment-button>
    <ion-segment-button value="form">
      <ion-label>Fromulario</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides #slider>
          <ion-slide>
            <embed src="assets/docs/P-SA-02 IDENTIFICACION DE ASPECTOS AMBIENTALES.pdf" width="100%" height="600px" alt="pdf">
          </ion-slide>
          <ion-slide>
            <form action="">
              <ion-list>
              <ion-item>
                <ion-label>Compresor</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Hidroneumático</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Planta de Emergencia</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Pararayos</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Cisterna</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Bomba de agua</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Área cambio de aceite</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Bodega de lubricantes</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Almacen de residuos peligrosos</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
              </ion-list>
              <ion-button expand="full" (click)="send()">
                <ion-icon slot="start" name="send"></ion-icon>
                Enviar
              </ion-button>
            </form>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
