<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center">II. Identificación de aspectos ambientales y riesgos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvaluacionesAspectos()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-09.png" width="100" height="300" />
          <ion-card-header>

            <ion-card-title class="ion-text-justify">Evaluacion De Riesgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvaluacionRiesgos()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-08.png" width="100" height="300" />
          <ion-card-header>
            <ion-card-title class="ion-text-justify">Evaluacion de Aspectos Ambientales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goResultadosAnalisisRiesgos()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-10.png" width="100" height="300" />
          <ion-card-header>
            <ion-card-title class="ion-text-justify">Resultados De Análisis de Riesgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goListadoPeligros()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-11.png" width="100" height="300" />
          <ion-card-header>
            <ion-card-title class="ion-text-justify">Listado de Peligros y Aspectos Ambientales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goProcedimiento()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-11.png" width="100" height="300" />
          <ion-card-header>
            <ion-card-title class="ion-text-justify">PROCEDIMIENTO DEL SISTEMA</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvidencia()">
          <img  class="ion-padding image" src="../../../assets/imagenes/punto2/2-11.png" width="100" height="300" />
          <ion-card-header>
            <ion-card-title class="ion-text-justify">Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
