<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>II. Identificación de aspectos ambientales y riesgos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvaluacionesAspectos()">
          <img height="100px" class="ion-padding" src="/assets/imagenes/diploma.svg" />
          <ion-card-header>
            <ion-card-title>Evaluación De Aspectos Ambientales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goEvaluacionRiesgos()">
          <img height="100px" class="ion-padding" src="/assets/imagenes/riesgo.svg" />
          <ion-card-header>
            <ion-card-title>Evaluación de Riesgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goResultadosAnalisisRiesgos()">
          <img height="100px" class="ion-padding" src="/assets/imagenes/resultados.svg" />
          <ion-card-header>
            <ion-card-title>Resultados De Análisis de Riesgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goListadoPeligros()">
          <img height="100px" class="ion-padding" src="/assets/imagenes/riesgo.svg" />
          <ion-card-header>
            <ion-card-title>Listado de Peligros y Aspectos Ambientales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
