<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">punto-trece</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS25()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/diploma.svg" alt="">
              <ion-card-subtitle>FS-25 ACTA DE CONFORMACIÓN DE  BRIGADAS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS26()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/finish.svg" alt="">
              <ion-card-subtitle>FS-26 PROGRAMA ANUAL DE SIMULACROS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS27()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/finish.svg" alt="">
              <ion-card-subtitle>FS-27 PLANEACION DE SIMULACROS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS28()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/finish.svg" alt="">
              <ion-card-subtitle>FS-28 EVALUACIÓN DE SIMULACROS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS29()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/finish.svg" alt="">
              <ion-card-subtitle>P-RE-01 PLANES DE RESPUESTA A EMERGENCIAS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goFS30()">
            <ion-card-header>
              <img height="100px" class="ion-padding" src="../../../assets/imagenes/finish.svg" alt="">
              <ion-card-subtitle>P-SA-13 PREPARACION Y RESPUESTA A EMERGENCIAS</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
