<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title>XIII. PREPARACIÓN Y RESPUESTA A EMERGENCIA</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTreceProcedimiento()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTrecePlanes()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Planes de respuesta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTreceEvaluacion()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Evaluación de Simulacros</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTrecePlaneacion()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Planeación de Simulacros</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTrecePrograma()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Programa anual de Simulacros 2019</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTreceActa()" class="fondo">
          <img height="200px" class="ion-padding" src="/assets/imagenes/Punto 13/diploma.svg"/>
          <ion-card-header>
            <ion-card-title>Acta de Conformación de las brigadas de respuesta a emergencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card mode="ios" (click)="goTreceEvidencia()" class="fondo">
          <img height="200px" class="ion-padding" src="../../../assets/imagenes/subir evidencia.png" />
          <ion-card-header>
            <ion-card-title>Subir Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>