<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto15-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Plan auditoria</ion-title>
    <ion-card-subtitle class="ion-text-center">Establecer los requisitos para planificar, implementar, mantener un Programa de Auditorías
        aplicable al Sistema de Administración  y la comunicación de los resultados de auditorías
        internas o externas a las partes interesadas.</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Plan auditorias</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Fecha de ejecucion</ion-label>
              <ion-datetime display-format="DD.MM.YYYY " placeholder="Seleccione" name="fechaEjecucion" [(ngModel)]="datos.fechaEjecucion"></ion-datetime>
            </ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" placeholder="Auditor lider" name="nombre" [(ngModel)]="datos.nombre"></ion-input>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" placeholder="Auditor 1" name="nombreAuditor" [(ngModel)]="datos.nombreAuditor"></ion-input>
            <ion-item>
              <ion-label>Fecha-Hora de apertura</ion-label>
              <ion-datetime display-format="DD.MM.YYYY HH:mm" placeholder="Selecciona" name="fechaApertura" [(ngModel)]="datos.fechaApertura "></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Fecha-Hora de cierre</ion-label>
              <ion-datetime display-format="DD.MM.YYYY HH:mm" placeholder="Selecciona" name="fechaCierre" [(ngModel)]="datos.fechaCierre"></ion-datetime>
            </ion-item>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora1" [(ngModel)]="datos.fechaHora1"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento1" [(ngModel)]="datos.elemento1"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor1" [(ngModel)]="datos.nombreAuditor1"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones1" [(ngModel)]="datos.observaciones1"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 2</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora2" [(ngModel)]="datos.fechaHora2"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento2" [(ngModel)]="datos.elemento2"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor2" [(ngModel)]="datos.nombreAuditor2"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones2" [(ngModel)]="datos.observaciones2"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 3</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora3" [(ngModel)]="datos.fechaHora3"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento3" [(ngModel)]="datos.elemento3"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor3" [(ngModel)]="datos.nombreAuditor3"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones3" [(ngModel)]="datos.observaciones3"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 4</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora4" [(ngModel)]="datos.fechaHora4"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento4" [(ngModel)]="datos.elemento4"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor4" [(ngModel)]="datos.nombreAuditor4"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones4" [(ngModel)]="datos.observaciones4"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 5</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora5" [(ngModel)]="datos.fechaHora5"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento5" [(ngModel)]="datos.elemento5"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor5" [(ngModel)]="datos.nombreAuditor5"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones5" [(ngModel)]="datos.observaciones5"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 6</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora6" [(ngModel)]="datos.fechaHora6"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento6" [(ngModel)]="datos.elemento6"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor6"[(ngModel)]="datos.nombreAuditor6"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones6" [(ngModel)]="datos.observaciones6"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 7</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora7" [(ngModel)]="datos.fechaHora7"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento7" [(ngModel)]="datos.elemento7"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor7" [(ngModel)]="datos.nombreAuditor7"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones7" [(ngModel)]="datos.observaciones7"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 8</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora8" [(ngModel)]="datos.fechaHora8"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento8" [(ngModel)]="datos.elemento8"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor8" [(ngModel)]="datos.nombreAuditor8"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones8" [(ngModel)]="datos.observaciones8"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 9</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora1" [(ngModel)]="datos.fechaHora9"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento9" [(ngModel)]="datos.elemento9"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor9" [(ngModel)]="datos.nombreAuditor9" ></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones9" [(ngModel)]="datos.observaciones9"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ELEMENTOS DE SISTEMA DE ADMINISTRACIÓN</ion-card-title>
          <ion-card-subtitle>Elemento 10</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Fecha y hora</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm" name="fechaHora10" [(ngModel)]="datos.fechaHora10"></ion-datetime>
          </ion-item>
          <ion-label>ELEMENTO DE SISTEMA DE ADMINISTRACIÓN</ion-label>
          <ion-textarea placeholder="Descripcion" name="elemento10" [(ngModel)]="datos.elemento10"></ion-textarea>
          <ion-label>Nombre del auditor</ion-label>
          <ion-input type="text" placeholder="Nombre" name="nombreAuditor10" [(ngModel)]="datos.nombreAuditor10"></ion-input>
          <ion-label>Observaciones</ion-label>
          <ion-textarea placeholder="Descripcion" name="observaciones10" [(ngModel)]="datos.observaciones10"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-button type="submit">
            Guardar y enviar 
          </ion-button>
        <ion-button (click)="pdf()">
            Imprimir
          </ion-button>
    </ion-slide>
  </ion-slides>
</form>
</ion-content>
