<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button (click)="openCalendar()" color="primary">
        <ion-icon slot="start" name="calendar"></ion-icon>
        Calendario
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Procesos
    </ion-title>
  </ion-toolbar> <hr class="lineaN">
  <ion-toolbar color="light">
    <ion-segment (ionChange)="segmentChanged($event)" >
      <ion-segment-button value="camera">
        <label for="">Camara</label>
        <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <label for="Ayuda"></label>
      <ion-segment-button value="help" (click)="abriAyuda()" checked>
        <ion-icon name="help-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mapa" (click)="goToMapa()">
        <label for="Mapa"></label>
        <ion-icon name="map"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> 
</ion-header><br>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      Datos <br>ES
    </ion-fab-button>
  </ion-fab>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">OMS</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>¿Que es?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Molestias fuga quaerat ullam mollitia aperiam doloremque,
                  alias dolorum nemo autem laborum fugiat minus perspiciatis
                 numquam accusamus voluptatibus iure harum cupiditate maiores.
                 <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Molestias fuga quaerat ullam mollitia aperiam doloremque,
                   alias dolorum nemo autem laborum fugiat minus perspiciatis
                  numquam accusamus voluptatibus iure harum cupiditate maiores.
              </p><br>
              <h2>¿Cual es su proposito?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Molestias fuga quaerat ullam mollitia aperiam doloremque,
                  alias dolorum nemo autem laborum fugiat minus perspiciatis
                 numquam accusamus voluptatibus iure harum cupiditate maiores.
                 <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Molestias fuga quaerat ullam mollitia aperiam doloremque,
                   alias dolorum nemo autem laborum fugiat minus perspiciatis
                  numquam accusamus voluptatibus iure harum cupiditate maiores.
              </p><br>
              <h2>Ventajas de tenerlo</h2>
              <ol>
                <li>Primera ventaja</li>
                <li>Segunda ventaja</li>
                <li>Tercera ventaja</li>
                <li>Cuartaventaja</li>
              </ol>
              <h2>¿ A quienes beneficia?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Molestias fuga quaerat ullam mollitia aperiam doloremque,
                  alias dolorum nemo autem laborum fugiat minus perspiciatis
                 numquam accusamus voluptatibus iure harum cupiditate maiores.
                 <br>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Molestias fuga quaerat ullam mollitia aperiam doloremque,
                   alias dolorum nemo autem laborum fugiat minus perspiciatis
                  numquam accusamus voluptatibus iure harum cupiditate maiores.
              </p><br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
