.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
// ion-content{
//   //--ion-background-image : url('../../../assets/FondosEstilos/Dots2_100.png');
//    --ion-background-color:rgb(95, 218, 255);
// }
 .fondo{
   background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
  //background-color: black;
  //background-image: url('../../../assets/FondosEstilos/vms-transparencia.png');
}
.lineaN{
  background-color: #D79043 ;
  height: 5px; 
}
.carta{
  background-color:white;
}
