<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-dos"></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluación de aspectos ambientales</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div>
            <h3 class="ion-text-justify">Una vez identificados los riesgos, 
              el Representante Técnico determina cuáles de dichos impactos son los que representan 
              eventos o escenarios de riesgo, es decir, la carencia o pérdida de controles de ingeniería, 
              bajo el siguiente criterio de evaluación:
            </h3>
            <ion-card-title style="text-align: center;" ><b>F= Frecuencia </b>&nbsp;&nbsp;&nbsp;&nbsp;<b>C= Consecuenica</b>&nbsp;&nbsp;<b>M= Magnitud</b></ion-card-title>
            <h3>(Dezplaza para el siguiente slide)</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <hr class="linea">
    </div>
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Arribo de autotanque a la Estación de servico.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Maniobra dentro de la estación.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Golpe a instalaciones u otros vehículos o atropellamiento a otras personas.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F1"
                  [(ngModel)]="datos.F1"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C1"
                  [(ngModel)]="datos.C1"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Conexión e inicio de la descarga de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame o fuga durante la conexión y/o operación de llenado de tanque de almacenamiento.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F2"
                  [(ngModel)]="datos.F2"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C2"
                  [(ngModel)]="datos.C2"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Descarga de producto por autotanque.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Deslizamiento de autotanque, con desprendimiento de la manguera de descarga en ambos extremos.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame de producto.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number" 
                  min="1" 
                  max="4"
                  name="F3"
                  [(ngModel)]="datos.F3"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number" 
                  min="1" 
                  max="4"
                  name="C3"
                  [(ngModel)]="datos.C3"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Descarga de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Incendio durante el llenado del tanque de almacenamiento.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F4"
                  [(ngModel)]="datos.F4"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C4"
                  [(ngModel)]="datos.C4"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Descarga de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Indendio en tubos de venteo durante el llenado del tanque de almacenamiento.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F5"
                  [(ngModel)]="datos.F5"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C5"
                  [(ngModel)]="datos.C5"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Descarga de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Nivel de producto en tanques es erróneo.</li>
                    <li>Conexión a tanque diferente.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Sobrellenado de tanque de almacenamiento.</li>
                    <li>Derrrame de producto al realizar la desconexión.</li>
                  </ul>
                </ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F6"
                  [(ngModel)]="datos.F6"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C6"
                  [(ngModel)]="datos.C6"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Término de la descarga de producto y desconexión.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame o fuga durante la desconexión al término de la descarga.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F7"
                  [(ngModel)]="datos.F7"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C7"
                  [(ngModel)]="datos.C7"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Salida de autotanque a la estación de Servicio.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame de producto o fuga durante el despacho de producto a vehículos.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="F8"
                  [(ngModel)]="datos.F8"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C8"
                  [(ngModel)]="datos.C8"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Despacho de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame de producto o fuga durante el despacho de producto a vehículos.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="F9"
                  [(ngModel)]="datos.F9"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C9"
                  [(ngModel)]="datos.C9"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Despacho de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Distracción o mala intención del conductor del vehículo.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>
                  Derrame por desprendimiento de manguera de despacho de combustible por desplazamiento de vehículo.
                </ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F10"
                  [(ngModel)]="datos.F10"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C10"
                  [(ngModel)]="datos.C10"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Despacho de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Distracción o mala intención del conductor del vehículo.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame por derribo del dispensario por automóvil o camión y no opera la válvula shut-off.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F11"
                  [(ngModel)]="datos.F11"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C11"
                  [(ngModel)]="datos.C11"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card size="12" sizeMd="12" sizeLg="6" class="ion-text-left">
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Despacho de producto.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Incendio en el área de despacho, por derribo de dispensario o desprendimiento de manguera.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="F12"
                  [(ngModel)]="datos.F12"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C12"
                  [(ngModel)]="datos.C12"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Ejecución de trabajos de mantenimiento.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Derrame o fuga durante la ejecución de trabajos de mantenimiento.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="F13"
                  [(ngModel)]="datos.F13"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="0" 
                  max="4"
                  name="C13"
                  [(ngModel)]="datos.C13"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card size="12" sizeMd="12" sizeLg="6" class="ion-text-left">
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Operación normal.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Trampa de combustibles con hidrocarburos.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>
                  Incendio en trampa de Combustibles.
                </ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F14"
                  [(ngModel)]="datos.F14"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C14"
                  [(ngModel)]="datos.C14"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card size="12" sizeMd="12" sizeLg="6" class="ion-text-left">
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Operación normal.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Vandalismo.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Incendio en área de despacho.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F15"
                  [(ngModel)]="datos.F15"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C15"
                  [(ngModel)]="datos.C15"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Instalaciones eléctricas en operación.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  <ul>
                    <li>Equipos en mal estado.</li>
                    <li>Falta de conocimiento o de conciencia del personal.</li>
                  </ul>
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Incendio en instalaciones eléctricas.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F16"
                  [(ngModel)]="datos.F16"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C16"
                  [(ngModel)]="datos.C16"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Operación normal.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Sismo de magnitud considerable.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>Contaminación de subsuelo y mantos freáticos por fuga o derrame de combustible.</ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F17"
                  [(ngModel)]="datos.F17"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C17"
                  [(ngModel)]="datos.C17"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>

                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <ion-card>
              <ion-card-content>
                <ion-card-subtitle>Actividad</ion-card-subtitle>
                <ion-card-title>Operación normal.</ion-card-title>
                <hr class="linea1">
                <ion-card-subtitle>Peligro</ion-card-subtitle>
                <ion-card-title>
                  Inundación.
                </ion-card-title>
                <br>
                <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
                <ion-card-title>
                  Contaminación de subsuelo y mantos freáticos por fuga o derrame de combustible.
                </ion-card-title>
                <hr class="linea1">
                <ion-item>
                  <ion-label>Frecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="F18"
                  [(ngModel)]="datos.F18"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Consecuencia:</ion-label>
                  <ion-input 
                  placeholder="Selecciona"
                  type="number"  
                  min="1" 
                  max="4"
                  name="C18"
                  [(ngModel)]="datos.C18"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Magnitud:</ion-label>
                  
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col size="12" >
            <ion-card>
              <ion-card-content>
                <ion-button type="submit">
                  Enviar datos
                </ion-button>
                <ion-button>
                  Descargar
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>