<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VII. Comunicación, Participación y Consulta</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <hr class="linea">
</div>
<ion-content>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)=" goPuntoProcedimiento()" class="carta">
            <img
            class="ion-padding image"
            src="../../../assets/Imagenes/1_procedimiento.png"
            style="width: 50%; display: block; margin: auto;"
            />
            <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)=" goListaComunicacion()" class="carta">
            <img
            class="ion-padding image"
            src="../../../assets/Imagenes/Elemento 7/Lista_de_comunicacion.png"
            style="width: 50%; display: block; margin: auto;"
            />
            <ion-card-header>
              <ion-card-title>FS-05 Lista de comunicación</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4" >
          <ion-card  class="carta">
            <img
            class="ion-padding image"
            src="../../../assets/Imagenes/Elemento 7/Quejas_y_sugerencias.png"
            style="width: 50%; display: block; margin: auto;"
            />
            <ion-card-header>
              <ion-card-title>FS-06 Quejas y sugerencias</ion-card-title>
              <ion-card-content>
                <ion-button (click)="pdf()" expand="block" fill="clear" shape="round">
                  Consultar
                </ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <img
            class="ion-padding image"
            src="../../../assets/Imagenes/Elemento 7/registro_y_control_de_quejas_01.png"
            style="width: 50%; display: block; margin: auto;"
            />
            <ion-card-header>
              <ion-card-title>FS-07 Registro y control de quejas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)=" pdf2()" expand="block" fill="clear" shape="round">
                Consultar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)=" goPuntoEvidencia()" class="carta">
            <img
            class="ion-padding image"
            src="../../../assets/Imagenes/1_evidencia.png"
            style="width: 50%; display: block; margin: auto;"
            />
            <ion-card-header>
              <ion-card-title>Evidencia</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
