<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EVALUACIÓN DEL CUMPLIMIENTO DE REQUISITOS LEGALES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goAsea()">
            <img src="../../../assets/imagenes/asea.png" width="60%" height="60%" class="ion-padding"/>
            <ion-card-header>
              <ion-card-title>ASEA</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goComision()">
            <img src="../../../assets/imagenes/cre.png" width="60%" height="60%" class="ion-padding" />
            <ion-card-header>
              <ion-card-title>Comisión Reguladora de Energía</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goSecretaria()">
            <img src="../../../assets/imagenes/stps.png" width="60%" height="60%" class="ion-padding" />
            <ion-card-header>
              <ion-card-title>Secretaría del Trabajo y Prevensión Social</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goSemarnat()">
            <img src="../../../assets/imagenes/semarnat.png" class="ion-padding" />
            <ion-card-header>
              <ion-card-title>SEMARNAT</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goEstatal()">
            <ion-card-header>
              <ion-card-title>Legislación Estatal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card mode="ios" (click)="goLocal()">
            <ion-card-header>
              <ion-card-title>Legislación Local</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
