<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">V.FUNCIONES RESPONSABILIDADES Y AUTORIDAD</ion-title>
  </ion-toolbar><hr class="linea">
</ion-header>

<ion-content >
  <ion-grid fixed>
    <p style="margin:2%; text-align: justify;">
      Establece las acciones a seguir para identificar, adquirir y asignar los recursos necesarios, 
      la designación de funciones, responsabilidad y autoridad para establecer, documentar,
      implementar, mantener y mejorar el Sistema de Administración de Seguridad Industrial,
      Seguridad Operativa y Protección del Medio Ambiente.
    </p>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoCincoProcedimiento()" class="carta">
          <img  class="ion-padding" src="../../../assets/Imagenes/1_procedimiento.png" style="width: 40%; margin: auto; display: block;" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoCinco()" class="carta">
          <img  class="ion-padding" src="../../../assets/Imagenes/Elemento 5/5_cartadedesignacion-01.png" style="width: 40%; margin: auto; display: block;" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Carta de Designación del Representante Técnico</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoMatriz()" class="carta">
          <img class="ion-padding" src="../../../assets/Imagenes/Elemento 5/5_cartadedesignacion-01.png" style="width: 40%; margin: auto; display: block;" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-13 Matriz de Responsabilidades</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoCincoEvidencia()" class="carta">
          <img class="ion-padding" src="../../../assets/Imagenes/1_evidencia.png" style="width: 40%; margin: auto; display: block;" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
