

.politica1{
    font-size: 20px;
}
.lineaS{
    background-color:rgb(68, 68, 177);
    height: 3px;
}
.carta{
    background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
}
.lineaN{
    background-color:#D79043 ;
    height: 5px;
}
@media(max-width:1000px){
    .politica1{
        font-size: 10px;

    }
}