

.politica1{
    font-size: 40px;
}
.lineaS{
    background-color:rgb(68, 68, 177);
    height: 3px;
}
.carta{
    background-color: yellow;
    // background-image: url('../../../assets/Fondos/Dots2_100.png');
}
@media(max-width:1000px){
    .politica1{
        font-size: 20px;
    }
}