<ion-header>
  <ion-toolbar>
    <ion-title >P-IM-02 MANTENIMIENTO DE TANQUES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/punto-once"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <ion-card class="item1">
      <ion-card-content >
        <ion-item>
          <embed  src="../../../assets/docs/Punto11Pdfs/P-IM-02 MANTENIMIENTO DE TANQUES.pdf" type="application/pdf" width="100%" height="1000px" alt="pdf"/>
        </ion-item>  
      </ion-card-content>
    </ion-card>
  </ion-content>