<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SEGURIDAD DE CONTRATISTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios" (click)="goPuntoDoceCartaRes()">
          <img src="../../../assets/imagenes/diploma.svg" class="cartas">
          <ion-card-header>
            <ion-card-title class="ion-text-center">CARTA RESPONSIVA CONTRATISTAS</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" (click)="goPuntoDoceAnexoSeguridad()">
            <img src="../../../assets/imagenes/diploma.svg" alt="" class="cartas">
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-24 ANEXO DE SEGURIDAD</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" (click)="goPuntoDoceSeguridadContratista()">
          <img src="../../../assets/imagenes/diploma.svg" alt="" class="cartas">
          <ion-card-header>
            <ion-card-title class="ion-text-center">P-SA-12 SEGURIDAD DE CONTRATISTAS</ion-card-title>
          </ion-card-header>      
        </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
